Repository neo4j/neo4j, pull requests merged in 2018-03, with the labels that each got.

#11120 Increase the timeout for flaky test
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeValueIndexCursorTestBase.java
Labels: 3.4, cypher, test-only

#10968 Rename the Cypher frontend module to openCypher-frontend
  community/cypher/cypher-logical-plans-3.4/pom.xml
  community/cypher/cypher-planner-3.4/pom.xml
  community/cypher/cypher/pom.xml
  community/cypher/frontend-3.4/pom.xml
  community/cypher/ir-3.4/pom.xml
  enterprise/cypher/acceptance-spec-suite/pom.xml
  enterprise/cypher/cypher/pom.xml
  enterprise/cypher/morsel-runtime/pom.xml
  enterprise/cypher/physical-planning/pom.xml
  enterprise/cypher/slotted-runtime/pom.xml
Labels: 3.4, cypher, openCypher

#11124 Fixed text description of cypher replan algorithm settings
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
Labels: 3.3, config, cypher

#11133 Catch all kinds of EntityNotFoundExceptions on makeENFXSafe
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/helpers/JavaConversionSupport.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ApocAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/StartAcceptanceTest.scala
Labels: 3.2, changelog, cypher

#11118 Native index consider IOLimit on flush
  community/consistency-check/src/test/java/org/neo4j/consistency/checking/full/FullCheckIntegrationTest.java
  community/kernel/src/main/java/org/neo4j/kernel/api/index/IndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/AbstractDelegatingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/AbstractSwallowingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/ContractCheckingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/FlippableIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexingService.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/OnlineIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/PopulatingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storageengine/impl/recordstorage/RecordStorageEngine.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/ContractCheckingIndexProxyTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexProxyAdapter.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexingServiceTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/inmemory/InMemoryIndex.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/inmemory/UpdateCapturingIndexAccessor.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexAccessorTest.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/LuceneIndexAccessor.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/index/LuceneSchemaIndexPopulationIT.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/schema/LuceneSchemaIndexIT.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/schema/LuceneSchemaIndexProviderTest.java
  community/lucene-index/src/test/java/org/neo4j/kernel/impl/api/index/IndexingServiceIntegrationTest.java
Labels: 3.3, team-kernel

#11127 Make (almost all) TCKTests and AcceptanceTests executable with maven
  enterprise/cypher/acceptance-spec-suite/pom.xml
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/IndexAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/cypher/features/AcceptanceTests.scala
  enterprise/cypher/compatibility-spec-suite/pom.xml
  enterprise/cypher/compatibility-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/compatibility-spec-suite/src/test/scala/cypher/features/TCKTests.scala
  enterprise/cypher/pom.xml
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/ScenarioTestHelper.scala
Labels: 3.4, cypher, test-only

#11041 Fix most of Core API LBDC regressions
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/ResourceManager.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelection.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelectionCursor.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelectionIterator.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSelections.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelection.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelectionCursor.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelectionIterator.java
  community/kernel/src/main/java/org/neo4j/kernel/NeoStoreDataSource.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactions.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/NodeProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/ThreadToStatementContextBridge.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultCursors.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultNodeCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultNodeExplicitIndexCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultNodeLabelIndexCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultNodeValueIndexCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultPropertyCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultRelationshipExplicitIndexCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultRelationshipGroupCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultRelationshipScanCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultRelationshipTraversalCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/RelationshipCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/RelationshipReferenceEncoding.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/NodeValueClientFilterTest.java
Labels: 3.4, cypher, team-kernel

#11098 Spatial index cleanup
  community/collections/src/main/java/org/neo4j/helpers/collection/CombiningIterable.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SamplingUtil.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialCRSSchemaIndex.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialSchemaIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionSchemaIndexProvider.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/SpatialKnownIndexTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexAccessorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexUpdaterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionSchemaIndexProviderTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, cypher, team-kernel

#11129 Don't use MethodHandle#invokeWithArguments for procedures et al
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ReflectiveProcedureCompiler.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/ProcedureInteractionTestBase.java
Labels: 3.3, cypher, team-kernel

#11009 Fixes as issue with applying index updates to unique indexes
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ConflictDetectingValueMerger.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexUpdater.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/ConflictDetectingValueMergerTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexProviderTest.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/index/AccidentalUniquenessConstraintViolationIT.java
Labels: 3.3, changelog, team-kernel

#11113 Fixes bug with unsupported default value for explicit.remove procedures
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/BuiltInProcedures.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/BuiltInProceduresTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/BuiltInProceduresIT.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ManualIndexProcsIT.scala
Labels: 3.3, bug, changelog, cypher

#11128 Implement arithmetics for temporal values
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Add.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Divide.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Expression.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Multiply.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Subtract.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-33.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-interpreted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-slotted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/default.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalArithmeticAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher

#11141 Option to specify JVM for tests
  pom.xml
Labels: 3.4, build, team-kernel

#11123 Implement Comparability for temporal values.
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/predicates/ComparablePredicate.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-33.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-interpreted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-slotted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/default.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalComparisonAcceptance.feature
Labels: 3.4, cypher

#11138 Support for temporal types in Bolt
  community/bolt/src/main/java/org/neo4j/bolt/v1/messaging/BoltMessageRouter.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/messaging/BoltRequestMessageHandler.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/messaging/BoltRequestMessageReader.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/transport/BoltV1Dechunker.java
  community/bolt/src/main/java/org/neo4j/bolt/v2/messaging/Neo4jPackV2.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/BoltRequestMessageRecorder.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/BoltRequestMessageWriter.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/message/AckFailureMessage.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/message/DiscardAllMessage.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/message/InitMessage.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/message/PullAllMessage.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/message/RequestMessage.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/message/ResetMessage.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/message/RunMessage.java
  community/bolt/src/test/java/org/neo4j/bolt/v2/messaging/Neo4jPackV2Test.java
  community/bolt/src/test/java/org/neo4j/bolt/v2/transport/integration/BoltV2TransportIT.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/TimeZoneMapping.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/TimeZoneMappingTest.java
Labels: 3.4, bolt server

#11137 Fix regressions for nodeGetDegree
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledExpandUtils.java
  community/cypher/cypher/src/test/java/org/neo4j/cypher/internal/codegen/CompiledExpandUtilsTest.java
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/Nodes.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/NodesTest.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/StubCursorFactory.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/StubNodeCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/NodeProxy.java
Labels: 3.4, cypher, team-kernel

#11140 3.4 tls work
  community/kernel/src/main/java/org/neo4j/kernel/configuration/ssl/SslPolicyConfig.java
  community/kernel/src/main/java/org/neo4j/kernel/configuration/ssl/SslSystemSettings.java
  community/kernel/src/test/java/org/neo4j/kernel/configuration/ssl/SslSystemSettingsTest.java
  community/ssl/src/main/java/org/neo4j/ssl/KeyStoreFactory.java
  community/ssl/src/test/java/org/neo4j/ssl/KeyStoreFactoryTest.java
Labels: 3.4, enhancement, security

#11147 Fix remaining JS engine initialisation test failures
  integrationtests/src/test/java/org/neo4j/TransactionGuardIntegrationTest.java
  integrationtests/src/test/java/org/neo4j/TransactionTerminationIT.java
  integrationtests/src/test/java/org/neo4j/bolt/DeleteUserStressIT.java
  integrationtests/src/test/java/org/neo4j/bolt/SessionResetIT.java
  integrationtests/src/test/java/org/neo4j/server/BatchEndpointIT.java
  integrationtests/src/test/java/org/neo4j/server/BoltQueryLoggingIT.java
Labels: 3.2, team-kernel

#11143 Fix integration tests that failing on java 9
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/BoltThrottleMaxDurationIT.java
  community/neo4j/src/test/java/schema/MultipleIndexPopulationStressIT.java
Labels: 3.4, team-kernel

#11148 Disable hazelcast shutdown hook
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastDiscoveryServiceFactory.java
Labels: 3.2, bug, causal clustering, changelog

#11145 Backup command should print to stdout
  enterprise/backup/src/main/java/org/neo4j/backup/impl/BackupProtocolService.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/BackupSupportingClassesFactory.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/OnlineBackupCommandProvider.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupContextBuilderTest.java
  enterprise/backup/src/test/java/org/neo4j/causalclustering/BackupReadReplicaIT.java
Labels: 3.4, operability

#11130 Fix comments from Temporal PR review.
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher

#11135 Log TimeZone provider versions on startup
  community/kernel/src/main/java/org/neo4j/kernel/info/SystemDiagnostics.java
  community/kernel/src/test/java/org/neo4j/kernel/DiagnosticsLoggingTest.java
Labels: cypher, team-cypher, team-kernel

#11151 Fixed bug with date types stored after other properties
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/TemporalType.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/core/TestCombinedPropertyTypes.java
Labels: 3.4, bug, cypher

#11131 Temporal truncation
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/TemporalFunction.java
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/DateValue.java
  community/values/src/main/java/org/neo4j/values/storable/IntegralValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalDateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/Neo4JTemporalField.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  community/values/src/main/java/org/neo4j/values/virtual/MapValue.java
  community/values/src/main/java/org/neo4j/values/virtual/VirtualValues.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-33.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-interpreted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-slotted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/default.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalTruncateAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher

#11111 toString functionality for temporal and duration
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/StringFunctions.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/ToStringFunctionTest.scala
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-33.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-interpreted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-slotted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/default.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalArithmeticAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalToStringAcceptance.feature
Labels: 3.4, cypher

#11017 Elector identification now happens more reliably
  enterprise/cluster/src/main/java/org/neo4j/cluster/protocol/atomicbroadcast/multipaxos/context/ClusterContextImpl.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/protocol/atomicbroadcast/multipaxos/context/ElectionContextImpl.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/protocol/atomicbroadcast/multipaxos/context/HeartbeatContextImpl.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/protocol/cluster/ClusterContext.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/protocol/cluster/ClusterMessage.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/protocol/cluster/ClusterState.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/protocol/election/ElectionState.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/protocol/heartbeat/HeartbeatContext.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/protocol/heartbeat/HeartbeatLeftListener.java
  enterprise/cluster/src/test/java/org/neo4j/cluster/protocol/cluster/ClusterStateTest.java
  enterprise/cluster/src/test/java/org/neo4j/cluster/protocol/election/ElectionContextTest.java
  enterprise/cluster/src/test/java/org/neo4j/cluster/protocol/heartbeat/HeartbeatContextTest.java
Labels: 3.2, changelog, ha

#11157 Test that asserts TZIDS did not change. Take 2
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/TimeZoneMappingTest.java
Labels: 3.4, cypher, test-only

#11163 Allow "REMOVE null.p"
  community/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAcceptanceTest.scala
  community/cypher/cypher-compiler-3.1/src/main/scala/org/neo4j/cypher/internal/compiler/v3_1/ast/convert/plannerQuery/ClauseConverters.scala
Labels: 3.1, bug, cypher

#11132 Indexing for temporal values 2
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/DateLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexUpdater.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/IndexProviderCompatibilityTestSuite.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/SimpleIndexAccessorCompatibility.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/SimpleIndexPopulatorCompatibility.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/inmemory/InMemoryIndexProviderTest.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/schema/FusionSchemaIndexProviderCompatibilitySuiteTest.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/schema/LuceneSchemaIndexProviderCompatibilitySuiteTest.java
Labels: 3.4, cypher, team-kernel

#11136 Temporal accessors.
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Property.scala
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/DateValue.java
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalDateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-33.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-interpreted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-slotted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/default.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalAccessorAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher

#11161 Fix bug that concatenation of covariant lists would specify wrong type
  community/cypher/frontend-3.2/src/main/scala/org/neo4j/cypher/internal/frontend/v3_2/symbols/IntegerType.scala
  community/cypher/frontend-3.2/src/main/scala/org/neo4j/cypher/internal/frontend/v3_2/symbols/ListType.scala
  community/cypher/frontend-3.2/src/main/scala/org/neo4j/cypher/internal/frontend/v3_2/symbols/TypeSpec.scala
  community/cypher/frontend-3.2/src/test/scala/org/neo4j/cypher/internal/frontend/v3_2/ast/AddTest.scala
  community/cypher/frontend-3.2/src/test/scala/org/neo4j/cypher/internal/frontend/v3_2/symbols/TypeSpecTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAcceptanceTest.scala
Labels: 3.2, bug, cypher

#11142 Add support for spatial point values to the batch importer
  community/csv/pom.xml
  community/csv/src/main/java/org/neo4j/csv/reader/Extractors.java
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/MapSupport.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/PointFunction.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/ContainerIndexTest.scala
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/ValueUtils.java
  community/kernel/src/main/java/org/neo4j/unsafe/batchinsert/internal/BatchInserterImpl.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/EntityImporter.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/Inputs.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/csv/CsvInputBatchImportIT.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/csv/CsvInputTest.java
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  community/values/src/test/java/org/neo4j/values/storable/PointTest.java
  community/values/src/test/java/org/neo4j/values/utils/AnyValueTestUtil.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, cypher, feature

#11153 Improved couple Bolt tests
  community/bolt/src/test/java/org/neo4j/bolt/transport/TransportWriteThrottleTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/socket/ChunkedOutputTest.java
Labels: 3.4, bolt server, test-only

#10964 SeekCursor faster for ranged queries
  community/index/src/main/java/org/neo4j/index/internal/gbptree/GBPTree.java
  community/index/src/main/java/org/neo4j/index/internal/gbptree/SeekCursor.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/SeekCursorTestBase.java
Labels: 3.4, team-kernel

#11172 Skip lucene files copying in IndexConsistencyIT tests
  community/consistency-check/src/test/java/org/neo4j/consistency/checking/IndexConsistencyIT.java
Labels: 3.3, team-kernel

#11171 Enforce standard java variable names
  build/checkstyle.xml
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/RequiredTransportEncryptionIT.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/util/FibonacciHeap.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/util/GeoEstimateEvaluator.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/path/TestAStar.java
  community/io/src/test/java/org/neo4j/io/pagecache/PageCacheSlowTest.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeCursorTestBase.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/GeometryType.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/TimeZoneMapping.java
  community/kernel/src/test/java/org/neo4j/graphdb/factory/GraphDatabaseSettingsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/ArrayEncoderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/CompositeIndexAccessorCompatibility.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/TxStateCompositeIndexTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/core/TestRelationship.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/ArrayQueueOutOfOrderSequenceTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/TestGrowingFileMemoryMapping.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/kvstore/BigEndianByteArrayBufferTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/state/RelationshipGroupGetterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/state/TransactionRecordStateTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/traversal/TestMultipleStartNodes.java
  community/lucene-index/src/test/java/examples/RelatedNodesQuestionTest.java
  community/lucene-index/src/test/java/org/neo4j/index/impl/lucene/explicit/TestLuceneIndex.java
  community/neo4j/src/test/java/org/neo4j/metatest/TestGraphDescription.java
  community/neo4j/src/test/java/recovery/UniquenessRecoveryTest.java
  community/security/src/test/java/org/neo4j/server/security/auth/UserTest.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/ExecutionResultSerializerTest.java
  community/server/src/test/java/org/neo4j/server/rest/web/DatabaseActionsTest.java
  community/server/src/test/java/org/neo4j/server/rest/web/RestfulGraphDatabaseTest.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/Envelope.java
  community/spatial-index/src/test/java/org/neo4j/gis/spatial/index/EnvelopeTest.java
  community/values/src/main/java/org/neo4j/values/storable/CRSCalculator.java
  community/values/src/test/java/org/neo4j/values/storable/CoordinateReferenceSystemTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/consensus/roles/LeaderTest.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomIT.java
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/com/master/MasterImplTest.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/enterprise/builtinprocs/ListQueriesProcedureTest.java
  enterprise/management/src/main/java/org/neo4j/management/impl/BeanProxy.java
Labels: 3.4, build, team-kernel

#11162 Lazy evaluation of paths
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/commands/expressions/ShortestPathExpression.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/executionplan/procs/ProcedureExecutionResult.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/helpers/ValueConversion.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/pipes/matching/PatternRelationship.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/ImplicitValueConversion.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/commands/LengthFunctionTest.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/commands/expressions/PathValueBuilderTest.scala
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/PathWrappingPathValue.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/ValueUtils.java
  community/values/src/main/java/org/neo4j/values/virtual/PathValue.java
  community/values/src/main/java/org/neo4j/values/virtual/VirtualValues.java
Labels: 3.3, cypher

#11189 Fixed thread stickiness condition and add a couple of tests
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/BoltStateMachine.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/TransactionStateMachineTest.java
Labels: 3.4, bolt server, team-drivers

#11191 Default to do sequential bg flushing in importer
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/Configuration.java
Labels: 3.4, team-kernel

#11139 Explicitly reserve key bit for future use
  community/index/src/main/java/org/neo4j/index/internal/gbptree/DynamicSizeUtil.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/DynamicSizeUtilTest.java
Labels: 3.4, team-kernel

#11164 Reworked index drop during ongoing population.
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/AbstractDelegatingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/AbstractSwallowingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/ContractCheckingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/FailedIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/FlippableIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexPopulationJob.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexProxyCreator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexingService.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/OnlineIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/PopulatingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/RecoveringIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexAccessor.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/FlippableIndexProxyTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexProxyAdapter.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexStatisticsIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/PopulatingIndexProxyTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/SchemaIndexTestHelper.java
  community/neo4j/src/test/java/schema/MultiIndexPopulationConcurrentUpdatesIT.java
Labels: 3.4, team-kernel

#11166 Locking operations from Kernel API
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/ExecutionEngine.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/ExceptionTranslatingQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/DelegatingQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/QueryContext.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Locks.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementation.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/PropertyContainerProxyHelper.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/locking/StatementLocks.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/AllStoreHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Read.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/OperationsLockTest.java
  community/neo4j/src/test/java/org/neo4j/locking/QueryExecutionLocksIT.java
Labels: 3.4, cypher, team-kernel

#11169 Add support for temporal types to batch importer
  community/csv/src/main/java/org/neo4j/csv/reader/Extractors.java
  community/dbms/src/main/java/org/neo4j/commandline/dbms/CsvImporter.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/csv/DataFactories.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/csv/CsvInputBatchImportIT.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/csv/CsvInputTest.java
Labels: 3.4, cypher, feature

#11150 Fix incorrect index validity check for lucene indexes
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/LuceneIndexAccessor.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/schema/LuceneIndexAccessorTest.java
Labels: 3.4, bug, team-kernel

#11196 Change SchemaProcedure to use Kernel API
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/SchemaProcedure.java
Labels: 3.3, cypher

#11180 Fixes a native uniqueness index creation issue in clustering
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/TentativeConstraintIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ConflictDetectingValueMerger.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/DeferredConflictCheckingIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeNonUniqueSchemaNumberIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndex.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeUniqueSchemaNumberIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NonUniqueNumberLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SchemaNumberKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/UniqueNumberLayout.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/ConflictDetectingValueMergerTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/DeferredConflictCheckingIndexUpdaterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NativeUniqueSchemaNumberIndexPopulatorTest.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/index/AccidentalUniquenessConstraintViolationIT.java
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/PropertyConstraintsStressIT.java
Labels: 3.3, team-kernel

#11178 Bump surefire and failsafe maven plugins version to latest 2.21.0
  enterprise/backup/src/test/java/org/neo4j/backup/BackupToolTest.java
  pom.xml
Labels: 3.4, build, team-kernel

#11185 3.4 spatial configurable index
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialCRSSchemaIndex.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialSchemaIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionSchemaIndexProvider.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/SpatialKnownIndexTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionSchemaIndexProviderTest.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/NativeLuceneFusionSchemaIndexProviderFactory.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/PartialOverlapConfiguration.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/SpaceFillingCurve.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/SpaceFillingCurveMonitor.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/StandardConfiguration.java
  community/spatial-index/src/test/java/org/neo4j/gis/spatial/index/curves/SpaceFillingCurveTest.java
  community/values/src/main/java/org/neo4j/values/storable/NumberValues.java
Labels: 3.4, config, cypher

#11175 Spatial accessors x,y,z,longitude,latitude,height,crs
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/SemanticExpressionCheck.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/PropertyTest.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Property.scala
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, changelog, cypher

#11159 Changed test to assert error with CYPHER 3.3 and CREATE UNIQUE
  community/cypher/cypher/src/test/java/org/neo4j/cypher/internal/javacompat/NotificationAcceptanceTest.java
Labels: 3.4, cypher

#11174 Duration between
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/DateValue.java
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalDateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-33.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-interpreted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-slotted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/default.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/DurationBetweenAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, changelog, cypher

#11188 Make sure cursors are closed
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultCursors.java
  enterprise/cypher/cypher/src/main/java/org/neo4j/cypher/internal/v3_4/executionplan/GeneratedQuery.java
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/CodeGenerator.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/ExpandAllLoopDataGenerator.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/ExpandIntoLoopDataGenerator.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/IndexSeek.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/LoopDataGenerator.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/ScanAllNodes.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/ScanForLabel.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/UnwindCollection.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/UnwindPrimitiveCollection.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/WhileLoop.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/spi/MethodStructure.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/Fields.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/GeneratedMethodStructure.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/GeneratedQueryStructure.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/Templates.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compiled_runtime/spi/v3_4/GeneratedMethodStructureTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compiled_runtime/v3_4/codegen/ir/CodeGenSugar.scala
  pom.xml
Labels: 3.4, bug, cypher, team-kernel

#11190 Fix storing of temporal arrays with size > 1
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/CastSupport.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalCreateAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher

#11202 3.4 consensus log index debug
  community/graphdb-api/src/main/java/org/neo4j/graphdb/DependencyResolver.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/machines/tx/LastCommittedIndexFinder.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/machines/tx/RecoverConsensusLogIndex.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/machines/tx/ReplicatedTransactionStateMachine.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/snapshot/CoreStateDownloader.java
Labels: 3.4, causal clustering, enhancement

#11199 Make sure that NeoStores closes all successfully initialised stores if initialisation of a store fails.
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/NeoStores.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/NeoStoreOpenFailureTest.java
Labels: 3.4, team-kernel

#11167 Make sure that the page cache warmer does not artificially extend the life of file mappings.
  community/index/src/test/java/org/neo4j/index/internal/gbptree/GBPTreeTest.java
  community/io/src/main/java/org/neo4j/io/pagecache/PageCache.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/FileIsNotMappedException.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCache.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCursor.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPagedFile.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnWritePageCursor.java
  community/io/src/test/java/org/neo4j/io/pagecache/PageCacheSlowTest.java
  community/io/src/test/java/org/neo4j/io/pagecache/PageCacheTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/kvstore/AbstractKeyValueStoreTest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/EnterpriseCoreEditionModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/EnterpriseCoreEditionModuleIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModuleTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/io/pagecache/impl/muninn/VersionContextTrackingIT.java
  enterprise/cluster/LICENSES.txt
  enterprise/cluster/NOTICE.txt
  enterprise/com/LICENSES.txt
  enterprise/com/NOTICE.txt
  enterprise/cypher/acceptance-spec-suite/LICENSES.txt
  enterprise/cypher/acceptance-spec-suite/NOTICE.txt
  enterprise/cypher/compatibility-spec-suite/LICENSES.txt
  enterprise/cypher/compatibility-spec-suite/NOTICE.txt
  enterprise/cypher/cypher/LICENSES.txt
  enterprise/cypher/cypher/NOTICE.txt
  enterprise/cypher/morsel-runtime/LICENSES.txt
  enterprise/cypher/morsel-runtime/NOTICE.txt
  enterprise/cypher/slotted-runtime/LICENSES.txt
  enterprise/cypher/slotted-runtime/NOTICE.txt
  enterprise/cypher/spec-suite-tools/LICENSES.txt
  enterprise/cypher/spec-suite-tools/NOTICE.txt
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/factory/HighlyAvailableEditionModule.java
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/factory/HighlyAvailableEditionModuleIT.java
  enterprise/kernel/LICENSES.txt
  enterprise/kernel/NOTICE.txt
  enterprise/kernel/pom.xml
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/enterprise/EnterpriseEditionModule.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/PageCacheWarmer.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/enterprise/EnterpriseEditionModuleTest.java
  integrationtests/src/test/java/org/neo4j/kernel/PageCacheWarmupCcIT.java
  integrationtests/src/test/java/org/neo4j/kernel/PageCacheWarmupEnterpriseEditionIT.java
  integrationtests/src/test/java/org/neo4j/kernel/PageCacheWarmupTestSupport.java
Labels: 3.4, team-kernel

#11187 Fixes an issue splitting nodes containing large keys
  community/index/src/main/java/org/neo4j/index/internal/gbptree/TreeNodeDynamicSize.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/LargeDynamicKeysIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NativeStringIndexingIT.java
Labels: 3.4, team-kernel

#11186 Add temporal types to semantic checker.
  community/cypher/expressions-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/expressions/ArithmeticExpressions.scala
  community/cypher/expressions-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/expressions/PredicateExpressions.scala
  community/cypher/expressions-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/functions/ToString.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/SemanticExpressionCheck.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/AddTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/DivideTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/GreaterThanOrEqualTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/GreaterThanTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/LessThanOrEqualTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/LessThanTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/MultiplyTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/PropertyTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/SubtractTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/functions/ToStringTest.scala
  community/cypher/util-3.4/src/main/scala/org/neo4j/cypher/internal/util/v3_4/symbols/TypeSpec.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SemanticErrorAcceptanceTest.scala
Labels: 3.4, cypher

#11194 Make resumable store copy use index id to identify indexes, instead of IndexDescriptor.
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/schema/LabelSchemaDescriptor.java
  community/kernel/src/main/java/org/neo4j/kernel/api/schema/index/IndexDescriptor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/AbstractDelegatingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/AbstractSwallowingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/FlippableIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexMeta.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexProxyCreator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexingService.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/OnlineIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/PopulatingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/RecoveringIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/transaction/state/NeoStoreFileIndexListing.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/BatchingMultipleIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/FailedIndexProxyTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexPopulationJobTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexProxyAdapter.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulatorUpdatesTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/OnlineIndexProxyTest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/GetIndexFilesRequest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/GetIndexSnapshotRequestHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/IndexDescriptorSerializer.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyFiles.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyRequestHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyResponse.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/CatchupServerIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/FakeCatchupServer.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/GetIndexFilesRequestMarshalTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyFilesTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyRequestHandlerTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyResponseMarshalTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/SimpleCatchupClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientTest.java
Labels: 3.4, causal clustering, team-kernel

#11192 Updated java driver dependency
  integrationtests/src/test/java/org/neo4j/bolt/SessionResetIT.java
  integrationtests/src/test/java/org/neo4j/causalclustering/scenarios/BoltCausalClusteringIT.java
  pom.xml
Labels: 3.4, team-drivers, test-only

#11197 A couple of low hanging importer fixes
  community/dbms/src/main/java/org/neo4j/commandline/dbms/CsvImporter.java
  community/import-tool/src/main/java/org/neo4j/tooling/ImportTool.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/ImportLogic.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/cache/NodeLabelsCache.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/cache/NodeRelationshipCache.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/cache/idmapping/IdMapper.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/store/BatchingNeoStores.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/ImportLogicTest.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/RelationshipGroupDefragmenterTest.java
Labels: 3.4, team-kernel

#11184 Exposes --high-io option in neo4j-admin import
  community/dbms/src/main/java/org/neo4j/commandline/dbms/CsvImporter.java
  community/dbms/src/main/java/org/neo4j/commandline/dbms/ImportCommand.java
  community/dbms/src/test/java/org/neo4j/commandline/dbms/ImportCommandTest.java
  community/import-tool/src/main/java/org/neo4j/tooling/ImportTool.java
  community/import-tool/src/test/java/org/neo4j/tooling/QuickImport.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/StoreMigrator.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/Configuration.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/staging/ReadRecordsStep.java
Labels: 3.4, operability

#11220 CoreTopologyService constructor visibility change
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastCoreTopologyService.java
Labels: 3.4, causal clustering

#11201 Flaky IndexingServiceTest.shouldDeliverUpdatesThatOccurDuringPopulationToPopulator test fix
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexingServiceTest.java
Labels: 3.2, team-kernel

#11213 Fixes a race creating/dropping native index populator
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndexPopulator.java
Labels: 3.4, team-kernel

#11193 Fix slotted execution context mergeWith
  community/cypher/util-3.4/src/main/java/org/neo4j/cypher/internal/util/v3_4/AssertionRunner.java
  community/cypher/util-3.4/src/main/scala/org/neo4j/cypher/internal/util/v3_4/AssertionUtils.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/JoinAcceptanceTest.scala
  enterprise/cypher/physical-planning/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/SlotConfiguration.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/SlottedExecutionContext.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/SlottedPipeBuilder.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/helpers/SlottedPipeBuilderUtils.scala
  enterprise/cypher/slotted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/slotted/helpers/SlottedPipeBuilderUtilsTest.scala
Labels: 3.4, bug, cypher

#11208 Ignore the NeoStoreOpenFailureTest on Windows, because file permissions are troublesome there.
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/NeoStoreOpenFailureTest.java
Labels: 3.4, team-kernel

#11152 Native string index in fusion index
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeValueIndexCursorTestBase.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/ConstraintIndexCreator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/FilteringNativeHitIndexProgressor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/FilteringNativeHitIterator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeHitIndexProgressor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeHitIterator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberSchemaIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialSchemaIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringSchemaIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexPartReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexBase.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexSampler.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexUtils.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionSelector.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexUpdater.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/SimpleIndexPopulatorCompatibility.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/FilteringNativeHitIndexProgressorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/FilteringNativeHitIteratorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndexTestUtil.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/ResultCursor.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/SimpleHit.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexProviderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReaderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexTestHelp.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexUpdaterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexAccessorTest.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/NativeLuceneFusionIndexProviderFactory.java
  community/neo4j/src/test/java/org/neo4j/index/IndexSamplingIntegrationTest.java
  community/values/src/main/java/org/neo4j/values/storable/UTF8StringValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/NodeIndexSeekByRangeAcceptanceTest.scala
Labels: 3.4, team-kernel

#11223 Less indirection in result iteration
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/ResultIterator.scala
Labels: 3.3, cypher

#11222 Remove litter
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/0/casigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/0/private.key
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/0/rootsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/0/selfsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/1/casigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/1/private.key
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/1/rootsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/1/selfsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/2/casigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/2/private.key
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/2/rootsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/2/selfsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/3/casigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/3/private.key
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/3/rootsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/3/selfsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/4/casigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/4/private.key
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/4/rootsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/4/selfsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/5/casigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/5/private.key
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/5/rootsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/5/selfsigned.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/ca.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/ca.ext
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/ca.key
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/ca.srl
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/gen-ca.sh
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/gen-key.sh
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/gen-root.sh
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/root.crt
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/root.key
  community/security/src/test/resources/org/neo4j/security/ssl/test-certificates/root.srl
Labels: 3.4, causal clustering

#11229 Cleanup constraint index creator monitor
  community/kernel/src/main/java/org/neo4j/kernel/NeoStoreDataSource.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/ConstraintIndexCreator.java
  community/kernel/src/test/java/org/neo4j/graphdb/schema/ConcurrentCreateDropIndexIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/constraints/ConstraintIndexCreatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexIT.java
Labels: 3.4, team-kernel

#11158 Public static fields should also be final
  community/bolt/src/main/java/org/neo4j/bolt/BoltKernelExtension.java
  community/codegen/src/main/java/org/neo4j/codegen/Expression.java
  community/collections/src/main/java/org/neo4j/helpers/collection/PositionedIterator.java
  community/command-line/src/main/java/org/neo4j/commandline/admin/AdminTool.java
  community/common/src/main/java/org/neo4j/function/Predicates.java
  community/consistency-check/src/main/java/org/neo4j/consistency/statistics/AccessStatistics.java
  community/csv/src/main/java/org/neo4j/csv/reader/Mark.java
  community/cypher/cypher-planner-3.4/src/main/java/org/neo4j/cypher/internal/compiler/v3_4/common/CypherOrderability.java
  community/graphdb-api/src/main/java/org/neo4j/graphdb/InputPosition.java
  community/graphdb-api/src/main/java/org/neo4j/graphdb/PathExpanders.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/schema/SchemaUtil.java
  community/kernel/src/main/java/org/neo4j/helpers/Args.java
  community/kernel/src/main/java/org/neo4j/helpers/Format.java
  community/kernel/src/main/java/org/neo4j/helpers/HostnamePort.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelStatement.java
  community/kernel/src/main/java/org/neo4j/unsafe/batchinsert/internal/BatchInserterImpl.java
  community/procedure-compiler/processor/src/main/java/org/neo4j/tooling/procedure/validators/AllowedTypesValidator.java
  community/procedure-compiler/processor/src/main/java/org/neo4j/tooling/procedure/visitors/RecordFieldTypeVisitor.java
  community/server/src/main/java/org/neo4j/server/rest/repr/NodeRepresentation.java
  community/server/src/main/java/org/neo4j/server/rest/repr/RelationshipRepresentation.java
  community/server/src/main/java/org/neo4j/server/rest/web/CustomStatusType.java
  community/shell/src/main/java/org/neo4j/shell/kernel/apps/Trav.java
  community/udc/src/main/java/org/neo4j/ext/udc/UdcSettings.java
  community/values/src/main/java/org/neo4j/values/SequenceValue.java
  community/values/src/main/java/org/neo4j/values/VirtualValue.java
  community/values/src/main/java/org/neo4j/values/storable/Value.java
  community/values/src/main/java/org/neo4j/values/storable/ValueTuple.java
  community/values/src/main/java/org/neo4j/values/virtual/MapValue.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchupServer.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/tx/CatchupPollingProcess.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/CausalClusteringSettings.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/LeaderAvailabilityHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/RaftServer.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/membership/MembershipWaiter.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/identity/ClusterId.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/com/NetworkReceiver.java
  enterprise/cluster/src/main/java/org/neo4j/cluster/com/NetworkSender.java
  enterprise/com/src/main/java/org/neo4j/com/Client.java
  enterprise/com/src/main/java/org/neo4j/com/ComException.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/cluster/SwitchToSlave.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/enterprise/configuration/EnterpriseEditionSettings.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/enterprise/lock/forseti/DeadlockStrategies.java
  enterprise/metrics/src/main/java/org/neo4j/metrics/MetricsSettings.java
  enterprise/security/src/main/java/org/neo4j/server/security/enterprise/configuration/SecuritySettings.java
  pom.xml
Labels: 3.4, team-kernel

#11181 Temporal indexing IV - range scans
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/SemanticIndexAcceptanceTest.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/IndexQuery.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/IndexQueryTest.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/LookupFilter.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/StateHandlingStatementOperations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/TxState.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberSchemaIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialSchemaIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringSchemaIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexPartReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ZonedDateTimeSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultNodeValueIndexCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Read.java
  community/kernel/src/main/java/org/neo4j/storageengine/api/txstate/ReadableTransactionState.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/IndexQueryHelper.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/SimpleIndexAccessorCompatibility.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/inmemory/HashBasedIndex.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/inmemory/InMemoryIndexProviderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/StateHandlingStatementOperationsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/TxStateTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NumberSchemaIndexAccessorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReaderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexReaderTest.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/reader/SimpleIndexReader.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/schema/reader/PartitionedIndexReaderTest.java
  community/values/src/main/java/org/neo4j/values/storable/Values.java
Labels: 3.4, cypher, team-kernel

#11235 Bump Neo4j Browser to version 3.1.5
  community/server/pom.xml
Labels: 3.2

#11219 Implement SchemaWrite in Kernel API
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/CapableIndexReference.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/SchemaRead.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/SchemaWrite.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Transaction.java
  community/kernel-api/src/main/java/org/neo4j/storageengine/api/schema/PopulationProgress.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeValueIndexCursorTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/SchemaReadWriteTestBase.java
  community/kernel/src/main/java/org/neo4j/kernel/NeoStoreDataSource.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementation.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactions.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/ConstraintIndexCreator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/store/DefaultCapableIndexReference.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/store/StorageLayer.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/constraints/ConstraintSemantics.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/constraints/StandardConstraintSemantics.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/schema/PropertyNameUtils.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/schema/SchemaImpl.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/AllStoreHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultCapableIndexReference.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/main/java/org/neo4j/storageengine/api/StoreReadLayer.java
  community/kernel/src/test/java/org/neo4j/kernel/api/KernelTransactionFactory.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionTerminationTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionTestBase.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/constraints/ConstraintIndexCreatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/MockStore.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/NodeValueIndexCursorInMemoryTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/OperationsLockTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/WriteTestSupport.java
  community/lucene-index/src/test/java/org/neo4j/kernel/impl/newapi/NodeValueIndexCursorLuceneTest.java
  community/lucene-index/src/test/java/org/neo4j/kernel/impl/newapi/NodeValueIndexCursorNativeTest.java
  community/neo4j/src/test/java/org/neo4j/locking/QueryExecutionLocksIT.java
  enterprise/kernel/pom.xml
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/enterprise/EnterpriseConstraintSemantics.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/newapi/EnterpriseWriteTestSupport.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/newapi/SchemaReadWriteTest.java
Labels: 3.4, cypher, team-kernel

#11173 More Kernel API for Core API
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/RelationshipDataAccessor.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/Nodes.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelectionCursor.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelectionIterator.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelection.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelectionCursor.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelectionIterator.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/RelationshipScanCursorTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/RelationshipTestSupport.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/RelationshipTransactionStateTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/RelationshipTraversalCursorTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/StubRelationshipCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/NodeProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/RelationshipProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultRelationshipScanCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/RelationshipCursor.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/core/NodeProxyTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/OperationsLockTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CreateAcceptanceTest.scala
Labels: 3.4, cypher, team-kernel

#11212 Backup enabled setting tied to transaction protocol in CC
  enterprise/backup/src/main/java/org/neo4j/backup/OnlineBackupExtensionFactory.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandCcIT.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchupServer.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/RaftServerModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/TransactionBackupServiceProvider.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/server/CoreServerModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/Cluster.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ConnectionInfoIT.java
Labels: 3.4, causal clustering, operability

#11240 Fix bug with identical join hints on different optional matches
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/ast/convert/plannerQuery/ClauseConverters.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/AbstractIndexSeekLeafPlanner.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/LogicalPlanProducer.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/selectHasLabelWithJoin.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/verifyBestPlan.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/ast/convert/plannerQuery/MutatingStatementConvertersTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/ast/convert/plannerQuery/StatementConvertersTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/DefaultQueryPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/QueryGraphConnectedComponentsTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/idp/CartesianProductsOrValueJoinsTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/plans/IndexLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/plans/IndexScanLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/plans/IndexSeekLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/LegacyHintLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/OuterHashJoinTest.scala
  community/cypher/ir-3.2/src/main/scala/org/neo4j/cypher/internal/ir/v3_2/PlannerQuery.scala
  community/cypher/ir-3.2/src/main/scala/org/neo4j/cypher/internal/ir/v3_2/QueryGraph.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/JoinAcceptanceTest.scala
Labels: 3.2, bug, changelog, cypher

#11250 Test parsing of named timezones
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalParseAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher, test-only

#11245 Collapses Layout classes a bit further
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/BaseLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ComparableNativeSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/DateLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/DateSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/DurationLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/DurationSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/LocalDateTimeLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/LocalDateTimeSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/LocalTimeLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/LocalTimeSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberLayoutNonUnique.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberLayoutUnique.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SchemaLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialCRSSchemaIndex.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialLayoutNonUnique.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialLayoutUnique.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringLayoutNonUnique.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringLayoutUnique.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexFiles.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ZonedDateTimeLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ZonedDateTimeSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ZonedTimeLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ZonedTimeSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexProvider.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NativeStringIndexingIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/SpatialCRSSchemaIndexTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/StringNonUniqueLayoutTestUtil.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/StringUniqueLayoutTestUtil.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexProviderTest.java
Labels: 3.4, team-kernel

#11238 Make sure we always read at least one line of data from the metric file
  enterprise/metrics/src/test/java/org/neo4j/metrics/MetricsTestHelper.java
  enterprise/metrics/src/test/java/org/neo4j/metrics/output/RotatableCsvOutputIT.java
Labels: 3.4, team-kernel

#11231 Do backup through FileSystemAbstraction if applicable
  community/io/src/main/java/org/neo4j/io/fs/FileSystemAbstraction.java
  community/io/src/main/java/org/neo4j/io/pagecache/PageCache.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCache.java
  community/io/src/test/java/org/neo4j/adversaries/pagecache/AdversarialPageCache.java
  community/io/src/test/java/org/neo4j/io/pagecache/DelegatingPageCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/StoreType.java
  community/kernel/src/main/java/org/neo4j/kernel/internal/KernelDiagnostics.java
  enterprise/backup/src/main/java/org/neo4j/backup/BackupClient.java
  enterprise/backup/src/main/java/org/neo4j/backup/BackupServer.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreResource.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StreamToDisk.java
  enterprise/com/src/main/java/org/neo4j/com/BlockLogBuffer.java
  enterprise/com/src/main/java/org/neo4j/com/Client.java
  enterprise/com/src/main/java/org/neo4j/com/Protocol.java
  enterprise/com/src/main/java/org/neo4j/com/RequestType.java
  enterprise/com/src/main/java/org/neo4j/com/Server.java
  enterprise/com/src/main/java/org/neo4j/com/monitor/RequestMonitor.java
  enterprise/com/src/main/java/org/neo4j/com/storecopy/ExternallyManagedPageCache.java
  enterprise/com/src/main/java/org/neo4j/com/storecopy/StoreCopyServer.java
  enterprise/com/src/main/java/org/neo4j/com/storecopy/ToFileStoreWriter.java
  enterprise/com/src/test/java/org/neo4j/com/MadeUpServer.java
  enterprise/com/src/test/java/org/neo4j/com/ServerTest.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/AbstractHaRequestTypes.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/HaRequestType.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/HaRequestTypes.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/MasterClient214.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/com/master/MasterServer.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/com/master/SlaveClient.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/com/slave/SlaveServer.java
Labels: 3.3, team-kernel

#11262 Update Cypher compiler dependencies to 3.1.8
  community/cypher/cypher/pom.xml
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CreateAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ExpressionAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/HelpfulErrorMessagesTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MergeNodeAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/RemoveAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ShortestPathAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/UnionAcceptanceTest.scala
Labels: 3.4, cypher

#11253 Better error message for mismatch between crs and nbr of dimensions.
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, cypher

#11255 Update Cypher compiler dependencies to 3.1.8
  enterprise/cypher/cypher/pom.xml
Labels: 3.2, cypher

#11260 Update Cypher compiler dependencies to 3.1.8 and 3.2.10
  community/cypher/cypher/pom.xml
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CreateAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/EagerizationAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ExpressionAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/HelpfulErrorMessagesTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/HintAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MergeNodeAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/RemoveAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ShortestPathAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/UnionAcceptanceTest.scala
Labels: 3.3, cypher

#11203 Improve csv header parsing for batch importer 1
  community/csv/src/main/java/org/neo4j/csv/reader/BufferedCharSeeker.java
  community/csv/src/main/java/org/neo4j/csv/reader/CharSeeker.java
  community/csv/src/main/java/org/neo4j/csv/reader/Extractor.java
  community/csv/src/main/java/org/neo4j/csv/reader/Extractors.java
  community/csv/src/test/java/org/neo4j/csv/reader/ExtractorsTest.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/csv/CsvInputParser.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/csv/DataFactories.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/csv/Header.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/csv/CsvInputBatchImportIT.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/csv/CsvInputTest.java
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  community/values/src/test/java/org/neo4j/values/storable/PointTest.java
Labels: 3.4, cypher

#11265 Support SRID in Point creation and accessors
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  community/values/src/test/java/org/neo4j/values/storable/PointTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, cypher

#11241 Fix file content reader
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/CatchupServerIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientIT.java
Labels: 3.4, causal clustering, test-only

#11251 Resolved issue with port range not working for backup
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/TransactionBackupServiceAddressResolver.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/TransactionBackupServiceProvider.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/TransactionBackupServiceProviderTest.java
Labels: 3.4, causal clustering

#11243 Port almost all integration tests to use Kernel API
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/QueryContextAdaptation.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/UpdateCountingQueryContextTest.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/QueryContext.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/IndexReference.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Procedures.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/SchemaRead.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Transaction.java
  community/kernel/src/main/java/org/neo4j/kernel/NeoStoreDataSource.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementation.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactions.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/ConstraintIndexCreator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/constraints/StandardConstraintSemantics.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/NodeProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/AllStoreHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storageengine/impl/recordstorage/RecordStorageEngine.java
  community/kernel/src/test/java/org/neo4j/kernel/api/KernelTransactionFactory.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/SchemaProcedureIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionTerminationTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionTestBase.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/BuiltInProceduresIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/KernelIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/KernelIntegrationTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/LabelIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/NodeGetUniqueFromIndexSeekIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/ProceduresKernelIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/PropertyIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/RelationshipIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/TransactionHookIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/UniquenessConstraintValidationIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/MockStore.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/OperationsLockTest.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/AbstractConstraintCreationIT.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/NodeKeyConstraintCreationIT.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/NodePropertyExistenceConstraintCreationIT.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/PropertyConstraintValidationIT.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/PropertyExistenceConstraintVerificationIT.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/RelationshipPropertyExistenceConstraintCreationIT.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/UniquenessConstraintCreationIT.java
Labels: 3.4, cypher, team-kernel

#11261 Fix bug with identical join hints on different optional matches
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/ast/convert/plannerQuery/ClauseConverters.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/AbstractIndexSeekLeafPlanner.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/LogicalPlanProducer.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/selectHasLabelWithJoin.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/verifyBestPlan.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/ast/convert/plannerQuery/MutatingStatementConvertersTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/ast/convert/plannerQuery/StatementConvertersTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/DefaultQueryPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/QueryGraphConnectedComponentsTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/idp/CartesianProductsOrValueJoinsTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/plans/IndexLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/plans/IndexScanLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/plans/IndexSeekLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/LegacyHintLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/OuterHashJoinTest.scala
  community/cypher/ir-3.2/src/main/scala/org/neo4j/cypher/internal/ir/v3_2/PlannerQuery.scala
  community/cypher/ir-3.2/src/main/scala/org/neo4j/cypher/internal/ir/v3_2/QueryGraph.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/JoinAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/UsingAcceptanceTest.scala
Labels: 3.2, bug, cypher

#11272 Safe lifecycle for core life
  community/common/src/main/java/org/neo4j/kernel/lifecycle/SafeLifecycle.java
  community/common/src/test/java/org/neo4j/kernel/lifecycle/SafeLifecycleTest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/CoreLife.java
Labels: 3.2, causal clustering, enhancement

#11247 NativeLabelScanStore handles missing meta data page
  community/index/src/main/java/org/neo4j/index/internal/gbptree/GBPTree.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/GBPTreeTest.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/labelscan/NativeLabelScanStore.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/labelscan/NativeLabelScanStoreTest.java
Labels: 3.4, team-kernel

#11228 Use LocalSlotReferences to close all hanging transaction on pool close.
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactions.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storageengine/impl/recordstorage/RecordStorageCommandCreationContext.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/id/RenewableBatchIdSequence.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/id/ReuseExcessBatchIdsOnRestartIT.java
  community/primitive-collections/src/main/java/org/neo4j/collection/pool/LinkedQueuePool.java
  community/primitive-collections/src/main/java/org/neo4j/collection/pool/MarshlandPool.java
  community/primitive-collections/src/main/java/org/neo4j/collection/pool/Pool.java
Labels: 3.4, team-kernel

#11259 Implement nodeUniqueIndexSeek in Kernel API
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/QueryContextAdaptation.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/UpdateCountingQueryContextTest.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/QueryContext.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/CapableIndexReference.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/IndexReference.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Read.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/SchemaRead.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/SchemaWrite.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/SchemaReadWriteTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/StubRead.java
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/SchemaProcedure.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/store/DefaultCapableIndexReference.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/store/DefaultIndexReference.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/schema/SchemaImpl.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/AllStoreHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Read.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/KernelIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/KernelIntegrationTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/NodeGetUniqueFromIndexSeekIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/UniquenessConstraintValidationIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/MockStore.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/UniquenessConstraintCreationIT.java
Labels: 3.4, cypher

#11271 Restores number layout identifiers
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberLayoutNonUnique.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NumberLayoutUnique.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SchemaLayout.java
Labels: 3.4, team-kernel

#11210 Let semantic analysis specify return type of UDF
  community/cypher/cypher-logical-plans-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/logical/plans/ProcedureSignature.scala
  community/cypher/cypher-logical-plans-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/logical/plans/ResolvedFunctionInvocation.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalComparisonAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher

#11273 Fix failing blockdevice tests
  enterprise/com/src/main/java/org/neo4j/com/storecopy/StoreCopyServer.java
  enterprise/com/src/test/java/org/neo4j/com/storecopy/StoreCopyClientTest.java
Labels: 3.4, team-kernel

#11283 Update Cypher compiler dependencies to 3.3.4
  community/cypher/cypher/pom.xml
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_3/LogicalPlanConverterTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-33.txt
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/PatternComprehensionAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/RemoveAcceptanceTest.scala
Labels: 3.4, cypher

#11214 Return Temporal, TemporalAmount in REST endpoint
  community/kernel/src/test/java/org/neo4j/graphdb/SpatialMocks.java
  community/server/src/main/java/org/neo4j/server/rest/transactional/Neo4jJsonCodec.java
  community/server/src/test/java/org/neo4j/server/rest/AbstractRestFunctionalTestBase.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/ExecutionResultSerializerTest.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/integration/PointTypeIT.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/integration/TemporalTypeIT.java
Labels: 3.4, bolt server

#11279 Support uniqueness constraints for spatial points
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexReader.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialUniqueConstraintValidationAcceptanceTest.scala
Labels: 3.4, changelog, cypher, team-kernel

#11284 Allow import without diagnostic info to be closed
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/ImportLogic.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/ImportLogicTest.java
Labels: 3.4, team-kernel

#11282 Bump mockito to 2.16.0
  pom.xml
Labels: 3.4, build, team-kernel

#11280 Guard index create/flip/cancel with a lock to prevent concurrent execution of those
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulator.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulatorTest.java
Labels: 3.4, team-kernel

#11277 Revert "Add a system property to allow an override of tls protocol default"
  community/kernel/src/main/java/org/neo4j/kernel/configuration/ssl/SslPolicyConfig.java
  community/kernel/src/main/java/org/neo4j/kernel/configuration/ssl/SslSystemSettings.java
  community/kernel/src/test/java/org/neo4j/kernel/configuration/ssl/SslSystemSettingsTest.java
Labels: 3.4, causal clustering, security

#11274 Cluster compression IT and minor other things
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/CausalClusteringSettings.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/protocol/handshake/SupportedProtocols.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helpers/DataCreator.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterCompressionIT.java
Labels: 3.4, causal clustering, enhancement

#11292 Fix racy NPE in spatial index robustness
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/HilbertSpaceFillingCurve3D.java
Labels: 3.4, cypher

#11297 Remove warnings and allow spatial plugin to extend this class for RTree
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/Envelope.java
Labels: 3.4, cypher

#11276 Replication benchmark security
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/EnterpriseCoreEditionModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/replication/ReplicationBenchmarkProcedure.java
Labels: 3.2, bug, causal clustering, security

#11281 Use Mockito.never() instead of Mockito.times(0) in tests
  community/codegen/src/test/java/org/neo4j/codegen/CodeGenerationTest.java
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/NodeHashJoinPipeTest.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/ValueHashJoinPipeTest.scala
  community/kernel/src/test/java/org/neo4j/kernel/TestPlaceboTransaction.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/LockingStatementOperationsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexPopulationJobTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexRecoveryIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexingServiceTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulatorUpdatesTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/IndexTxStateUpdaterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/labelscan/LabelScanValueIndexProgressorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/labelscan/LabelScanValueIteratorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/labelscan/NativeLabelScanReaderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReaderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexUpdaterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexReaderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexUpdaterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/IndexTxStateUpdaterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/NodeStoreTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/log/BatchingTransactionAppenderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/log/pruning/ThresholdBasedPruneStrategyTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/state/RelationshipGroupGetterTest.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/staging/DynamicProcessorAssignerTest.java
  community/neo4j/src/test/java/org/neo4j/kernel/impl/storemigration/StoreUpgraderTest.java
  community/security/src/test/java/org/neo4j/commandline/admin/security/SetDefaultAdminCommandIT.java
  community/security/src/test/java/org/neo4j/commandline/admin/security/SetInitialPasswordCommandIT.java
  community/server/src/test/java/org/neo4j/server/rest/security/SecurityFilterTest.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/Neo4jJsonCodecTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/LocalDatabaseTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/tx/CatchupPollingProcessTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/consensus/log/segmented/SegmentsTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/consensus/roles/AppendingTest.java
  enterprise/cluster/src/test/java/org/neo4j/cluster/protocol/atomicbroadcast/multipaxos/LearnerStateTest.java
  enterprise/cluster/src/test/java/org/neo4j/cluster/protocol/election/ElectionStateTest.java
Labels: 3.4, team-kernel

#11294 Close transaction in kill query test
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/KillQueryTest.scala
Labels: 3.4, cypher, team-cypher

#11288 Adapt temporal to spec changes
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/DurationFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/TemporalFunction.java
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/DateValue.java
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  community/values/src/test/java/org/neo4j/values/storable/DurationValueTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/DurationBetweenAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalAccessorAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalTruncateAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
  integrationtests/src/test/java/org/neo4j/procedure/UserFunctionIT.java
  integrationtests/src/test/resources/misc/userDefinedFunctions
Labels: 3.4, cypher

#11285 Fix NativeLabelScanStoreTest.shouldRestartPopulationIfIndexFileWasNeverFullyInitialized
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/labelscan/NativeLabelScanStoreTest.java
Labels: 3.4, team-kernel

#11290 GBPTree.readHeader don't need layout
  community/index/src/main/java/org/neo4j/index/internal/gbptree/GBPTree.java
  community/index/src/main/java/org/neo4j/index/internal/gbptree/Layout.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/GBPTreePartialCreateFuzzIT.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/GBPTreeTest.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndexes.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialCRSSchemaIndex.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexProvider.java
Labels: 3.4, team-kernel

#11300 Test East-Saskatchewan
  community/kernel/src/test/java/org/neo4j/kernel/api/index/IndexProviderCompatibilityTestSuite.java
  community/values/src/test/java/org/neo4j/values/storable/DateTimeValueTest.java
  community/values/src/test/java/org/neo4j/values/storable/ValueComparisonTest.java
Labels: 3.4, cypher, test-only

#11302 Close test resources that were holding files on windows
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/FreeIdsAfterRecoveryTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/IdGeneratorContractTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/id/IdContainerTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/log/files/LogFilesBuilderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/log/files/TransactionLogFilesTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/log/reverse/ReversedSingleFileTransactionCursorTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/state/machines/id/ReplicatedIdGeneratorTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/state/machines/id/ReplicatedIdRangeAcquirerTest.java
Labels: 3.4, team-kernel

#11215 3.4 port spatial index to use same pattern as temporal index
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialCRSSchemaIndex.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexFiles.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexPartReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexPopulatingUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexUpdater.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/SpatialCRSSchemaIndexTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexProviderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexAccessorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexProviderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexReaderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexUpdaterTest.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/NativeLuceneFusionIndexProviderFactory.java
Labels: 3.4, cypher, team-kernel

#11308 Use different request builder for concurrent requests, additional failure message
  community/server/src/test/java/org/neo4j/server/rest/transactional/integration/TransactionIT.java
Labels: 3.4, team-kernel

#11293 Remove causeless direct byte buffers usages.
  community/io/src/test/java/org/neo4j/graphdb/mockfs/EphemeralFileSystemAbstraction.java
  community/io/src/test/java/org/neo4j/io/pagecache/StubPageCursor.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/SingleFilePageSwapperTest.java
  community/io/src/test/java/org/neo4j/io/pagecache/randomharness/RecordFormat.java
  community/io/src/test/java/org/neo4j/test/impl/ChannelInputStream.java
  community/io/src/test/java/org/neo4j/test/impl/ChannelOutputStream.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/transaction/log/entry/LogHeaderReader.java
  community/kernel/src/test/java/org/neo4j/metatest/TestEphemeralFileChannel.java
  community/kernel/src/test/java/org/neo4j/test/LogTestUtils.java
  community/kernel/src/test/java/org/neo4j/test/mockito/matcher/LogMatchers.java
  enterprise/com/src/test/java/org/neo4j/com/ClientCrashingWriter.java
  enterprise/com/src/test/java/org/neo4j/com/ServerTest.java
  tools/src/main/java/org/neo4j/tools/util/TransactionLogUtils.java
Labels: 3.4, team-kernel

#11233 Redesign StoreFileStreams
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchUpClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchUpResponseAdaptor.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchUpResponseCallback.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyResponseAdaptor.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/RemoteStore.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyResponseAdaptors.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreFileReceiver.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreFileStream.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreFileStreamProvider.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StreamToDisk.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StreamToDiskProvider.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/FakeCatchupServer.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/InMemoryStoreStreamProvider.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/RemoteStoreTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/SimpleCatchupClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StreamToDiskTest.java
Labels: 3.4, bug, causal clustering

#11319 Increase test heap size for surefire and failsafe tests from 2G to 3G
  pom.xml
Labels: 3.4, build, team-kernel

#11318 Rolledback refactor error from #11286
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/routing/load_balancing/procedure/ProcedureNames.java
  enterprise/causal-clustering/src/main/resources/META-INF/services/org.neo4j.causalclustering.routing.load_balancing.LoadBalancingPlugin
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/routing/load_balancing/LoadBalancingPluginLoaderTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/routing/multi_cluster/procedure/MultiClusterRoutingProcedureTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterOverviewIT.java
  enterprise/causal-clustering/src/test/resources/META-INF/services/org.neo4j.causalclustering.routing.load_balancing.LoadBalancingPlugin
Labels: 3.4, causal clustering

#11307 Throw exception if unknown key passed to point function
  community/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
  community/cypher/cypher-compiler-3.1/src/main/scala/org/neo4j/cypher/internal/compiler/v3_1/Geometry.scala
Labels: 3.1, cypher

#11314 Remove Kernel.cursors()
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Kernel.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/ConstraintTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/GraphPropertiesTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/KernelAPIReadTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/KernelAPIWriteTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeTransactionStateTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/RelationshipTransactionStateTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/TwoLayerTxStateTestBase.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/Kernel.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/NewKernel.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/constraints/ConstraintIndexCreatorTest.java
Labels: 3.4, cypher

#11317 Performance fixes for spatial lookups
  community/cypher/cypher/src/test/java/org/neo4j/cypher/GraphDatabaseServiceExecuteTest.java
  community/values/src/main/java/org/neo4j/values/storable/CRSTable.java
  community/values/src/main/java/org/neo4j/values/storable/CoordinateReferenceSystem.java
Labels: 3.4, cypher

#11312 IndexProviders correctly handle MetadataMismatchException from readHeader
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexProvider.java
Labels: 3.4, team-kernel

#11316 Remove FileWatcherLifecycleAdapter.
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/watcher/FileWatcherLifecycleAdapter.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/util/DefaultFileSystemWatcherServiceTest.java
Labels: 3.4, team-kernel

#11239 Core API: findNodes for composite and string queries
  community/graphdb-api/src/main/java/org/neo4j/graphdb/GraphDatabaseService.java
  community/graphdb-api/src/main/java/org/neo4j/graphdb/StringSearchMode.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeIndexTransactionStateTestBase.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/TxState.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultNodeValueIndexCursor.java
  community/kernel/src/main/java/org/neo4j/storageengine/api/txstate/ReadableTransactionState.java
  community/kernel/src/test/java/org/neo4j/graphdb/IndexingAcceptanceTest.java
  community/kernel/src/test/java/org/neo4j/graphdb/IndexingCompositeQueryAcceptanceTest.java
  community/kernel/src/test/java/org/neo4j/graphdb/IndexingStringQueryAcceptanceTestBase.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/NodeIndexTransactionStateTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/WriteTestSupport.java
  community/kernel/src/test/java/org/neo4j/test/rule/DatabaseRule.java
  community/shell/src/main/java/org/neo4j/shell/kernel/ReadOnlyGraphDatabaseProxy.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/StubGraphDatabaseService.java
Labels: 3.4, changelog, cypher, team-kernel

#11301 Support timezone in csv header and refactored header parsing for points
  community/csv/src/main/java/org/neo4j/csv/reader/BufferedCharSeeker.java
  community/csv/src/main/java/org/neo4j/csv/reader/CharSeeker.java
  community/csv/src/main/java/org/neo4j/csv/reader/Extractor.java
  community/csv/src/main/java/org/neo4j/csv/reader/Extractors.java
  community/csv/src/test/java/org/neo4j/csv/reader/ExtractorsTest.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/csv/DataFactories.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/csv/Header.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/csv/CsvInputTest.java
  community/values/src/main/java/org/neo4j/values/storable/CSVHeaderInformation.java
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/Value.java
  community/values/src/test/java/org/neo4j/values/storable/PointTest.java
  community/values/src/test/java/org/neo4j/values/storable/TimeValueTest.java
Labels: 3.4, cypher

#11323 Stress tests work
  enterprise/backup/src/test/java/org/neo4j/causalclustering/BackupUtil.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/machines/tx/ReplicatedTransactionStateMachine.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/ClusterMember.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/CoreClusterMember.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/ReadReplica.java
  integrationtests/src/test/java/org/neo4j/causalclustering/scenarios/ConvertNonCausalClusteringStoreIT.java
  stresstests/src/test/java/org/neo4j/causalclustering/stresstests/BackupLoad.java
  stresstests/src/test/java/org/neo4j/causalclustering/stresstests/BackupStoreCopyInteractionStressTesting.java
  stresstests/src/test/java/org/neo4j/causalclustering/stresstests/ClusterConfiguration.java
  stresstests/src/test/java/org/neo4j/causalclustering/stresstests/RepeatUntilOnSelectedMemberCallable.java
  stresstests/src/test/java/org/neo4j/helper/RepeatUntilCallable.java
Labels: 3.4, causal clustering, enhancement

#11321 Support TriadicSelection in the slotted runtime
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/TriadicSelectionPipe.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TriadicSelectionAcceptanceTest.scala
  enterprise/cypher/physical-planning/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/SlotAllocation.scala
Labels: 3.4, cypher

#11305 Throw exception if unknown key passed to point function in 3.4
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  community/values/src/test/java/org/neo4j/values/storable/PointTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, cypher

#11324 Moved ReflectiveProcedureCallAcceptanceTest to correct project
  enterprise/cypher/acceptance-spec-suite/src/test/java/org/neo4j/internal/cypher/acceptance/TestResourceProcedure.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ReflectiveProcedureCallAcceptanceTest.scala
Labels: 3.4, cypher, test-only

#11333 Fix expected_core_cluster_size ReplacedBy annotation
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/CausalClusteringSettings.java
Labels: 3.4, bug, causal clustering, config, docs

#11320 Optimize comparison for the most common case for DateTimeValue
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
Labels: 3.4, cypher

#11256 Unflake NativeSchemaIndexAccessorTest
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/FilteringNativeHitIndexProgressor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeHitIndexProgressor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndexReader.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndexAccessorTest.java
  community/values/src/main/java/org/neo4j/values/AnyValueComparator.java
  community/values/src/main/java/org/neo4j/values/storable/FloatingPointValue.java
  community/values/src/main/java/org/neo4j/values/storable/IntegralValue.java
  community/values/src/main/java/org/neo4j/values/storable/Value.java
Labels: 3.4, team-kernel

#11322 Guard against concurrent modification in lazy indexpopulation
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexPopulator.java
Labels: 3.4, bug, cypher

#11306 Cleanup poms and remove test from a test suite that checks latest iana doc version.
  community/values/pom.xml
  community/values/src/test/java/org/neo4j/values/storable/TimeZonesTest.java
  pom.xml
Labels: 3.4, team-kernel

#11313 Small commons-codec poms cleanup
  community/cypher/cypher/pom.xml
  community/logging/pom.xml
  enterprise/fulltext-addon/pom.xml
Labels: 3.4, build, team-kernel

#11299 Add java.xml.bind to a list of accessible modules
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/util/MessageMatchers.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/ConcurrentAccessIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/TransportSessionIT.java
  pom.xml
Labels: 3.4, team-kernel

#11329 Fixed flaky tests
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/AllNodesScanPipeTest.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/DirectedDirectedRelationshipByIdSeekPipeTest.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/NodeByIdSeekPipeTest.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/NodeByLabelScanPipeTest.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/NodeCountFromCountStorePipeTest.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/RelationshipCountFromCountStorePipeTest.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/UndirectedDirectedRelationshipByIdSeekPipeTest.scala
Labels: 3.4, team-kernel

#11084 Add two layer transaction state feature toggle
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/NotImplementedPlanContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/helpers.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/ExceptionTranslatingPlanContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundPlanContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionalContextWrapper.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContextTest.scala
  community/cypher/planner-spi-3.4/src/main/scala/org/neo4j/cypher/internal/planner/v3_4/spi/PlanContext.scala
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/ClassicCoreSPI.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ProcedureGDBFacadeSPI.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContext.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContextFactory.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/TransactionalContext.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContextTest.java
  community/neo4j/src/test/java/org/neo4j/locking/QueryExecutionLocksIT.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MergeNodeCompatibilityAcceptanceTest.scala
Labels: 3.4, cypher

#11225 Return hit ratio as part of the page cache bean
  enterprise/management/src/main/java/org/neo4j/management/PageCache.java
  enterprise/management/src/main/java/org/neo4j/management/impl/PageCacheBean.java
Labels: 3.3

#11303 Solve join hint on 1 variable with join on more variables, if possible
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/solveOptionalMatches.scala
  community/cypher/ir-3.2/src/main/scala/org/neo4j/cypher/internal/ir/v3_2/PlannerQuery.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/HintAcceptanceTest.scala
Labels: 3.2, bug, cypher

#11338 Wait for futures to complete instead of timeouts in delete stress tests
  community/cypher/cypher/src/test/java/org/neo4j/cypher/DeleteNodeStressIT.java
  community/cypher/cypher/src/test/java/org/neo4j/cypher/DeleteRelationshipStressIT.java
Labels: 3.4, cypher, team-cypher

#11340 Wait for updates from incremental backup before verifying in BloomBackupIT
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomBackupIT.java
Labels: 3.4, team-kernel

#11348 Redesign store file stream
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchUpClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchUpResponseAdaptor.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchUpResponseCallback.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyResponseAdaptor.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/RemoteStore.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyResponseAdaptors.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreFileReceiver.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreFileStream.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreFileStreamProvider.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StreamToDisk.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StreamToDiskProvider.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/FakeCatchupServer.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/InMemoryStoreStreamProvider.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/RemoteStoreTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/SimpleCatchupClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StreamToDiskTest.java
Labels: 3.4, bug, causal clustering

#11327 Temporal zone offsets, minute vs second precision
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalCreateAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalParseAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalIndexAcceptanceTest.scala
Labels: 3.4, cypher
