Repository neo4j/neo4j, pull requests merged in 2018-05, with the labels that each got.

#11109 Bump javadoc plugin version and tweak config
  pom.xml
Labels: 3.4

#11680 Unflake BoltSchedulerShouldReportFailureWhenBusyIT
  community/bolt/src/test/java/org/neo4j/bolt/runtime/integration/BoltSchedulerShouldReportFailureWhenBusyIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/socket/client/SocketConnection.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/socket/client/WebSocketConnection.java
Labels: 3.4, test-only

#11688 Bump neo4j-browser version to 3.1.9
  community/server/pom.xml
Labels: browser

#11494 Stabilize udc tests
  integrationtests/src/test/java/org/neo4j/ext/udc/impl/UdcExtensionImplIT.java
Labels: 3.4, team-kernel

#11666 Improve javadocs and method names around Transaction and Statement
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Transaction.java
  community/kernel/src/main/java/org/neo4j/kernel/api/KernelTransaction.java
  community/kernel/src/main/java/org/neo4j/kernel/api/Statement.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementation.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementationHandle.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/GraphPropertiesProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/NodeProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/RelationshipProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/StubKernelTransaction.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/TestKernelTransactionHandle.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/OperationsLockTest.java
  community/neo4j/src/test/java/org/neo4j/locking/QueryExecutionLocksIT.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/enterprise/builtinprocs/StubKernelTransaction.java
Labels: 3.4, cypher, team-kernel

#11621 More tests for property level security
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/plugin/PropertyLevelSecurityIT.java
Labels: 3.4, cypher, security, test-only

#11692 Set the Cypher version to the planner version.
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/PipeExecutionResult.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/RootPlanAcceptanceTest.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/planDescription/LogicalPlan2PlanDescription.scala
Labels: 3.4, bug, cypher

#11690 Make `listExistingMappings` not throw eviction exception.
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCache.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCacheTest.java
Labels: 3.4, team-kernel

#11635 Make temporal function case insensitive
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/procs/ProcedureSignature.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/procs/UserFunctionSignature.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ProcedureHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ProcedureRegistry.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ReflectiveProcedureCompiler.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/DateTimeFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/DurationFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/TemporalFunction.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/proc/ProcedureHolderTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/CloseTransactionTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/ExecutionEngineIT.scala
Labels: 3.4, cypher, enhancement

#11660 Make CompatibilityCache concurrency-safe
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/CompatibilityCache.scala
Labels: 3.2, bug, changelog, cypher

#11658 Improved recovery logging for native indexes
  community/index/src/main/java/org/neo4j/index/internal/gbptree/GBPTree.java
  community/kernel/src/main/java/org/neo4j/kernel/api/index/IndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/api/index/LoggingMonitor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndex.java
  community/logging/src/test/java/org/neo4j/logging/AssertableLogProvider.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/LuceneIndexProviderFactory.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/NativeLuceneFusionIndexProviderFactory10.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/NativeLuceneFusionIndexProviderFactory20.java
  community/neo4j/src/test/java/recovery/RecoveryCleanupIT.java
Labels: 3.4, team-kernel

#11543 Mark all visible for testing stuff with an annotation specific for that instead of comment
  community/common/src/main/java/org/neo4j/util/VisibleForTesting.java
  community/index/src/main/java/org/neo4j/index/internal/gbptree/GenerationSafePointer.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/StatementLocksFactorySelector.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/locking/community/LockManagerImpl.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storageengine/impl/recordstorage/RecordStorageEngine.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/transaction/log/pruning/LogPruneStrategyFactory.java
  community/shell/src/main/java/org/neo4j/shell/StartClient.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/enterprise/transaction/log/checkpoint/ConfigurableIOLimiter.java
Labels: 3.5, team-kernel

#11708 Use File.separator instead of "/" in RecoveryCleanupIT
  community/neo4j/src/test/java/recovery/RecoveryCleanupIT.java
Labels: 3.4, team-kernel

#11549 Exit on OOM errors during tests.
  pom.xml
Labels: 3.5, team-kernel

#11538 Bump asm version to 6.1.1
  community/bolt/LICENSES.txt
  community/bolt/NOTICE.txt
  community/codegen/LICENSES.txt
  community/codegen/NOTICE.txt
  community/codegen/pom.xml
  community/codegen/src/main/java/org/neo4j/codegen/bytecode/ByteCodeVerifier.java
  community/codegen/src/main/java/org/neo4j/codegen/source/MethodSourceWriter.java
  community/cypher/cypher/LICENSES.txt
  community/cypher/cypher/NOTICE.txt
  community/neo4j-community/LICENSES.txt
  community/neo4j-community/NOTICE.txt
  community/neo4j-harness/LICENSES.txt
  community/neo4j-harness/NOTICE.txt
  community/neo4j/LICENSES.txt
  community/neo4j/NOTICE.txt
  community/server-plugin-test/LICENSES.txt
  community/server-plugin-test/NOTICE.txt
  community/server/LICENSES.txt
  community/server/NOTICE.txt
  enterprise/cypher/acceptance-spec-suite/LICENSES.txt
  enterprise/cypher/acceptance-spec-suite/NOTICE.txt
  enterprise/cypher/compatibility-spec-suite/LICENSES.txt
  enterprise/cypher/compatibility-spec-suite/NOTICE.txt
  enterprise/cypher/cypher/LICENSES.txt
  enterprise/cypher/cypher/NOTICE.txt
  enterprise/cypher/morsel-runtime/LICENSES.txt
  enterprise/cypher/morsel-runtime/NOTICE.txt
  enterprise/cypher/physical-planning/LICENSES.txt
  enterprise/cypher/physical-planning/NOTICE.txt
  enterprise/cypher/slotted-runtime/LICENSES.txt
  enterprise/cypher/slotted-runtime/NOTICE.txt
  enterprise/neo4j-enterprise/LICENSES.txt
  enterprise/neo4j-enterprise/NOTICE.txt
  enterprise/neo4j-harness-enterprise/LICENSES.txt
  enterprise/neo4j-harness-enterprise/NOTICE.txt
  enterprise/server-enterprise/LICENSES.txt
  enterprise/server-enterprise/NOTICE.txt
  packaging/standalone/standalone-community/src/main/distribution/text/community/LICENSES.txt
  packaging/standalone/standalone-community/src/main/distribution/text/community/NOTICE.txt
  pom.xml
Labels: 3.5, team-kernel

#11678 Back port StartupLoggingIT test directories usage
  community/server/src/test/java/org/neo4j/server/integration/StartupLoggingIT.java
Labels: 3.3, team-kernel

#11701 Fix HA test after mocking cleanup
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/cluster/member/HighAvailabilitySlavesTest.java
Labels: 3.4, team-kernel

#11702 Support temporal arithmetics in compiled runtime
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledConversionUtils.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledMathHelper.java
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/codegen/CompiledMathHelperTest.scala
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalAccessorAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalArithmeticAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, bug, cypher

#11699 Fix NPE in array execution context
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ProceduresAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SameQueryStressTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TestGraph.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/ArrayResultExecutionContext.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/ProduceResultSlottedPipe.scala
  enterprise/cypher/slotted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/ProduceResultSlottedPipeStressTest.scala
Labels: 3.4, bug, cypher

#11648 Make sure to not hide costs underneath cartesian product
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/CardinalityCostModel.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CostPlannerAcceptanceTest.scala
Labels: 3.3, bug, cypher

#11703 Move all index to atomic files.
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandCcIT.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyFiles.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyRequestHandler.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/CatchupServerIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyFilesTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyRequestHandlerTest.java
Labels: 3.4, causal clustering

#11715 Normalize nanos to be between 0 and 1s
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/test/java/org/neo4j/values/storable/DurationValueTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalToStringAcceptance.feature
Labels: 3.4, cypher

#11696 Increase handshake defualt timeout to 20 s
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/CausalClusteringSettings.java
Labels: 3.4, causal clustering

#11718 Revert "Switch cost planner setting default to disabled"
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ExecutionEngineTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAcceptanceTest.scala
Labels: 3.4, cypher

#11721 Configurable default time zone
  community/dbms/src/main/java/org/neo4j/commandline/dbms/CsvImporter.java
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/DataSourceModule.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/EditionModule.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ProcedureConfig.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/DateFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/DateTimeFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/LocalDateTimeFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/LocalTimeFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/TemporalFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/TimeFunction.java
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/DateValue.java
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalDateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/DurationBetweenAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TimeZoneAcceptanceTest.scala
Labels: 3.4, bug, cypher, team-kernel

#11723 Bump neo4j-browser version to 3.1.11
  community/server/pom.xml
Labels: 3.2, browser

#11567 Update and change scalap dependency to test-only
  enterprise/cypher/spec-suite-tools/LICENSES.txt
  enterprise/cypher/spec-suite-tools/NOTICE.txt
  enterprise/cypher/spec-suite-tools/pom.xml
Labels: 3.3, cypher, security

#11675 Unify and extend thread dump utils used for reporting and during testing
  community/dbms/src/main/java/org/neo4j/dbms/diagnostics/jmx/JmxDump.java
  community/io/src/test/java/org/neo4j/test/ThreadTestUtils.java
  community/kernel/src/main/java/org/neo4j/diagnostics/utils/DumpUtils.java
  community/kernel/src/test/java/org/neo4j/test/rule/VerboseTimeout.java
  stresstests/src/test/java/org/neo4j/backup/stresstests/BackupServiceStressTesting.java
Labels: 3.5, team-kernel

#11713 Adds primitive implementations of DISTINCT
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/QueryPlannerConfiguration.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/Selector.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/pickBestPlanUsingHintsAndCost.scala
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArraySet.java
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/PrefetchingIterator.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArraySetTest.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/SlottedPipeBuilder.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/DistinctSlottedPrimitivePipe.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/DistinctSlottedSinglePrimitivePipe.scala
Labels: 3.5, cypher, enhancement

#11551 Update SslNegotiationTest to be able to run it on red hat openjdk.
  integrationtests/src/test/java/org/neo4j/ssl/SslNegotiationTest.java
Labels: 3.5, team-kernel

#11714 Better naming around MultipleIndexPopulator
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/BatchingMultipleIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexPopulationJob.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulator.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/BatchingMultipleIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexPopulationTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulatorUpdatesTest.java
Labels: 3.5, team-kernel

#11738 Update java 9 profile to be java 9 and later
  pom.xml
Labels: 3.5, build, team-kernel

#11527 Bump checkstyle version to 8.10
  pom.xml
Labels: 3.5, team-kernel

#11710 GBPTreePlayground
  community/index/src/main/java/org/neo4j/index/internal/gbptree/GBPTree.java
  community/index/src/main/java/org/neo4j/index/internal/gbptree/TreePrinter.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/SimpleLongLayout.java
  tools/pom.xml
  tools/src/test/java/org/neo4j/tools/org/neo4j/index/GBPTreePlayground.java
Labels: 3.5, team-kernel

#11482 Bump revapi versions
  pom.xml
Labels: 3.5, team-kernel

#11716 Minor performance improvements
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledCursorUtils.java
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v2_3/TransactionBoundQueryContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_1/TransactionBoundQueryContext.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/codegen/CompiledCursorUtilsTest.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContextTest.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/NodeCursor.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeCursorTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeTransactionStateTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/StubNodeCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/NodeProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultNodeCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Labels.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/NodeSchemaMatcher.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContext.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/KernelIntegrationTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContextTest.java
Labels: 3.5, cypher

#11746 Update revapi exclusion patterns to cover packages that finish with impl or internal
  pom.xml
Labels: 3.5, team-kernel

#11752 Return correct HTTPS uri in Neo4jRule
  community/neo4j-harness/pom.xml
  community/neo4j-harness/src/main/java/org/neo4j/harness/junit/Neo4jRule.java
  community/neo4j-harness/src/test/java/org/neo4j/harness/junit/Neo4jRuleTest.java
Labels: 3.5

#11754 Flip test message java version condition
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/RejectTransportEncryptionIT.java
Labels: 3.5, team-kernel

#11755 Remove useless semi-colon
  community/graphdb-api/src/main/java/org/neo4j/graphdb/StringSearchMode.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeWriteTestBase.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexStoreView.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/kvstore/AbstractKeyValueStoreTest.java
Labels: 3.5, team-kernel

#11758 Replace chain of if with switch
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/RandomEntityDataGenerator.java
  community/server/src/main/java/org/neo4j/server/rest/web/RestfulGraphDatabase.java
  community/shell/src/main/java/org/neo4j/shell/kernel/apps/Cd.java
Labels: 3.5, team-kernel

#11536 Wait for processing thread to finish in LonelyProcessingStepTest
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/staging/LonelyProcessingStepTest.java
Labels: 3.5, team-kernel

#11540 Fail test when deletion of test data folder failing.
  community/io/src/main/java/org/neo4j/io/fs/FileUtils.java
  community/io/src/test/java/org/neo4j/test/rule/TestDirectory.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/BadCollector.java
  community/kernel/src/test/java/org/neo4j/kernel/RecoveryIT.java
  community/kernel/src/test/java/org/neo4j/test/Unzip.java
  community/neo4j/src/test/java/schema/MultipleIndexPopulationStressIT.java
  community/server/src/main/java/org/neo4j/server/AbstractNeoServer.java
  community/server/src/main/java/org/neo4j/server/web/AsyncRequestLog.java
  enterprise/query-logging/src/test/java/org/neo4j/kernel/impl/query/QueryLoggerIT.java
  integrationtests/src/test/java/org/neo4j/storeupgrade/StoreUpgradeIT.java
Labels: 3.5, team-kernel

#11722 Change name of Cypher version
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/CypherVersion.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/CompilerEngineDelegator.scala
  community/cypher/cypher/src/test/java/org/neo4j/cypher/internal/javacompat/NotificationAcceptanceTest.java
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/ExecutionEngineIT.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/QueryCachingTest.scala
  community/cypher/planner-spi-3.5/src/main/scala/org/neo4j/cypher/internal/planner/v3_5/spi/PlannerName.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/planDescription/LogicalPlan2PlanDescription.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/planDescription/LogicalPlan2PlanDescriptionTest.scala
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CypherComparisonSupport.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/HelpfulErrorMessagesTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MergeNodeCompatibilityAcceptanceTest.scala
  enterprise/cypher/cypher/src/test/java/org/neo4j/cypher/internal/javacompat/ExecutionResultTest.java
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/CypherCompatibilityTest.scala
Labels: 3.5, bug, cypher

#11760 Add access to propertiesReference to RelationshipSelectionCursor
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledExpandUtils.java
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/profiler/Profiler.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelectionCursor.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSelectionCursor.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelectionCursor.java
Labels: 3.4.1, cypher

#11676 Relax id reuse test expectations till tx pool will be fixed
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/id/ReuseExcessBatchIdsOnRestartIT.java
Labels: 3.4, team-kernel

#11681 Print additional info when id controller not found in NodeIdReuseStressIT
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/enterprise/store/id/NodeIdReuseStressIT.java
Labels: 3.4, team-kernel

#11763 Make SharedDiscovery canBeBootstrapped logic more deterministic
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryCoreClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryService.java
Labels: 3.4.1, causal clustering

#11783 Small cleanup in random-values module
  community/random-values/pom.xml
  community/random-values/src/main/java/org/neo4j/values/storable/RandomGenerator.java
  community/random-values/src/main/java/org/neo4j/values/storable/RandomValues.java
  community/random-values/src/main/java/org/neo4j/values/storable/SplittableRandomGenerator.java
Labels: 3.5, team-kernel

#11659 Actually performs INDEX DROP transactions during recovery
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexingService.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/transaction/log/PhysicalLogVersionedStoreChannel.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/transaction/log/entry/LogEntryWriter.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexingServiceTest.java
  community/neo4j/src/test/java/org/neo4j/kernel/impl/index/schema/RecoverIndexDropIT.java
  community/neo4j/src/test/java/schema/MultiIndexPopulationConcurrentUpdatesIT.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/tx/TxPullResponseEncoder.java
  enterprise/com/src/main/java/org/neo4j/com/CommittedTransactionSerializer.java
  enterprise/com/src/main/java/org/neo4j/com/Server.java
  tools/src/main/java/org/neo4j/tools/dump/TransactionLogAnalyzer.java
  tools/src/main/java/org/neo4j/tools/util/TransactionLogUtils.java
Labels: 3.4, 3.4.1, team-kernel

#11748 Add missing accessors to duration
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalAccessorAcceptance.feature
Labels: 3.4.1, changelog, cypher

#11741 Fix toString for db.temporal.timezone setting
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  community/kernel/src/main/java/org/neo4j/kernel/configuration/Settings.java
Labels: 3.4, cypher

#11503 Removed unused centrality classes
  community/graph-algo/src/main/java/org/neo4j/graphalgo/MaxCostEvaluator.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/ancestor/AncestorsUtil.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/BetweennessCentrality.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/ClosenessCentrality.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/CostDivider.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/Eccentricity.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/EigenvectorCentrality.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/EigenvectorCentralityArnoldi.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/EigenvectorCentralityBase.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/EigenvectorCentralityPower.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/NetworkDiameter.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/NetworkRadius.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/ParallellCentralityCalculation.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/ShortestPathBasedCentrality.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/StressCentrality.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/centrality/package-info.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/util/BestFirstSelectorFactory.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/util/DoubleComparator.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/util/IntegerComparator.java
  community/graph-algo/src/main/java/org/neo4j/graphalgo/impl/util/MatrixUtil.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/BetweennessCentralityTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/ClosenessCentralityTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/EccentricityTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/EigenvectorCentralityArnoldiTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/EigenvectorCentralityPowerTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/EigenvectorCentralityTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/NetworkDiameterTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/NetworkRadiusTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/ParallellCentralityCalculationTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/centrality/StressCentralityTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/impl/ancestor/AncestorTestCase.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/shortestpath/DijkstraDirectionTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/shortestpath/DijkstraIteratorTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/shortestpath/DijkstraMultiplePathsTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/shortestpath/DijkstraMultipleRelationshipTypesTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/shortestpath/DijkstraTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/shortestpath/FloydWarshallTest.java
  community/graph-algo/src/test/java/org/neo4j/graphalgo/shortestpath/SingleSourceShortestPathDijkstraTest.java
Labels: 3.5, team-kernel

#11780 Remove custom junit in sub modules
  enterprise/cypher/acceptance-spec-suite/pom.xml
  enterprise/cypher/acceptance-spec-suite/src/test/scala/cypher/features/AcceptanceTests.scala
  enterprise/cypher/compatibility-spec-suite/pom.xml
  enterprise/cypher/compatibility-spec-suite/src/test/scala/cypher/features/TCKTests.scala
  enterprise/cypher/pom.xml
Labels: 3.5, build, team-cypher, team-kernel

#11668 Increase the swapper id limit.
  community/io/src/main/java/org/neo4j/io/mem/GrabAllocator.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPagedFile.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/PageList.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/SwapperSet.java
  community/io/src/test/java/org/neo4j/io/mem/MemoryAllocatorTest.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/PageListTest.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/SequenceLockStressIT.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/SwapperSetTest.java
Labels: 3.4, 3.4.1, team-kernel

#11777 Fix bug in DefaultRelationshipTraversalCursor filter state.
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/RelationshipTestSupport.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultRelationshipTraversalCursor.java
Labels: 3.4, cypher, team-kernel

#11674 Increase swapper id limit, allowing more files (like indexes) to be opened by the page cache, and fix a MemoryManager bug around alignment handling.
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/PageList.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/SwapperSet.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/PageListTest.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/SwapperSetTest.java
  community/unsafe/src/main/java/org/neo4j/unsafe/impl/internal/dragons/MemoryManager.java
Labels: 3.3, changelog, team-kernel

#11580 [3.4.1] Configurable CORS header
  community/server/src/main/java/org/neo4j/server/configuration/ServerSettings.java
  community/server/src/main/java/org/neo4j/server/modules/RESTApiModule.java
  community/server/src/main/java/org/neo4j/server/rest/web/CorsFilter.java
  community/server/src/test/java/org/neo4j/server/rest/security/AuthorizationCorsIT.java
  community/server/src/test/java/org/neo4j/server/rest/security/CommunityServerTestBase.java
  community/server/src/test/java/org/neo4j/server/rest/web/CorsFilterTest.java
  packaging/standalone/standalone-community/src/main/distribution/text/community/conf/neo4j.conf
Labels: 3.4.1, team-drivers

#11781 Cache local topology information and various minor cleanup
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/AbstractTopologyService.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/CoreTopology.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastCoreTopologyService.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastDiscoveryServiceFactory.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/HazelcastClientTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryCoreClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryReadReplicaClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/upstream/strategies/UserDefinedConfigurationStrategyTest.java
Labels: 3.4, causal clustering, changelog, enhancement

#11656 Acquires shared label locks on more node operations
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/test/java/org/neo4j/graphdb/schema/UpdateDeletedIndexIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/OperationsLockTest.java
Labels: 3.4, 3.4.1, team-kernel

#11689 Fix bug in un-directed ProjectEndPoints when both end points are in scope
  community/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  community/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-30.txt
  community/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  community/cypher/acceptance-spec-suite/src/test/resources/cypher/features/PatternPredicates.feature
  community/cypher/cypher-compiler-3.1/src/main/scala/org/neo4j/cypher/internal/compiler/v3_1/pipes/ProjectEndpointsPipe.scala
  community/cypher/cypher-compiler-3.1/src/test/scala/org/neo4j/cypher/internal/compiler/v3_1/pipes/ProjectEndpointsPipeTest.scala
Labels: 3.1, bug, changelog, cypher

#11796 percentileDisc should handle empty data
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/pipes/aggregation/DistinctFunction.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/pipes/aggregation/PercentileFunction.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/AggregationAcceptance.feature
Labels: 3.3, bug, changelog, cypher

#11795 Handle property access for non-existing property
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/helpers/MapSupport.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/commands/expressions/ContainerIndexTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/ReturnAcceptance.feature
Labels: 3.3, bug, changelog, cypher

#11616 Couple security-related improvements for server
  community/kernel/src/main/java/org/neo4j/kernel/configuration/Config.java
  community/server/src/main/java/org/neo4j/server/configuration/ServerSettings.java
  community/server/src/main/java/org/neo4j/server/security/ssl/HttpsRequestCustomizer.java
  community/server/src/main/java/org/neo4j/server/security/ssl/SslSocketConnectorFactory.java
  community/server/src/main/java/org/neo4j/server/web/HttpConnectorFactory.java
  community/server/src/main/java/org/neo4j/server/web/StaticContentFilter.java
  community/server/src/test/java/org/neo4j/server/HttpHeadersIT.java
  community/server/src/test/java/org/neo4j/server/HttpsAccessIT.java
  community/server/src/test/java/org/neo4j/server/security/ssl/HttpsRequestCustomizerTest.java
  community/server/src/test/java/org/neo4j/server/web/Jetty9WebServerIT.java
  community/server/src/test/java/org/neo4j/server/web/StaticContentFilterTest.java
  community/server/src/test/java/org/neo4j/test/server/InsecureTrustManager.java
  packaging/standalone/standalone-community/src/main/distribution/text/community/conf/neo4j.conf
Labels: 3.4.1, team-drivers

#11776 Clean up PlanContext
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/AbstractIndexSeekLeafPlanner.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/DynamicPropertyNotifier.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/IndexSeekLeafPlanner.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/indexScanLeafPlanner.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/mergeUniqueIndexSeekLeafPlanner.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/uniqueIndexSeekLeafPlanner.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/verifyBestPlan.scala
  community/cypher/cypher-planner-3.5/src/test/scala/org/neo4j/cypher/internal/compiler/v3_5/NotImplementedPlanContext.scala
  community/cypher/cypher-planner-3.5/src/test/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/LogicalPlanningTestSupport2.scala
  community/cypher/cypher-planner-3.5/src/test/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/ExtractBestPlanTest.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/ExceptionTranslatingPlanContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundPlanContext.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundPlanContextTest.scala
  community/cypher/planner-spi-3.5/src/main/scala/org/neo4j/cypher/internal/planner/v3_5/spi/PlanContext.scala
Labels: 3.5, cypher

#11788 Fixes serialization issue in InputCache
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/ValueType.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/InputCacheTest.java
Labels: 3.5, team-kernel

#11623 Fusion layer instantiates parts lazily
  community/kernel/src/main/java/org/neo4j/kernel/api/index/IndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/IndexPartsCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexBase.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionSelector00.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionSelector10.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionSelector20.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionSlotSelector00.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionSlotSelector10.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionSlotSelector20.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/InstanceSelector.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/LazyInstanceSelector.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SlotSelector.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/TemporalIndexCacheTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexPopulatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexProviderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReaderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexUpdaterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionVersion.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/InstanceSelectorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/LazyInstanceSelectorTest.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/LuceneIndexProviderFactory.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/NativeLuceneFusionIndexProviderFactory10.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/NativeLuceneFusionIndexProviderFactory20.java
  enterprise/ha/src/test/java/org/neo4j/kernel/api/SchemaIndexHaIT.java
Labels: 3.4, 3.4.1, performance, team-kernel

#11651 Cost reporting debug feature
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/LogicalPlanningContext.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/QueryPlanner.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/QueryPlannerConfiguration.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/ReportCostComparisonsAsRows.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/CostComparisonListener.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/Selector.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/pickBestPlanUsingHintsAndCost.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/LogicalPlanningTestSupport.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/LogicalPlanningTestSupport2.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/DefaultQueryPlannerTest.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/PickBestPlanUsingHintsAndCostTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/DebugToStringTest.scala
Labels: 3.4, cypher

#11633 Support for Values types in the 4_x index entry hash variant.
  community/kernel/src/main/java/org/neo4j/kernel/impl/locking/ResourceTypes.java
  community/values/src/main/java/org/neo4j/values/storable/BooleanArray.java
  community/values/src/main/java/org/neo4j/values/storable/BooleanValue.java
  community/values/src/main/java/org/neo4j/values/storable/CharArray.java
  community/values/src/main/java/org/neo4j/values/storable/CharValue.java
  community/values/src/main/java/org/neo4j/values/storable/DoubleArray.java
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/FloatingPointArray.java
  community/values/src/main/java/org/neo4j/values/storable/FloatingPointValue.java
  community/values/src/main/java/org/neo4j/values/storable/IntegralArray.java
  community/values/src/main/java/org/neo4j/values/storable/IntegralValue.java
  community/values/src/main/java/org/neo4j/values/storable/NoValue.java
  community/values/src/main/java/org/neo4j/values/storable/NonPrimitiveArray.java
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  community/values/src/main/java/org/neo4j/values/storable/StringArray.java
  community/values/src/main/java/org/neo4j/values/storable/StringValue.java
  community/values/src/main/java/org/neo4j/values/storable/StringWrappingStringValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  community/values/src/main/java/org/neo4j/values/storable/UTF8StringValue.java
  community/values/src/main/java/org/neo4j/values/storable/Value.java
  community/values/src/test/java/org/neo4j/values/storable/UTF8StringValueTest.java
Labels: 3.4, 3.4.1, team-kernel

#11793 Fix problems with UDF typing not working
  community/cypher/cypher-logical-plans-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/logical/plans/ResolvedFunctionInvocation.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/FunctionCallSupportAcceptanceTest.scala
Labels: 3.4, bug, cypher

#11787 Use CHM for dependantState in SchemaCache
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/store/SchemaCache.java
Labels: 3.5, team-kernel

#11782 Avoid double initialization of parameters in NumberArrayTest.
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/cache/IntArrayTest.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/cache/LongArrayTest.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/cache/NumberArrayPageCacheTestSupport.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/cache/NumberArrayTest.java
Labels: 3.5, team-kernel

#11726 Handle large values of nanoseconds properly
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/test/java/org/neo4j/values/storable/DurationValueTest.java
Labels: 3.4.1, bug, cypher

#11794 Fix NPE in ForsetiClient on locks count
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/enterprise/lock/forseti/DeadlockStrategies.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/enterprise/lock/forseti/ForsetiClient.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/enterprise/lock/forseti/ForsetiFalseDeadlockTest.java
Labels: 3.5, team-kernel

#10703 Removed reference to obsolete RepositoryOverview.asciidoc
  README.asciidoc
Labels: 3.4, cypher

#11720 Fixes issue with neo4j-admin import -f
  community/dbms/src/main/java/org/neo4j/commandline/dbms/ImportCommand.java
  community/dbms/src/test/java/org/neo4j/commandline/dbms/ImportCommandTest.java
Labels: 3.4, team-kernel

#11724 Uses Configuration.Overridden in neo4j-admin import
  community/dbms/src/main/java/org/neo4j/commandline/dbms/config/WrappedBatchImporterConfigurationForNeo4jAdmin.java
  community/dbms/src/main/java/org/neo4j/commandline/dbms/config/WrappedCsvInputConfigurationForNeo4jAdmin.java
  community/dbms/src/test/java/org/neo4j/commandline/dbms/config/WrappedBatchImporterConfigurationForNeo4jAdminTest.java
  community/dbms/src/test/java/org/neo4j/commandline/dbms/config/WrappedCsvInputConfigurationForNeo4jAdminTest.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/Configuration.java
Labels: 3.4, team-kernel

#11800 Implements NodeProxy#getRelationshipTypes w/ RelationshipGroupCursor
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/NodeProxy.java
Labels: 3.5, team-kernel

#11704 Make SingleFilePageSwapperTest ignore the irrelevant crashes of the external locker process.
  community/io/src/test/java/org/neo4j/io/pagecache/impl/SingleFilePageSwapperTest.java
Labels: 3.4, team-kernel

#11694 Add admin annotation for procedures
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/procs/ProcedureSignature.java
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/BuiltInDbmsProcedures.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ReflectiveProcedureCompiler.java
  community/procedure-api/src/main/java/org/neo4j/procedure/Admin.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/replication/ReplicationBenchmarkProcedure.java
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/CloseTransactionTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/ExecutionEngineIT.scala
  enterprise/kernel/src/main/java/org/neo4j/kernel/enterprise/builtinprocs/EnterpriseBuiltInDbmsProcedures.java
  enterprise/security/src/main/java/org/neo4j/server/security/enterprise/auth/SecurityProcedures.java
  enterprise/security/src/main/java/org/neo4j/server/security/enterprise/auth/UserManagementProcedures.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/integration/bolt/EnterpriseAuthenticationTestBase.java
Labels: 3.5, cypher, security

#11797 Prevent concurrent access to processNextBatch on rejection
  community/bolt/src/main/java/org/neo4j/bolt/runtime/DefaultBoltConnection.java
  community/bolt/src/main/java/org/neo4j/bolt/runtime/ExecutorBoltScheduler.java
  community/bolt/src/main/java/org/neo4j/bolt/runtime/MetricsReportingBoltConnection.java
  community/bolt/src/test/java/org/neo4j/bolt/runtime/ExecutorBoltSchedulerConcurrencyTest.java
  community/primitive-collections/src/main/java/org/neo4j/concurrent/Futures.java
Labels: 3.4.1, bolt server, bug, team-drivers

#11749 Revert "Check root cause for errors"
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ReflectiveProcedureCompiler.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/ProcedureInteractionTestBase.java
Labels: 3.3, bug, cypher

#11705 Failure to switch to master is no longer terminal
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/cluster/modeswitch/HighAvailabilityModeSwitcher.java
Labels: 3.1, causal clustering

#11804 Back-port the page cache warmer, and parallel check-point flushing, as experimental features.
  community/io/src/main/java/org/neo4j/io/pagecache/IOLimiter.java
  community/io/src/main/java/org/neo4j/io/pagecache/PageCache.java
  community/io/src/main/java/org/neo4j/io/pagecache/PagedFile.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/BackgroundThreadExecutor.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/CursorPool.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCache.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPagedFile.java
  community/io/src/test/java/org/neo4j/adversaries/pagecache/AdversarialPageCache.java
  community/io/src/test/java/org/neo4j/adversaries/pagecache/AdversarialPagedFile.java
  community/io/src/test/java/org/neo4j/io/pagecache/DelegatingPageCache.java
  community/io/src/test/java/org/neo4j/io/pagecache/DelegatingPagedFile.java
  community/io/src/test/java/org/neo4j/io/pagecache/PageCacheTest.java
  community/io/src/test/java/org/neo4j/io/pagecache/StubPagedFile.java
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/NeoStores.java
  enterprise/com/src/main/java/org/neo4j/com/storecopy/ExternallyManagedPageCache.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/enterprise/transaction/log/checkpoint/ConfigurableIOLimiter.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/PageCacheWarmer.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/PageCacheWarmerKernelExtension.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/PageCacheWarmerKernelExtensionFactory.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/PageCacheWarmerMonitor.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/ParallelPageLoader.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/WarmupAvailabilityListener.java
  enterprise/kernel/src/main/resources/META-INF/services/org.neo4j.kernel.extension.KernelExtensionFactory
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/enterprise/transaction/log/checkpoint/ConfigurableIOLimiterTest.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/pagecache/PageCacheWarmerTest.java
Labels: 3.2, team-kernel

#11428 Introduces EnterpriseDbStructureTool
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/dbstructure/DbStructureTool.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/dbstructure/GraphDbStructureGuide.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/util/dbstructure/EnterpriseDbStructureTool.java
Labels: 3.3, team-kernel

#11786 Deprecate many things in 3.5, that we desire to move or remove in the next major version.
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseBuilder.java
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseFactoryState.java
  community/kernel/src/main/java/org/neo4j/helpers/Args.java
  community/kernel/src/main/java/org/neo4j/helpers/ArrayUtil.java
  community/kernel/src/main/java/org/neo4j/helpers/Assertion.java
  community/kernel/src/main/java/org/neo4j/helpers/Cancelable.java
  community/kernel/src/main/java/org/neo4j/helpers/CancellationRequest.java
  community/kernel/src/main/java/org/neo4j/helpers/CloneableInPublic.java
  community/kernel/src/main/java/org/neo4j/helpers/Format.java
  community/kernel/src/main/java/org/neo4j/helpers/FutureAdapter.java
  community/kernel/src/main/java/org/neo4j/helpers/Listeners.java
  community/kernel/src/main/java/org/neo4j/helpers/NamedThreadFactory.java
  community/kernel/src/main/java/org/neo4j/helpers/Reference.java
  community/kernel/src/main/java/org/neo4j/helpers/RunCarefully.java
  community/kernel/src/main/java/org/neo4j/helpers/Strings.java
  community/kernel/src/main/java/org/neo4j/helpers/TaskControl.java
  community/kernel/src/main/java/org/neo4j/helpers/TaskCoordinator.java
  community/kernel/src/main/java/org/neo4j/helpers/TimeUtil.java
  community/kernel/src/main/java/org/neo4j/helpers/Uris.java
  community/kernel/src/main/java/org/neo4j/helpers/collection/BoundedIterable.java
  community/kernel/src/main/java/org/neo4j/helpers/progress/Indicator.java
  community/kernel/src/main/java/org/neo4j/helpers/progress/ProgressListener.java
  community/kernel/src/main/java/org/neo4j/helpers/progress/ProgressMonitorFactory.java
  enterprise/backup/src/main/java/org/neo4j/backup/BackupExtensionService.java
  enterprise/backup/src/main/java/org/neo4j/backup/BackupTool.java
  enterprise/backup/src/main/java/org/neo4j/backup/OnlineBackupExtensionFactory.java
  enterprise/backup/src/main/java/org/neo4j/backup/OnlineBackupKernelExtension.java
  enterprise/backup/src/main/java/org/neo4j/backup/TheBackupInterface.java
  enterprise/management/src/main/java/org/neo4j/management/BranchedStore.java
  enterprise/management/src/main/java/org/neo4j/management/BranchedStoreInfo.java
  enterprise/management/src/main/java/org/neo4j/management/HighAvailability.java
  enterprise/management/src/main/java/org/neo4j/management/MemoryMapping.java
  enterprise/management/src/main/java/org/neo4j/management/WindowPoolInfo.java
Labels: 3.5, team-kernel

#11798 Cleanup not used parameters in kernel methods
  community/cypher/cypher/src/test/java/org/neo4j/cypher/internal/javacompat/ExecutionResultTest.java
  community/kernel/src/main/java/org/neo4j/helpers/Format.java
  community/kernel/src/main/java/org/neo4j/kernel/NeoStoreDataSource.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/TopLevelTransaction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/DataSourceModule.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/NeoStores.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/StoreType.java
  community/kernel/src/test/java/org/neo4j/kernel/TopLevelTransactionTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacadeTest.java
  community/server/src/test/java/org/neo4j/server/database/CypherExecutorTest.java
Labels: 3.5, team-kernel

#11745 Avoid generating consecutive failure messages
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/BoltStateMachine.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/BoltStateMachineTest.java
Labels: 3.4.1, bolt server, team-drivers

#11824 Migrate test to junit 5 in concurrent, graphdb-api and unsafe modules
  community/concurrent/src/test/java/org/neo4j/util/concurrent/AsyncEventsTest.java
  community/concurrent/src/test/java/org/neo4j/util/concurrent/BinaryLatchTest.java
  community/concurrent/src/test/java/org/neo4j/util/concurrent/DecayingFlagsTest.java
  community/concurrent/src/test/java/org/neo4j/util/concurrent/FuturesTest.java
  community/concurrent/src/test/java/org/neo4j/util/concurrent/RecentKTest.java
  community/concurrent/src/test/java/org/neo4j/util/concurrent/WorkSyncTest.java
  community/graphdb-api/src/test/java/org/neo4j/graphdb/impl/traversal/StandardBranchCollisionDetectorTest.java
  community/graphdb-api/src/test/java/org/neo4j/graphdb/index/IndexPopulationProgressTest.java
  community/unsafe/src/test/java/org/neo4j/unsafe/impl/internal/dragons/UnsafeUtilTest.java
Labels: 3.5, team-kernel

#11815 Update to 3.2.11
  community/cypher/cypher/pom.xml
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_2/helpers.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/HintAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/UsingAcceptanceTest.scala
Labels: 3.3, cypher

#11806 Move global platform components out to PlatformModule
  community/common/src/main/java/org/neo4j/kernel/lifecycle/LifeSupport.java
  community/common/src/test/java/org/neo4j/kernel/lifecycle/LifeSupportTest.java
  community/kernel/src/main/java/org/neo4j/kernel/AvailabilityGuard.java
  community/kernel/src/main/java/org/neo4j/kernel/DatabaseAvailability.java
  community/kernel/src/main/java/org/neo4j/kernel/NeoStoreDataSource.java
  community/kernel/src/main/java/org/neo4j/kernel/StartupWaiter.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/cache/VmPauseMonitorComponent.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/ClassicCoreSPI.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/DataSourceModule.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacadeFactory.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/PlatformModule.java
  community/kernel/src/main/java/org/neo4j/kernel/internal/KernelEventHandlers.java
  community/udc/src/main/java/org/neo4j/ext/udc/impl/DefaultUdcInformationCollector.java
  community/udc/src/main/java/org/neo4j/ext/udc/impl/UdcKernelExtension.java
Labels: 3.5, team-kernel

#11825 Use System.lineSeparator() instad of \n
  community/cypher/cypher-logical-plans-3.5/src/main/scala/org/neo4j/cypher/internal/v3_5/logical/plans/LogicalPlan.scala
Labels: 3.5, bug, cypher

#11679 Rewrite ClusterShutdownIt
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterShutdownIT.java
Labels: 3.4, causal clustering, test-only

#11809 Don't use ReferenceFromSlot in plan description
  enterprise/cypher/physical-planning/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/SlottedRewriter.scala
  enterprise/cypher/physical-planning/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/ast/ReferenceFromSlot.scala
  enterprise/cypher/physical-planning/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/ExecutionPlanDescriptionTest.scala
  enterprise/cypher/physical-planning/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/SlottedRewriterTest.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/slotted/SlottedPipeBuilder.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/slotted/expressions/ReferenceFromSlot.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/slotted/expressions/SlottedExpressionConverters.scala
  enterprise/cypher/slotted-runtime/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_3/runtime/slotted/pipes/UnwindSlottedPipeTest.scala
Labels: 3.4, bug, changelog, cypher

#11817 VarExpand: Detect dependencies on path in inner predicates
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/idp/expandSolverStep.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/idp/extractPredicates.scala
  community/cypher/cypher-compiler-3.3/src/test/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/WithPlanningIntegrationTest.scala
  community/cypher/cypher-compiler-3.3/src/test/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/idp/extractPredicatesTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/VarLengthExpandQueryPlanAcceptanceTest.scala
Labels: 3.3, bug, changelog, cypher

#11829 Update timeout messages to include corresponding properties name.
  community/common/src/main/java/org/neo4j/kernel/api/exceptions/Status.java
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  community/neo4j/src/test/java/org/neo4j/locking/CommunityLockAcquisitionTimeoutIT.java
  integrationtests/src/test/java/org/neo4j/TransactionGuardIT.java
Labels: 3.5, team-kernel

#11731 Internal APIs to create tokens in batches.
  community/common/src/main/java/org/neo4j/function/Predicates.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/TokenWrite.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/DelegatingTokenHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/IsolatedTransactionTokenCreator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/ReadOnlyTokenCreator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/TokenCreator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/TokenHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/schema/IndexDefinitionImpl.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/schema/PropertyNameUtils.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/KernelToken.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storageengine/impl/recordstorage/RecordStorageReader.java
  community/kernel/src/main/java/org/neo4j/storageengine/api/StorageReader.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/core/DelegatingTokenHolderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/core/TokenHolderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/KernelTokenArgumentTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/KernelTokenTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/storageengine/impl/recordstorage/RecordStorageReaderLabelTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/storageengine/impl/recordstorage/RecordStorageReaderPropertyTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/storageengine/impl/recordstorage/RecordStorageReaderRelTypesAndDegreeTest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/machines/token/ReplicatedTokenHolder.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/AbstractTokenCreator.java
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/AbstractTokenCreatorTest.java
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/SlaveTokenCreatorTest.java
Labels: 3.5, team-kernel

#11832 Finish porting swapper ids from short to int.
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCursor.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPagedFile.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/SwapperSet.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/PageListTest.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/SwapperSetTest.java
Labels: 3.3, team-kernel

#11785 Remove inactivity timeout from CatchupClient
  enterprise/backup/src/main/java/org/neo4j/backup/impl/BackupSupportingClassesFactory.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchUpClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchupClientBuilder.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/TimeoutLoop.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/CausalClusteringSettings.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/server/CoreServerModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/CatchUpClientIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/TimeoutLoopTest.java
Labels: 3.5, causal clustering

#11837 Remove Guard abstraction. Use plain assertOpen transaction check instead.
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContextTest.scala
  community/kernel/src/main/java/org/neo4j/kernel/guard/Guard.java
  community/kernel/src/main/java/org/neo4j/kernel/guard/TerminationGuard.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/DataSourceModule.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacadeFactory.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ProcedureGDSFactory.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/TerminationGuardProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContext.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContextFactory.java
  community/kernel/src/test/java/org/neo4j/kernel/guard/TerminationGuardTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacadeTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContextTest.java
Labels: 3.5, team-kernel

#11848 Retry backups in replace member stress test
  stresstests/src/test/java/org/neo4j/causalclustering/stresstests/ReplaceRandomMember.java
Labels: 3.5, causal clustering, test-only

#11839 Update CSV file rotation threshold in metrics to be 10m instead of 100m by default
  enterprise/metrics/src/main/java/org/neo4j/metrics/MetricsSettings.java
Labels: 3.4, changelog, team-kernel

#11849 Add missing hits and unpins metrics to page cache statistics JMX bean.
  enterprise/management/src/main/java/org/neo4j/management/PageCache.java
  enterprise/management/src/main/java/org/neo4j/management/impl/PageCacheBean.java
Labels: 3.5, changelog, team-kernel

#11841 Disable tracking of CPU time and memory allocation by default
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/enterprise/builtinprocs/ListQueriesProcedureTest.java
Labels: 3.4, changelog, team-kernel

#11813 hasProperties and propertyType should be tx-state aware
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeTransactionStateTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/RelationshipTransactionStateTestBase.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultNodeCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultPropertyCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultRelationshipScanCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultRelationshipTraversalCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/RelationshipCursor.java
Labels: 3.4, bug, cypher

#11834 Removing deleted relationship types is not a thing
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/ExceptionTranslatingQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/DelegatingQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/CreateNodePipe.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/CreateRelationshipPipe.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/QueryContextAdaptation.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/QueryContext.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CreateAcceptanceTest.scala
Labels: 3.5, cypher

#11810 More uses of primitive long array hashing
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHash.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashMap.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashMultiMap.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashSet.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashTable.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArraySet.java
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArrayHashMapTest.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArrayHashMultiMapTest.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArrayHashSetTest.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/SlottedPipeBuilder.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/DistinctSlottedPrimitivePipe.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/EagerAggregationSlottedPrimitivePipe.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/NodeHashJoinSlottedPipe.scala
  enterprise/cypher/slotted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/NodeHashJoinSlottedPipeTest.scala
Labels: 3.5, cypher

#11847 Fix batchinserter startup error
  community/kernel/src/main/java/org/neo4j/unsafe/batchinsert/internal/BatchInserterImpl.java
  integrationtests/src/test/java/org/neo4j/unsafe/batchinsert/BatchInsertersIT.java
Labels: 3.5, team-kernel

#11732 Reopen a transaction before streaming the result of periodic commit query over bolt
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/TransactionStateMachine.java
  integrationtests/src/test/java/org/neo4j/bolt/CypherOverBoltIT.java
Labels: 3.1, bug, changelog, cypher

#11857 Move token holders from lifecycle.
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/DelegatingTokenHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/CommunityEditionModule.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/ParallelBatchImporter.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/BranchedDataMigrator.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/factory/HighlyAvailableEditionModule.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/transaction/CommitPusher.java
Labels: 3.5, team-kernel

#11840 Move ThreadToStatementContextBridge out of lifecycle.
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/BoltFactoryImplTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/TransactionStateMachineSPITest.java
  community/cypher/cypher/src/test/java/org/neo4j/cypher/internal/javacompat/ExecutionResultTest.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/RelationshipProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/ThreadToStatementContextBridge.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/DataSourceModule.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacade.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/UniqueConstraintCompatibility.java
  community/server/src/main/java/org/neo4j/server/rest/transactional/TransactionStateChecker.java
  community/server/src/main/java/org/neo4j/server/rest/transactional/TransitionalTxManagementKernelTransaction.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/TxStateCheckerTestSupport.java
  community/shell/src/main/java/org/neo4j/shell/kernel/GraphDatabaseShellServer.java
  community/shell/src/main/java/org/neo4j/shell/kernel/apps/Begin.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MutatingIntegrationTest.scala
Labels: 3.5, team-kernel

#11858 Close output stream in BoltMessageLog on shutdown
  community/bolt/src/main/java/org/neo4j/bolt/BoltKernelExtension.java
  community/bolt/src/main/java/org/neo4j/bolt/logging/BoltMessageLog.java
  community/bolt/src/main/java/org/neo4j/bolt/logging/BoltMessageLoggerImpl.java
  community/bolt/src/main/java/org/neo4j/bolt/logging/BoltMessageLogging.java
  community/bolt/src/test/java/org/neo4j/bolt/logging/BoltMessageLoggingTest.java
  community/bolt/src/test/java/org/neo4j/bolt/runtime/DefaultBoltConnectionTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/MachineRoom.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/TransactionStateMachineTest.java
Labels: 3.5, team-drivers, team-kernel

#11860 More long array hashing
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHash.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashMap.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashMultiMap.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashSet.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashTable.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArraySet.java
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArrayHashMapTest.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArrayHashMultiMapTest.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArrayHashSetTest.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/SlottedPipeBuilder.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/DistinctSlottedPrimitivePipe.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/EagerAggregationSlottedPrimitivePipe.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/NodeHashJoinSlottedPipe.scala
  enterprise/cypher/slotted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/NodeHashJoinSlottedPipeTest.scala
Labels: 3.5, cypher, enhancement

#11851 Fix locking seeks with NO_VALUE
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/UniqueIndexAcceptanceTest.scala
Labels: 3.4, bug, changelog, cypher

#11871 Add status to shutdown exception to make it consistent with related exceptions
  community/graphdb-api/src/main/java/org/neo4j/graphdb/DatabaseShutdownException.java
Labels: 3.5, team-kernel

#11867 Small cleanup around bolt tx state machine
  community/bolt/src/main/java/org/neo4j/bolt/BoltKernelExtension.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/BoltFactoryImpl.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/TransactionStateMachineSPI.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/BoltFactoryImplTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/TransactionStateMachineSPITest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/integration/SessionRule.java
Labels: 3.5, bolt server

#11843 Morsel TopN operator
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MorselRuntimeAcceptanceTest.scala
  enterprise/cypher/morsel-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/vectorized/PipelineBuilder.scala
  enterprise/cypher/morsel-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/vectorized/operators/MergeSortOperator.scala
  enterprise/cypher/morsel-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/vectorized/operators/MorselSorting.scala
  enterprise/cypher/morsel-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/vectorized/operators/PreSortOperator.scala
  enterprise/cypher/morsel-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/vectorized/operators/MergeSortOperatorTest.scala
  enterprise/cypher/morsel-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/vectorized/operators/PreSortOperatorTest.scala
Labels: 3.5, cypher

#11828 Cheat with test directory for the cluster-related test to not fail.
  integrationtests/src/test/java/org/neo4j/storeupgrade/StoreUpgradeIT.java
Labels: 3.5, team-kernel

#11874 Fix hanging threads in morsel runtime
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-morsel.txt
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MorselRuntimeAcceptanceTest.scala
  enterprise/cypher/compatibility-spec-suite/src/test/resources/blacklists/cost-morsel.txt
  enterprise/cypher/cypher/src/test/java/org/neo4j/cypher/internal/javacompat/MorselRuntimeStressIT.java
  enterprise/cypher/morsel-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/vectorized/dispatcher/ParallelDispatcher.scala
  enterprise/cypher/morsel-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/vectorized/expressions/MorselExpressionConverters.scala
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/BaseFeatureTest.scala
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/Neo4jAdapter.scala
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/ScenarioTestHelper.scala
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/TestConfig.scala
Labels: 3.5, cypher

#11873 Fix bug with transitive closures and inequalities
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/ast/rewriters/TransitiveClosureTest.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/ast/rewriters/transitiveClosure.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/phases/Transformer.scala
Labels: 3.4, bug, cypher

#11855 Morsel CONTAINS, range, composite index stuff
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MorselRuntimeAcceptanceTest.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/BuildVectorizedExecutionPlan.scala
  enterprise/cypher/morsel-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/vectorized/PipelineBuilder.scala
  enterprise/cypher/morsel-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/vectorized/operators/NodeIndexContainsScanOperator.scala
  enterprise/cypher/morsel-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/vectorized/operators/NodeIndexSeekOperator.scala
Labels: 3.5, cypher

#11881 Fix flaky BinaryLatchTest.releaseMustUnblockAwaiters.
  community/concurrent/src/test/java/org/neo4j/util/concurrent/BinaryLatchTest.java
Labels: 3.5, team-kernel, test-only

#11869 Remove startup statistics, recovered transactions reporting.
  community/kernel/src/main/java/org/neo4j/kernel/NeoStoreDataSource.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/StartupStatistics.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/StartupStatisticsProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/DataSourceModule.java
  community/kernel/src/main/java/org/neo4j/kernel/recovery/Recovery.java
  community/kernel/src/test/java/org/neo4j/kernel/RecoveryTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/log/PhysicalLogicalTransactionStoreTest.java
  community/kernel/src/test/java/org/neo4j/kernel/recovery/RecoveryProgressIndicatorTest.java
  community/kernel/src/test/java/org/neo4j/test/rule/NeoStoreDataSourceRule.java
  community/udc/src/main/java/org/neo4j/ext/udc/impl/DefaultUdcInformationCollector.java
  community/udc/src/main/java/org/neo4j/ext/udc/impl/Pinger.java
  community/udc/src/main/java/org/neo4j/ext/udc/impl/UdcInformationCollector.java
  community/udc/src/main/java/org/neo4j/ext/udc/impl/UdcKernelExtension.java
  community/udc/src/main/java/org/neo4j/ext/udc/impl/UdcKernelExtensionFactory.java
  community/udc/src/test/java/org/neo4j/ext/udc/UdcSettingsIT.java
  community/udc/src/test/java/org/neo4j/ext/udc/impl/DefaultUdcInformationCollectorTest.java
  community/udc/src/test/java/org/neo4j/ext/udc/impl/PingerHandler.java
  community/udc/src/test/java/org/neo4j/ext/udc/impl/PingerTest.java
  integrationtests/src/test/java/org/neo4j/ext/udc/impl/UdcExtensionImplIT.java
Labels: 3.5, team-kernel

#11889 Simplify hierarchy of KernelData
  community/jmx/src/test/java/org/neo4j/jmx/impl/StoreSizeBeanTest.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/CommunityEditionModule.java
  community/kernel/src/main/java/org/neo4j/kernel/internal/DefaultKernelData.java
  community/kernel/src/main/java/org/neo4j/kernel/internal/KernelData.java
  community/kernel/src/test/java/org/neo4j/kernel/internal/KernelDataTest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/EnterpriseCoreEditionModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/management/CausalClusteringBeanTest.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/management/HighlyAvailableKernelData.java
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/management/HighAvailabilityBeanTest.java
Labels: 3.5, team-kernel

#11768 Core monitor improvements (neo4j.log)
  enterprise/backup/src/main/java/org/neo4j/backup/impl/BackupSupportingClassesFactory.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchupClientBuilder.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/EnterpriseCoreEditionModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/membership/MembershipWaiter.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/server/CoreServerModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/ClusteringModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/CoreLife.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/snapshot/CoreStateDownloaderService.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/snapshot/PersistentSnapshotDownloader.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/diagnostics/CoreMonitor.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/DiscoveryServiceFactory.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastCoreTopologyService.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastDiscoveryServiceFactory.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/helper/Limiters.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/identity/ClusterBinder.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/protocol/handshake/HandshakeClientInitializer.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/protocol/handshake/ProtocolStack.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/consensus/membership/MembershipWaiterTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/state/snapshot/CoreStateDownloaderServiceTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/state/snapshot/PersistentSnapshotDownloaderTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryServiceFactory.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryServiceIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helper/LimitersTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/identity/ClusterBinderTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/messaging/SenderServiceIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/protocol/handshake/NettyInstalledProtocolsIT.java
  enterprise/metrics/src/main/java/org/neo4j/metrics/source/server/ServerMetrics.java
  enterprise/neo4j-harness-enterprise/src/main/java/org/neo4j/harness/CausalClusterInProcessRunner.java
Labels: 3.5, causal clustering, enhancement

#11852 Clean up of QueryGraph
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/ast/convert/plannerQuery/ClauseConverters.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/ast/convert/plannerQuery/PlannerQueryBuilder.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/OptionalMatchRemover.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/QueryGraphSolver.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/idp/SingleComponentPlanner.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/idp/cartesianProductsOrValueJoins.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/steps/PatternExpressionSolver.scala
  community/cypher/cypher-compiler-3.3/src/test/scala/org/neo4j/cypher/internal/compiler/v3_3/ast/convert/plannerQuery/StatementConvertersTest.scala
  community/cypher/cypher-compiler-3.3/src/test/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/QueryGraphTest.scala
  community/cypher/cypher-compiler-3.3/src/test/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/OptionalMatchRemoverTest.scala
  community/cypher/cypher-compiler-3.3/src/test/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/idp/CartesianProductsOrValueJoinsTest.scala
  community/cypher/ir-3.3/src/main/scala/org/neo4j/cypher/internal/ir/v3_3/QueryGraph.scala
  community/cypher/ir-3.3/src/main/scala/org/neo4j/cypher/internal/ir/v3_3/helpers/ExpressionConverters.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/NodeIndexScanAcceptanceTest.scala
Labels: 3.3, bug, changelog, cypher

#11872 Compiled expressions
  community/codegen/src/main/java/org/neo4j/codegen/FieldReference.java
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/DelegatingQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionalContextWrapper.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/QueryContext.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/GraphDatabaseTestSupport.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Read.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/StubRead.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/AllStoreHolder.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/MockStore.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CompiledExpressionTest.scala
  enterprise/cypher/compiled-expressions/LICENSE.txt
  enterprise/cypher/compiled-expressions/LICENSES.txt
  enterprise/cypher/compiled-expressions/NOTICE.txt
  enterprise/cypher/compiled-expressions/pom.xml
  enterprise/cypher/compiled-expressions/src/main/java/org/neo4j/cypher/internal/runtime/compiled/expressions/CompiledExpression.java
  enterprise/cypher/compiled-expressions/src/main/java/org/neo4j/cypher/internal/runtime/compiled/expressions/CypherBoolean.java
  enterprise/cypher/compiled-expressions/src/main/java/org/neo4j/cypher/internal/runtime/compiled/expressions/CypherDbAccess.java
  enterprise/cypher/compiled-expressions/src/main/java/org/neo4j/cypher/internal/runtime/compiled/expressions/CypherFunctions.java
  enterprise/cypher/compiled-expressions/src/main/java/org/neo4j/cypher/internal/runtime/compiled/expressions/CypherMath.java
  enterprise/cypher/compiled-expressions/src/main/scala/org/neo4j/cypher/internal/runtime/compiled/expressions/CodeGeneration.scala
  enterprise/cypher/compiled-expressions/src/main/scala/org/neo4j/cypher/internal/runtime/compiled/expressions/IntermediateCodeGeneration.scala
  enterprise/cypher/compiled-expressions/src/main/scala/org/neo4j/cypher/internal/runtime/compiled/expressions/IntermediateRepresentation.scala
  enterprise/cypher/compiled-expressions/src/test/scala/org/neo4j/cypher/internal/runtime/compiled/expressions/CodeGenerationTest.scala
  enterprise/cypher/cypher/pom.xml
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/BuildSlottedExecutionPlan.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/BuildVectorizedExecutionPlan.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/EnterpriseCompilerFactory.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/runtime/compiled/EnterpriseRuntimeContext.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/CypherReductionSupport.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/spi/codegen/CompiledRuntimeContextHelper.scala
  enterprise/cypher/pom.xml
  enterprise/cypher/slotted-runtime/pom.xml
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/expressions/CompiledExpressionConverter.scala
  enterprise/cypher/slotted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/slotted/expressions/CompiledExpressionConverterTest.scala
Labels: 3.5, changelog, cypher

#11892 Remove bloom plugin
  enterprise/fulltext-addon/LICENSE.txt
  enterprise/fulltext-addon/LICENSES.txt
  enterprise/fulltext-addon/NOTICE.txt
  enterprise/fulltext-addon/pom.xml
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/AsyncFulltextIndexOperation.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/FulltextFactory.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/FulltextIndexConfiguration.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/FulltextIndexType.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/FulltextProvider.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/FulltextProviderImpl.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/FulltextTransactionEventUpdater.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/FulltextUpdateApplier.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/LuceneFulltext.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/LuceneFulltextDocumentStructure.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/LuceneFulltextFieldEncoding.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/PartitionedFulltextReader.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/ReadOnlyFulltext.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/ScoreEntityIterator.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/SimpleFulltextReader.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/WritableFulltext.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomFulltextConfig.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomKernelExtension.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomKernelExtensionFactory.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomProcedures.java
  enterprise/fulltext-addon/src/main/resources/META-INF/services/org.neo4j.configuration.LoadableConfig
  enterprise/fulltext-addon/src/main/resources/META-INF/services/org.neo4j.kernel.extension.KernelExtensionFactory
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/FulltextAnalyzerTest.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/FulltextUpdateApplierTest.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/LuceneFulltextTestSupport.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/LuceneFulltextUpdaterTest.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/ScoreEntityIteratorTest.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/StubGraphDatabaseService.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/StubLuceneFulltext.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomBackupIT.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomFulltextIndexBenchmarks.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomIT.java
  enterprise/pom.xml
Labels: 3.4, team-kernel

#11865 Warnings when using CONTAINS against native string index (3.5)
  community/common/src/main/java/org/neo4j/kernel/api/exceptions/Status.java
  community/cypher/cypher-planner-3.5/pom.xml
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/Notifications.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/phases/DeprecationWarnings.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/CheckForUnresolvedTokens.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/AbstractIndexSeekLeafPlanner.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/indexScanLeafPlanner.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/planShortestPaths.scala
  community/cypher/cypher-planner-3.5/src/main/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/verifyBestPlan.scala
  community/cypher/cypher-planner-3.5/src/test/scala/org/neo4j/cypher/internal/compiler/v3_5/NotImplementedPlanContext.scala
  community/cypher/cypher-planner-3.5/src/test/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/CheckForUnresolvedTokensTest.scala
  community/cypher/cypher-planner-3.5/src/test/scala/org/neo4j/cypher/internal/compiler/v3_5/planner/logical/steps/ExtractBestPlanTest.scala
  community/cypher/cypher-planner-3.5/src/test/scala/org/neo4j/cypher/internal/compiler/v3_5/spi/GraphStatisticsSnapshotTest.scala
  community/cypher/cypher/pom.xml
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/Cypher33Compiler.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/helpers.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/Cypher35Compiler.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/ExceptionTranslatingPlanContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/notification/LogicalPlanNotifications.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/notification/checkForEagerLoadCsv.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/notification/checkForIndexLimitation.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/notification/checkForLoadCsvAndMatchOnLargeLabel.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/runtime/RuntimeBuilder.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/runtime/helpers/InternalWrapping.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_5/notifications/CheckForEagerLoadCsvTest.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_5/notifications/CheckForIndexLimitationTest.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_5/notifications/CheckForLoadCsvAndMatchOnLargeLabelTest.scala
  community/cypher/interpreted-runtime/pom.xml
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/IndexDescriptorCompatibility.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundPlanContext.scala
  community/cypher/ir-3.5/pom.xml
  community/cypher/planner-spi-3.5/pom.xml
  community/cypher/planner-spi-3.5/src/main/scala/org/neo4j/cypher/internal/planner/v3_5/spi/IndexDescriptor.scala
  community/cypher/planner-spi-3.5/src/main/scala/org/neo4j/cypher/internal/planner/v3_5/spi/InstrumentedGraphStatistics.scala
  community/cypher/planner-spi-3.5/src/main/scala/org/neo4j/cypher/internal/planner/v3_5/spi/PlanContext.scala
  community/cypher/pom.xml
  community/cypher/runtime-util/pom.xml
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/IndexCapability.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/IndexLimitation.java
  community/kernel/src/main/java/org/neo4j/graphdb/impl/notification/NotificationCode.java
  community/kernel/src/main/java/org/neo4j/graphdb/impl/notification/NotificationDetail.java
  community/kernel/src/main/java/org/neo4j/kernel/api/schema/index/CapableIndexDescriptor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/UnionIndexCapability.java
  community/kernel/src/test/java/org/neo4j/graphdb/impl/notification/NotificationDetailTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/UnionIndexCapabilityTest.java
  enterprise/cypher/acceptance-spec-suite/pom.xml
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/NotificationAcceptanceTest.scala
  enterprise/cypher/compiled-expressions/pom.xml
  enterprise/cypher/cypher/pom.xml
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/BuildVectorizedExecutionPlan.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/EnterpriseRuntimeBuilder.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/runtime/compiled/CompiledRuntimeBuilder.scala
  enterprise/cypher/morsel-runtime/pom.xml
  enterprise/cypher/physical-planning/pom.xml
  enterprise/cypher/pom.xml
  enterprise/cypher/slotted-runtime/pom.xml
Labels: 3.5, cypher, enhancement

#11899 Use new static helpers in interpreted runtime
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Add.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/MathFunction.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Multiply.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Subtract.scala
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/operations/CypherBoolean.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/operations/CypherDbAccess.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/operations/CypherFunctions.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/operations/CypherMath.java
  enterprise/cypher/compiled-expressions/src/main/scala/org/neo4j/cypher/internal/runtime/compiled/expressions/IntermediateCodeGeneration.scala
Labels: 3.5, cypher

#11894 Move IndexingAcceptanceTest to lucene-index module
  community/lucene-index/src/test/java/org/neo4j/graphdb/IndexingAcceptanceTest.java
Labels: 3.5, team-kernel

#11911 Remove kernel modes leftovers
  community/cypher/cypher-planner-3.5/src/test/scala/org/neo4j/cypher/internal/compiler/v3_5/NotImplementedPlanContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_5/ExceptionTranslatingPlanContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundPlanContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionalContextWrapper.scala
  community/cypher/planner-spi-3.5/src/main/scala/org/neo4j/cypher/internal/planner/v3_5/spi/PlanContext.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Kernel.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Modes.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/KernelAPIWriteTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/TwoLayerTxStateTestBase.java
  community/kernel/src/main/java/org/neo4j/kernel/NeoStoreDataSource.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelImpl.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/NewKernel.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContext.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/TransactionalContext.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/constraints/ConstraintIndexCreatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/TwoLayerTxStateTest.java
  community/neo4j/src/test/java/org/neo4j/locking/QueryExecutionLocksIT.java
Labels: 3.5, team-kernel
