Repository neo4j/neo4j, pull requests merged in 2018-02, with the labels that each got.

#10984 Enforce TLSv1.2 for HTTPS and Bolt server
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/socket/client/SecureSocketConnection.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/socket/client/SecureWebSocketConnection.java
  community/kernel/src/main/java/org/neo4j/kernel/configuration/ssl/SslPolicyConfig.java
  community/kernel/src/main/java/org/neo4j/kernel/configuration/ssl/SslPolicyLoader.java
  community/neo4j-harness/src/test/java/org/neo4j/harness/InProcessBuilderTestIT.java
  community/server/src/main/java/org/neo4j/server/security/ssl/SslSocketConnectorFactory.java
Labels: 3.4, bolt server, changelog

#10990 Remove unused PropertyValueComparison.Limit
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/PropertyValueComparison.java
Labels: 3.4, team-kernel

#10982 Coordinate shutdown between futures in GraphDatabaseShutdownTest
  community/kernel/src/test/java/org/neo4j/graphdb/GraphDatabaseShutdownTest.java
Labels: 3.4, team-kernel

#11000 Set of small cleanups
  community/command-line/src/main/java/org/neo4j/commandline/Util.java
  community/kernel/src/main/java/org/neo4j/diagnostics/DiagnosticsReporter.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/TxStateTransactionDataSnapshot.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/labelscan/CompositeLabelScanValueIterator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeNonUniqueSchemaIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/id/ReadOnlyIdGeneratorFactory.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/NativeLabelScanStoreMigrator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/StoreMigrator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/concurrent/LockWaitStrategies.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/dbstructure/DbStructureCollector.java
  community/kernel/src/main/java/org/neo4j/unsafe/batchinsert/internal/BatchInserterImpl.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/cache/idmapping/string/StringEncoder.java
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomProcedures.java
  enterprise/metrics/src/main/java/org/neo4j/metrics/source/db/BoltMetrics.java
Labels: 3.4, team-kernel

#11002 Should check access mode on token reads
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementation.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionSecurityContextTest.java
Labels: 3.4, bug, cypher, security

#10985 Use unique label and print result on failure in QueryResultsSerialization
  community/server/src/test/java/org/neo4j/server/rest/transactional/integration/QueryResultsSerializationTest.java
Labels: 3.4, team-kernel

#10995 Fix bug where shortestPath unnecessarily required named nodes
  community/cypher/frontend-3.3/src/main/scala/org/neo4j/cypher/internal/frontend/v3_3/ast/Pattern.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ShortestPathAcceptanceTest.scala
Labels: 3.3, bug, changelog, cypher

#10981 Support injection of initial variables in SemanticState
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/phases/LogicalPlanState.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/phases/BaseState.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/phases/SemanticAnalysis.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/SemanticChecker.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/SemanticState.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/SemanticAnalysisTest.scala
Labels: 3.4, cypher, openCypher, team-cypher

#10944 Fixes as issue with applying index updates to unique indexes
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexUpdateProcessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexingService.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulator.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexPopulationJobTest.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/index/AccidentalUniquenessConstraintViolationIT.java
Labels: 3.3, changelog, team-kernel

#10965 Calculates correct max memory to use for caching
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/Configuration.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/ConfigurationTest.java
Labels: 3.4, team-kernel

#10996 Implements specific SimpleIndexReader#query method
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/schema/BridgingIndexProgressor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReader.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/index/collector/DocValuesCollector.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/index/collector/ValuesIterator.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/reader/PartitionedIndexReader.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/reader/SimpleIndexReader.java
Labels: 3.4, team-kernel

#10994 Fix bug where shortestPath unnecessarily required named nodes
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/SemanticPatternCheck.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ShortestPathAcceptanceTest.scala
Labels: 3.4, bug, cypher

#10991 Plan pattern comprehension inside unwind correctly.
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/PlanEventHorizon.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/steps/LogicalPlanProducer.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/steps/PatternExpressionSolver.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-32.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-slotted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/UnwindAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/PatternComprehensionAcceptanceTest.scala
Labels: 3.3, bug, cypher

#11006 Temp. disable newly introduced page cache tests because of hanging on some build agents
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCacheTest.java
Labels: 3.3, team-kernel

#11007 Revert "Fixes as issue with applying index updates to unique indexes"
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexUpdateProcessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexingService.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulator.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexPopulationJobTest.java
  community/lucene-index/src/test/java/org/neo4j/kernel/api/impl/index/AccidentalUniquenessConstraintViolationIT.java
Labels: 3.3, team-kernel

#10977 Small fixes for bloom
  enterprise/fulltext-addon/src/main/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomProcedures.java
  enterprise/fulltext-addon/src/test/java/org/neo4j/kernel/api/impl/fulltext/integrations/bloom/BloomIT.java
Labels: 3.3, team-kernel

#11008 Plan pattern comprehension inside unwind correctly 2.
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/PlanEventHorizon.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/steps/LogicalPlanProducer.scala
  community/cypher/cypher-compiler-3.3/src/main/scala/org/neo4j/cypher/internal/compiler/v3_3/planner/logical/steps/PatternExpressionSolver.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-32.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-slotted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/UnwindAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/PatternComprehensionAcceptanceTest.scala
Labels: 3.3, bug, changelog, cypher

#11013 3.4 Plan pattern comprehension inside unwind correctly
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/PlanEventHorizon.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/LogicalPlanProducer.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/PatternExpressionSolver.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-33.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/UnwindAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/cypher/features/AcceptanceTests.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/PatternComprehensionAcceptanceTest.scala
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/BaseFeatureTest.scala
Labels: 3.4, bug, cypher

#11004 Fixed bug in rendering inequality expressions and improved readability.
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planDescription/PlanDescriptionArgumentSerializer.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/LogicalPlan2PlanDescription.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planDescription/RenderTreeTableTest.scala
Labels: 3.2, bug, cypher

#11016 Update cypher compiler dependencies to 3.3.3
  community/cypher/cypher/pom.xml
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/EagerizationAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/HintAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MiscAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/RemoveAcceptanceTest.scala
Labels: 3.4, cypher

#10992 Store DateTimes with ZoneIds
  community/kernel/pom.xml
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/PropertyStore.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/TemporalType.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/TimeZoneMapping.java
  community/kernel/src/main/resources/TZIDS
  community/kernel/src/test/java/org/neo4j/kernel/impl/core/TestPropertyTypes.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/TimeZoneMappingTest.java
Labels: 3.4, changelog, cypher, team-kernel

#11019 Removed flaky OnlineBackupCommandCCIt test
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandCcIT.java
Labels: 3.4, causal clustering, test-only

#10912 Improve performace of SpaceFillingCurve queries.
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/planDescription/LogicalPlan2PlanDescription.scala
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/SearchEnvelope.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/SpaceFillingCurve.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/SpaceFillingCurveConfiguration.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/SpaceFillingCurveMonitor.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/curves/StandardConfiguration.java
  community/spatial-index/src/test/java/org/neo4j/gis/spatial/index/curves/HistogramMonitor.java
  community/spatial-index/src/test/java/org/neo4j/gis/spatial/index/curves/PartialOverlapConfiguration.java
  community/spatial-index/src/test/java/org/neo4j/gis/spatial/index/curves/SpaceFillingCurveTest.java
  community/spatial-index/src/test/java/org/neo4j/gis/spatial/index/curves/TraverseToBottomConfiguration.java
Labels: 3.4, cypher

#11027 Fix offset bug in periodic commit
  community/cypher/acceptance/src/test/scala/org/neo4j/internal/cypher/acceptance/PeriodicCommitAcceptanceTest.scala
  community/cypher/cypher-compiler-2.3/src/main/scala/org/neo4j/cypher/internal/compiler/v2_3/executionplan/LoadCsvPeriodicCommitObserver.scala
  community/cypher/cypher-compiler-2.3/src/main/scala/org/neo4j/cypher/internal/compiler/v2_3/executionplan/UpdateCounter.scala
  community/cypher/cypher-compiler-2.3/src/main/scala/org/neo4j/cypher/internal/compiler/v2_3/pipes/ExternalResource.scala
  community/cypher/cypher-compiler-2.3/src/main/scala/org/neo4j/cypher/internal/compiler/v2_3/pipes/LoadCSVPipe.scala
  community/cypher/cypher-compiler-2.3/src/main/scala/org/neo4j/cypher/internal/compiler/v2_3/spi/CSVResources.scala
  community/cypher/cypher-compiler-2.3/src/test/scala/org/neo4j/cypher/internal/compiler/v2_3/executionplan/LoadCsvPeriodicCommitObserverTest.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/ProfilerAcceptanceTest.scala
Labels: 2.3, cypher

#11023 Synchronize on a new map entry record
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/kvstore/ConcurrentMapState.java
Labels: 3.2, team-kernel

#11014 Netty 4.1.21.Final
  pom.xml
Labels: 3.1, bolt server, causal clustering, enhancement

#11020 Do not use hard coded port numbers in tests
  community/neo4j-harness/src/test/java/org/neo4j/harness/InProcessBuilderTestIT.java
  integrationtests/src/test/java/org/neo4j/server/BoltQueryLoggingIT.java
Labels: 3.3, team-kernel

#11028 Cleanup usage of deprecated and removed methods in TestSecurityManager
  community/kernel/src/test/java/org/neo4j/test/rule/system/TestSecurityManager.java
Labels: 3.4, team-kernel

#11032 Enable previously disabled page cache tests
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCache.java
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCacheTest.java
Labels: 3.3, team-kernel

#10938 Native indexes recovery cleanup.
  community/consistency-check/src/main/java/org/neo4j/consistency/ConsistencyCheckService.java
  community/consistency-check/src/main/java/org/neo4j/consistency/checking/full/ConsistencyCheckTasks.java
  community/consistency-check/src/main/java/org/neo4j/consistency/internal/SchemaIndexExtensionLoader.java
  community/consistency-check/src/main/java/org/neo4j/consistency/report/ConsistencyReport.java
  community/consistency-check/src/main/java/org/neo4j/consistency/store/synthetic/IndexRecord.java
  community/consistency-check/src/main/java/org/neo4j/consistency/store/synthetic/LabelScanIndex.java
  community/consistency-check/src/test/java/org/neo4j/consistency/checking/AllNodesInStoreExistInLabelIndexTest.java
  community/consistency-check/src/test/java/org/neo4j/consistency/checking/GraphStoreFixture.java
  community/consistency-check/src/test/java/org/neo4j/consistency/checking/IndexConsistencyIT.java
  community/index/src/main/java/org/neo4j/index/internal/gbptree/GBPTree.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/GBPTreeTest.java
  community/kernel/src/main/java/org/neo4j/kernel/api/index/IndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/labelscan/NativeLabelScanStore.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaNumberIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/recovery/RecoveryRequiredChecker.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/record/IndexRule.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/inmemory/InMemoryIndex.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/inmemory/UpdateCapturingIndexAccessor.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/labelscan/NativeLabelScanStoreRebuildTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/labelscan/NativeLabelScanStoreTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessorTest.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/LuceneIndexAccessor.java
Labels: 3.3, bug, team-kernel

#11031 ClusterRule embeds a TimeoutRule
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ConsensusGroupSettingsIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/CoreReplicationIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/test/causalclustering/ClusterRule.java
Labels: 3.4, causal clustering

#11025 3.2 Fixed MultiRetryStrategyTest
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/ClusteringModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/MultiRetryStrategy.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/TopologyServiceMultiRetryStrategy.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/MultiRetryStrategyTest.java
Labels: 3.2, causal clustering

#11030 3.3 multi retry strategy fix
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/ClusteringModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/MultiRetryStrategy.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/TopologyServiceMultiRetryStrategy.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/MultiRetryStrategyTest.java
Labels: 3.3, causal clustering

#11022 3.4 Fixed MultiRetryStrategyTest
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/ClusteringModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/MultiRetryStrategy.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/TopologyServiceMultiRetryStrategy.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/MultiRetryStrategyTest.java
Labels: 3.4, causal clustering

#11029 Bump revapi versions used.
  pom.xml
Labels: 3.4, team-kernel

#11035 Return sets instead of collections in Kernel APIs
  community/kernel/src/main/java/org/neo4j/kernel/api/txstate/TransactionCountingStateVisitor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/ConstraintEnforcingEntityOperations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/StateHandlingStatementOperations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexMap.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexMapReference.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/NodeUpdates.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/operations/EntityReadOperations.java
Labels: 3.4, team-kernel

#10864 Update LdbcAcceptanceTest queries
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/LdbcQueries.scala
Labels: 3.4, cypher

#11044 Acceptance tests now running interpreted
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-interpreted.txt
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/BaseFeatureTest.scala
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/TestConfig.scala
Labels: 3.4, cypher, test-only

#11005 Support injection of initial variables in SemanticState take 2
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/phases/LogicalPlanState.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/phases/BaseState.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/phases/SemanticAnalysis.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/SemanticChecker.scala
  community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/SemanticState.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/SemanticAnalysisTest.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/ast/MultipleGraphClauseSemanticCheckingTest.scala
Labels: 3.4, cypher, openCypher, team-cypher

#11046 Code cleanups
  community/codegen/src/main/java/org/neo4j/codegen/LocalVariable.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/locking/community/RWLock.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/locking/community/RagManager.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/ArrayMap.java
  community/kernel/src/main/java/org/neo4j/unsafe/batchinsert/internal/BatchTokenHolder.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/staging/ProcessorStep.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/NeoStoresTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/util/TestArrayMap.java
  community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/DeleteDuplicateNodesStepTest.java
  community/primitive-collections/src/main/java/org/neo4j/collection/primitive/PrimitiveIntCollections.java
  community/primitive-collections/src/main/java/org/neo4j/collection/primitive/PrimitiveLongCollections.java
  community/primitive-collections/src/test/java/org/neo4j/collection/primitive/PrimitiveIntCollectionsTest.java
  community/primitive-collections/src/test/java/org/neo4j/collection/primitive/PrimitiveLongCollectionsTest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/replication/session/LocalSessionPool.java
Labels: 3.4, team-kernel

#11047 Increase timeout on fileMappedWithDeleteOnCloseMustNotLeakDirtyPages test.
  community/io/src/test/java/org/neo4j/io/pagecache/PageCacheTest.java
Labels: 3.4, team-kernel

#11051 Removed flaky PreElectionIT test
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/PreElectionIT.java
Labels: 3.2, causal clustering, test-only

#11048 FusionIndexUtils correctly suppress on multiple exceptions
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexUtils.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/SpatialFusionIndexUpdater.java
Labels: 3.4, team-kernel

#11036 Close procedure streams on failures
  community/cypher/acceptance-spec-suite/src/test/java/org/neo4j/internal/cypher/acceptance/TestResourceProcedure.java
  community/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/EagerizationAcceptanceTest.scala
  community/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ProcedureCallAcceptanceTest.scala
  community/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ReflectiveProcedureCallAcceptanceTest.scala
  community/cypher/cypher-compiler-3.1/src/main/scala/org/neo4j/cypher/internal/compiler/v3_1/ResultIterator.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/TransactionalContextWrapperv3_0.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/TransactionalContextWrapperv3_1.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_0/ExceptionTranslationSupport.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_0/TransactionBoundQueryContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_1/ExceptionTranslationSupport.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_1/TransactionBoundQueryContext.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/ExecutionEngineIT.scala
  community/cypher/spec-suite-tools/src/test/scala/cypher/feature/steps/SpecSuiteSteps.scala
  community/kernel/src/main/java/org/neo4j/kernel/api/ResourceManager.java
  community/kernel/src/main/java/org/neo4j/kernel/api/ResourceTracker.java
  community/kernel/src/main/java/org/neo4j/kernel/api/Statement.java
  community/kernel/src/main/java/org/neo4j/kernel/api/dbms/DbmsOperations.java
  community/kernel/src/main/java/org/neo4j/kernel/api/exceptions/ResourceCloseFailureException.java
  community/kernel/src/main/java/org/neo4j/kernel/api/proc/CallableProcedure.java
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/JmxQueryProcedure.java
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/ListComponentsProcedure.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/CloseableResourceManager.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelStatement.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/OperationsFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/dbms/NonTransactionalDbmsOperations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ProcedureRegistry.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/Procedures.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ReflectiveProcedureCompiler.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContext.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/TransactionalContext.java
  community/kernel/src/test/java/org/neo4j/kernel/api/StubResourceManager.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/BuiltInProceduresTest.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/JmxQueryProcedureTest.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/StubStatement.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/BuiltInProceduresIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/ProceduresKernelIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/proc/ProcedureJarLoaderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/proc/ProceduresTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/proc/ReflectiveProcedureTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/proc/ReflectiveProcedureWithArgumentsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/proc/ResourceInjectionTest.java
  community/security/src/test/java/org/neo4j/server/security/auth/AuthProceduresTest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/procedures/ClusterOverviewProcedure.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/procedures/GetServersProcedure.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/procedures/RoleProcedure.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/procedures/ClusterOverviewProcedureTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/procedures/GetServersProcedureRoutingTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/procedures/GetServersProcedureTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/procedures/RoleProcedureTest.java
  integrationtests/src/test/java/org/neo4j/procedure/ProcedureIT.java
Labels: 3.1, bug, changelog, cypher

#11042 Backports stability changes for ForkedProcessorStep
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/staging/ForkedProcessorStep.java
Labels: 3.3, team-kernel

#11063 Make discovery extensible
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/EnterpriseCoreEditionModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastClientConnector.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastCoreTopologyService.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastDiscoveryServiceFactory.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastSslConfiguration.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
Labels: 3.3, causal clustering

#11076 Added enforcing of package naming to maven and java classes
  community/cypher/pom.xml
  enterprise/cypher/pom.xml
  pom.xml
Labels: 3.3, build

#11077 Fixed error during upgrade from 3.1 on Debian
  new-packaging/src/debian/package.preinst
Labels: 3.2, changelog, packaging

#11060 Cypher query reduction improvements
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/BT.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/BTTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/CypherReductionSupport.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/CypherReductionSupportTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/DDmin.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/DDminTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/GTR.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/ReductionTestHelper.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/StatementGTRInput.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/StatementLevelBTInput.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/StatementLevelDDInput.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/ast/ASTNodeHelper.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/ast/copyNodeWith.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/ast/domainsOf.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/ast/getChildren.scala
Labels: 3.4, cypher

#10840 Bolt V2 with point type support
  community/bolt/src/main/java/org/neo4j/bolt/transport/DefaultBoltProtocolHandlerFactory.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/messaging/Neo4jPack.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/messaging/Neo4jPackV1.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/packstream/PackStream.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/transport/BoltMessagingProtocolHandlerImpl.java
  community/bolt/src/main/java/org/neo4j/bolt/v2/messaging/Neo4jPackV2.java
  community/bolt/src/test/java/org/neo4j/bolt/AbstractBoltTransportsTest.java
  community/bolt/src/test/java/org/neo4j/bolt/transport/DefaultBoltProtocolHandlerFactoryTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/BoltRequestMessageTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/BoltResponseMessageTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/Neo4jPackV1Test.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/util/MessageMatchers.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/integration/BoltConfigIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/BoltMessagingProtocolHandlerImplTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/BoltV1DechunkerTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/AuthenticationIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/BoltChannelAutoReadLimiterIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/BoltThrottleMaxDurationIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/ConcurrentAccessIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/RejectTransportEncryptionIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/RequiredTransportEncryptionIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/TransportErrorIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/TransportSessionIT.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/TransportTestUtil.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/socket/FragmentedMessageDeliveryTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/socket/SocketTransportHandlerTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v2/messaging/Neo4jPackV2Test.java
  community/bolt/src/test/java/org/neo4j/bolt/v2/transport/integration/BoltV2TransportIT.java
  community/server/src/test/java/org/neo4j/bolt/v1/transport/integration/CertificatesIT.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/CypherQueriesIT.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/integration/PointTypeIT.java
  community/values/src/main/java/org/neo4j/values/storable/CoordinateReferenceSystem.java
  community/values/src/test/java/org/neo4j/values/storable/CoordinateReferenceSystemTest.java
  enterprise/metrics/src/test/java/org/neo4j/metrics/BoltMetricsIT.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/BoltInteraction.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/ProcedureInteractionTestBase.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/integration/bolt/ActiveDirectoryAuthenticationIT.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/integration/bolt/BoltConnectionManagementIT.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/integration/bolt/EnterpriseAuthenticationTestBase.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/integration/bolt/LdapAuthIT.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/integration/bolt/PluginAuthenticationIT.java
Labels: 3.4, bolt server

#11079 Wait for all indexes before running tests in NodeValueIndex*Tests
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeValueIndexCursorTestBase.java
Labels: 3.4, team-kernel

#11080 Backport any order assertions for sets in CompositeIndexingIT
  community/kernel/src/test/java/org/neo4j/kernel/api/CompositeIndexingIT.java
Labels: 3.3, team-kernel

#11010 Implement new VM pause monitor
  community/common/src/main/java/org/neo4j/scheduler/JobScheduler.java
  community/common/src/main/java/org/neo4j/util/Preconditions.java
  community/common/src/main/java/org/neo4j/util/VisibleForTesting.java
  community/common/src/test/java/org/neo4j/util/PreconditionsTest.java
  community/import-tool/src/main/java/org/neo4j/tooling/ImportTool.java
  community/import-tool/src/test/java/org/neo4j/tooling/QuickImport.java
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/cache/MeasureDoNothing.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/cache/VmPauseMonitorComponent.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/DataSourceModule.java
  community/kernel/src/main/java/org/neo4j/kernel/monitoring/VmPauseMonitor.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/staging/ExecutionMonitors.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/staging/OnDemandDetailsExecutionMonitor.java
  community/kernel/src/test/java/org/neo4j/kernel/monitoring/VmPauseMonitorTest.java
  stresstests/src/test/java/org/neo4j/kernel/stresstests/transaction/checkpoint/CheckPointingLogRotationStressTesting.java
Labels: 3.4, changelog, team-kernel

#11082 Flaky rest integration test
  community/server/src/test/java/org/neo4j/server/rest/transactional/integration/QueryResultsSerializationTest.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/integration/TransactionMatchers.java
  community/server/src/test/java/org/neo4j/test/server/SharedServerTestBase.java
Labels: 3.4, team-kernel

#11021 Implement planner support for index queries on distance predicates
  community/cypher/cypher-logical-plans-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/logical/plans/SeekRange.scala
  community/cypher/cypher-logical-plans-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/logical/plans/SeekRangeWrapper.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/cardinality/ExpressionSelectivityCalculator.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/plans/Sargable.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/AbstractIndexSeekLeafPlanner.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/IndexSeekLeafPlanner.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/LogicalPlanProducer.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/mergeUniqueIndexSeekLeafPlanner.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/uniqueIndexSeekLeafPlanner.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/cardinality/ExpressionSelectivityCalculatorTest.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/Compatibility.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/Compatibility.scala
  community/cypher/expressions-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/functions/Distance.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/functions/DistanceTest.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/convert/CommunityExpressionConverter.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/DistanceFunction.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/PointDistanceSeekRangeExpression.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/indexQuery.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/DistanceFunctionTest.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/planDescription/InternalPlanDescription.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/planDescription/LogicalPlan2PlanDescription.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/planDescription/PlanDescriptionArgumentSerializer.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/planDescription/PlanDescriptionArgumentSerializerTests.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CypherComparisonSupport.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialDistanceAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialIndexAcceptanceTest.scala
Labels: 3.4, cypher

#11061 Solves nested pattern comprehension bug in slotted runtime
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/Pipe.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/QueryState.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/matching/History.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/matching/PatternMatcher.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/QueryStateTestSupport.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/matching/HistoryTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/PatternExpressionAcceptance.feature
Labels: 3.4, bug, changelog, cypher

#11071 Fix default value lookup in config to return the original string
  community/kernel/src/main/java/org/neo4j/kernel/configuration/Config.java
  community/kernel/src/test/java/org/neo4j/kernel/configuration/ConfigTest.java
Labels: 3.3, team-kernel

#10972 Add a PageCursor.copyTo(long,ByteBuffer) method.
  community/index/src/test/java/org/neo4j/index/internal/gbptree/PageAwareByteArrayCursor.java
  community/io/src/main/java/org/neo4j/io/pagecache/PageCursor.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/CompositePageCursor.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/DelegatingPageCursor.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCursor.java
  community/io/src/test/java/org/neo4j/io/pagecache/ByteArrayPageCursor.java
  community/io/src/test/java/org/neo4j/io/pagecache/PageCacheTest.java
  community/io/src/test/java/org/neo4j/io/pagecache/PageCacheTestSupport.java
  community/io/src/test/java/org/neo4j/io/pagecache/StubPageCursor.java
  community/unsafe/src/main/java/org/neo4j/unsafe/impl/internal/dragons/UnsafeUtil.java
  community/unsafe/src/test/java/org/neo4j/unsafe/impl/internal/dragons/UnsafeUtilTest.java
Labels: 3.4, team-kernel

#11059 Migrate some instances of TokenNameLookup
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v2_3/TransactionBoundQueryContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_1/TransactionBoundQueryContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_1/TransactionalContextWrapper.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/TokenRead.java
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/BuiltInProcedures.java
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/SchemaProcedure.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/BuiltInProceduresTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/KernelIntegrationTest.java
  community/neo4j/src/test/java/schema/MultiIndexPopulationConcurrentUpdatesIT.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/UniquenessConstraintCreationIT.java
Labels: 3.4, cypher

#11086 Improved error log message in Bolt
  community/bolt/src/main/java/org/neo4j/bolt/transport/SocketTransportHandler.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/socket/SocketTransportHandlerTest.java
Labels: 3.3, bolt server

#11081 Implement comparability semantics for PointValues
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/predicates/ComparablePredicate.scala
  community/values/src/main/java/org/neo4j/values/AnyValueComparator.java
  community/values/src/main/java/org/neo4j/values/AnyValues.java
  community/values/src/main/java/org/neo4j/values/TernaryComparator.java
  community/values/src/main/java/org/neo4j/values/storable/BooleanArray.java
  community/values/src/main/java/org/neo4j/values/storable/BooleanValue.java
  community/values/src/main/java/org/neo4j/values/storable/DateArray.java
  community/values/src/main/java/org/neo4j/values/storable/DateTimeArray.java
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/DateValue.java
  community/values/src/main/java/org/neo4j/values/storable/DurationArray.java
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalDateTimeArray.java
  community/values/src/main/java/org/neo4j/values/storable/LocalDateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalTimeArray.java
  community/values/src/main/java/org/neo4j/values/storable/LocalTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/NoValue.java
  community/values/src/main/java/org/neo4j/values/storable/NonPrimitiveArray.java
  community/values/src/main/java/org/neo4j/values/storable/NumberArray.java
  community/values/src/main/java/org/neo4j/values/storable/NumberValue.java
  community/values/src/main/java/org/neo4j/values/storable/PointArray.java
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  community/values/src/main/java/org/neo4j/values/storable/StringArray.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  community/values/src/main/java/org/neo4j/values/storable/TextArray.java
  community/values/src/main/java/org/neo4j/values/storable/TextValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeArray.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/Value.java
  community/values/src/main/java/org/neo4j/values/storable/ValueComparator.java
  community/values/src/main/java/org/neo4j/values/storable/Values.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, cypher

#11033 Dynamic ports configurations for connectors in server IT tests
  community/server/src/test/java/org/neo4j/server/BaseBootstrapperTestIT.java
  community/server/src/test/java/org/neo4j/server/integration/StartupLoggingIT.java
  enterprise/server-enterprise/src/test/java/org/neo4j/server/enterprise/OpenEnterpriseBootstrapperTestIT.java
Labels: 3.3, team-kernel

#11101 Remove unnecessary cursor allocations
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/NodeProxy.java
Labels: 3.4, cypher, team-kernel

#11096 Count store from kernel API
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/LatestRuntimeVariablePlannerCompatibility.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/Compatibility.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundGraphStatistics.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundPlanContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Read.java
  community/kernel-api/src/main/java/org/neo4j/kernel/api/exceptions/index/IndexNotFoundKernelException.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeTransactionStateTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/RelationshipTransactionStateTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/StubRead.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/AllStoreHolder.java
  community/kernel/src/test/java/org/neo4j/kernel/counts/CompositeCountsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/counts/LabelCountsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/counts/NodeCountsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/MockStore.java
  community/neo4j-harness/src/test/java/org/neo4j/harness/MyCoreAPI.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CartesianProductNotificationAcceptanceTest.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/Fields.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/GeneratedMethodStructure.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/GeneratedQueryStructure.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/Methods.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/Templates.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compiled_runtime/spi/v3_4/GeneratedMethodStructureTest.scala
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/HaCountsIT.java
  integrationtests/src/test/java/org/neo4j/storeupgrade/StoreUpgradeIT.java
Labels: 3.4, cypher

#11097 Make TCKTests and AcceptanceTests executable with maven
  enterprise/cypher/acceptance-spec-suite/pom.xml
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/IndexAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/cypher/features/AcceptanceTests.scala
  enterprise/cypher/compatibility-spec-suite/pom.xml
  enterprise/cypher/compatibility-spec-suite/src/test/scala/cypher/features/TCKTests.scala
  enterprise/cypher/pom.xml
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/ScenarioTestHelper.scala
Labels: 3.4, cypher, test-only

#11089 Refactor topology discovery service tests
  community/kernel/src/test/java/org/neo4j/test/assertion/Assert.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/CoreTopologyService.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/replication/ThrottlerTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterIpFamilyIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterOverviewIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/CoreToCoreCopySnapshotIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/DiscoveryServiceType.java
Labels: 3.4, causal clustering

#11045 More rigid FormatCompatibilityTest
  community/index/src/test/java/org/neo4j/index/internal/gbptree/FormatCompatibilityTest.java
  community/index/src/test/resources/org/neo4j/index/internal/gbptree/current-dynamic-format.zip
  community/index/src/test/resources/org/neo4j/index/internal/gbptree/current-format.zip
Labels: 3.4, team-kernel

#11026 Make use of dynamic keyValueSizeHeader
  community/index/src/main/java/org/neo4j/index/internal/gbptree/DynamicSizeUtil.java
  community/index/src/main/java/org/neo4j/index/internal/gbptree/TreeNodeDynamicSize.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/InternalTreeLogicTestBase.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/TreeNodeDynamicSizeTest.java
  community/index/src/test/java/org/neo4j/index/internal/gbptree/TreeNodeTestBase.java
Labels: 3.4, team-kernel

#11110 Less aggressive test page eviction
  community/io/src/test/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCacheTest.java
Labels: 3.3, team-kernel

#11078 Traversal endpoint script execution is now disabled by default, by introducing the `unsupported.dbms.security.script_enabled` setting, and making it `false` by default.
  community/server/src/main/java/org/neo4j/server/AbstractNeoServer.java
  community/server/src/main/java/org/neo4j/server/configuration/ServerSettings.java
  community/server/src/main/java/org/neo4j/server/rest/domain/EvaluatorFactory.java
  community/server/src/main/java/org/neo4j/server/rest/domain/TraversalDescriptionBuilder.java
  community/server/src/main/java/org/neo4j/server/rest/web/DatabaseActions.java
  community/server/src/main/java/org/neo4j/server/rest/web/RestfulGraphDatabase.java
  community/server/src/main/java/org/neo4j/server/rest/web/ScriptExecutionMode.java
  community/server/src/main/java/org/neo4j/server/scripting/javascript/GlobalJavascriptInitializer.java
  community/server/src/main/java/org/neo4j/server/scripting/javascript/JavascriptExecutor.java
  community/server/src/test/java/org/neo4j/server/BaseBootstrapperTest.java
  community/server/src/test/java/org/neo4j/server/ServerConfigIT.java
  community/server/src/test/java/org/neo4j/server/ServerTestUtils.java
  community/server/src/test/java/org/neo4j/server/helpers/CommunityServerBuilder.java
  community/server/src/test/java/org/neo4j/server/rest/domain/TraversalDescriptionBuilderTest.java
  community/server/src/test/java/org/neo4j/server/rest/paging/PagedTraverserIT.java
  community/server/src/test/java/org/neo4j/server/rest/web/PagingTraversalTest.java
  community/server/src/test/java/org/neo4j/server/rest/web/RestfulGraphDatabasePagedTraversalTest.java
  community/server/src/test/java/org/neo4j/server/rest/web/RestfulGraphDatabaseTest.java
  community/server/src/test/java/org/neo4j/server/rest/web/ScriptExecutionModeTest.java
  community/server/src/test/java/org/neo4j/server/scripting/javascript/TestGlobalJavascriptInitializer.java
  community/server/src/test/java/org/neo4j/server/scripting/javascript/TestJavascriptSecurityRestrictions.java
  enterprise/server-enterprise/src/test/java/org/neo4j/server/enterprise/EnterpriseBootstrapperTest.java
Labels: 3.2, changelog, team-kernel

#11037 3.4 spatial support for 3D cartesian points
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/DistanceFunction.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/PointFunction.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/DistanceFunctionTest.scala
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/IndexQueryTest.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialKnownIndex.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/ValueUtils.java
  community/kernel/src/test/java/org/neo4j/graphdb/IndexingAcceptanceTest.java
  community/kernel/src/test/java/org/neo4j/graphdb/SpatialMocks.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/CompositeIndexAccessorCompatibility.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/SchemaConstraintProviderApprovalTest.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/SchemaIndexProviderApprovalTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/PropertyValueComparisonTest.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/ExecutionResultSerializerTest.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/Neo4jJsonCodecTest.java
  community/spatial-index/src/test/java/org/neo4j/gis/spatial/index/curves/SpaceFillingCurveTest.java
  community/values/src/main/java/org/neo4j/values/storable/CRSCalculator.java
  community/values/src/main/java/org/neo4j/values/storable/CoordinateReferenceSystem.java
  community/values/src/test/java/org/neo4j/values/storable/CoordinateReferenceSystemTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialDistanceAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialIndexAcceptanceTest.scala
Labels: 3.4, changelog, cypher

#11104 3.1 Resolved inc backup debug.logs wrong location
  community/kernel/src/main/java/org/neo4j/kernel/impl/logging/StoreLogService.java
  enterprise/backup/src/main/java/org/neo4j/backup/BackupService.java
  enterprise/com/src/main/java/org/neo4j/com/storecopy/ExternallyManagedPageCache.java
Labels: 3.1, causal clustering, operability, team-kernel

#11106 3.2 Resolved inc backup debug.logs wrong location
  community/kernel/src/main/java/org/neo4j/kernel/impl/logging/StoreLogService.java
  enterprise/backup/src/main/java/org/neo4j/backup/BackupService.java
  enterprise/com/src/main/java/org/neo4j/com/storecopy/ExternallyManagedPageCache.java
Labels: 3.2, causal clustering, operability, team-kernel

#11107 3.3 Resolved inc backup debug.logs wrong location
  enterprise/backup/src/main/java/org/neo4j/backup/BackupService.java
Labels: 3.3, causal clustering, operability, team-kernel

#11100 Assertions and logs for server side transaction streaming
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/tx/ChunkedTransactionStream.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/tx/TxPullRequestHandler.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/tx/ChunkedTransactionStreamTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/tx/TxPullRequestHandlerTest.java
Labels: 3.4, causal clustering, enhancement

#11090 Fix ssl protocol config for ssl context
  community/server/src/main/java/org/neo4j/server/security/ssl/SslSocketConnectorFactory.java
  community/ssl/src/main/java/org/neo4j/ssl/SslPolicy.java
  integrationtests/src/test/java/org/neo4j/bolt/BoltTlsIT.java
  integrationtests/src/test/java/org/neo4j/ssl/SecureClient.java
  integrationtests/src/test/java/org/neo4j/ssl/SecureCommunicationsTest.java
  integrationtests/src/test/java/org/neo4j/ssl/SecureServer.java
  integrationtests/src/test/java/org/neo4j/ssl/SslContextFactory.java
  integrationtests/src/test/java/org/neo4j/ssl/SslNegotiationTest.java
  integrationtests/src/test/java/org/neo4j/ssl/SslPlatformTest.java
  integrationtests/src/test/java/org/neo4j/ssl/SslTrustTest.java
Labels: 3.2, bolt server, bug, changelog, security, team-cluster

#11066 Throw error with descriptive message when tx logs not found.
  tools/src/main/java/org/neo4j/tools/dump/TransactionLogAnalyzer.java
  tools/src/test/java/org/neo4j/tools/dump/TransactionLogAnalyzerTest.java
Labels: 3.4, team-kernel

#11105 Split function without RegEx
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/SplitFunctionTest.scala
  community/values/src/main/java/org/neo4j/values/storable/StringValue.java
Labels: 3.4, bug, cypher

#11112 Removes critical warning
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/ComparablePredicateTest.scala
Labels: 3.4, cypher

#11103 Remove TypeSafeMathSupport
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/TypeSafeMathSupport.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Add.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Divide.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Expression.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Multiply.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Subtract.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/aggregation/AvgFunction.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/aggregation/SumFunction.scala
  community/values/src/main/java/org/neo4j/values/storable/FloatingPointValue.java
  community/values/src/main/java/org/neo4j/values/storable/IntegralValue.java
  community/values/src/main/java/org/neo4j/values/storable/NumberValue.java
  community/values/src/test/java/org/neo4j/values/storable/NumberValueMathTest.java
Labels: 3.4, cypher

#11102 Parsing, creating temporal values and selecting them into other temporal values
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/DateFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/DateTimeFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/LocalDateTimeFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/LocalTimeFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/TemporalFunction.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/temporal/TimeFunction.java
  community/values/src/main/java/org/neo4j/values/StructureBuilder.java
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/DateValue.java
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalDateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/NumberValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  community/values/src/test/java/org/neo4j/values/storable/DateTimeValueTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-33.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-interpreted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-slotted.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/default.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/DurationBetweenAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalAccessorAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalArithmeticAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalComparisonAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalCreateAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalParseAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalSelectAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalToStringAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalTruncateAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/Neo4jValueToString.scala
  enterprise/cypher/spec-suite-tools/src/test/scala/cypher/features/ScenarioTestHelper.scala
  integrationtests/src/test/java/org/neo4j/procedure/UserFunctionIT.java
  integrationtests/src/test/resources/misc/userDefinedFunctions
Labels: 3.4, cypher

#11122 Forbid to import junit.framework package
  build/checkstyle.xml
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/TwoLayerTxStateTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelectionTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/RelationshipSelectionTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelectionTestBase.java
Labels: 3.4, build, team-kernel

#10997 Various little fixes of code smells and bugs suggested by sonarQube
  community/cypher/cypher/src/main/java/org/neo4j/cypher/export/SubGraphExporter.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledConversionUtils.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/ParameterConverter.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/tracing/TimingCompilationTracer.java
  enterprise/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/DefaultTopTable.java
  enterprise/cypher/cypher/src/main/java/org/neo4j/cypher/internal/v3_4/codegen/profiling/ProfilingTracer.java
  enterprise/cypher/cypher/src/test/java/org/neo4j/cypher/internal/codegen/SetStaticFieldTest.java
  enterprise/cypher/slotted-runtime/src/main/java/org/neo4j/cypher/internal/compatibility/v3_4/runtime/slotted/DefaultComparatorTopTable.java
Labels: 3.4, cypher

#11117 Test that asserts TZIDS did not change.
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/TimeZoneMappingTest.java
Labels: 3.4, cypher, team-kernel
