Repository neo4j/neo4j, pull requests merged in 2018-04, with the labels that each got.

#11423 Moved test class to actual project and made tests able to run
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_3/ExceptionTranslationSupport.scala
  enterprise/cypher/acceptance-spec-suite/src/test/java/org/neo4j/internal/cypher/acceptance/TestResourceProcedure.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ReflectiveProcedureCallAcceptanceTest.scala
Labels: 3.3, cypher, test-only

#11420 Fix infinity in PointValues, take II
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/SemanticIndexAcceptanceTest.scala
  community/values/src/main/java/org/neo4j/values/AnyValueComparator.java
  community/values/src/main/java/org/neo4j/values/storable/Values.java
Labels: 3.4, bug, cypher

#11410 Do not truncate Offsets to minutes
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ZonedDateTimeLayout.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ZonedDateTimeSchemaKey.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/TemporalType.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/ZonedDateTimeLayoutTest.java
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalCreateAcceptance.feature
Labels: 3.4, cypher, team-kernel

#11436 Add file separators after each name part to construct correct Windows file names
  community/io/src/test/java/org/neo4j/graphdb/mockfs/EphemeralFileSystemAbstraction.java
Labels: 3.4, team-kernel

#11439 Fail state machine after marked failure is handled
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/BoltStateMachine.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/BoltStateMachineTest.java
Labels: 3.4, bolt server, team-drivers

#11425 Add value exception for UnsupportedTemporalUnit
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v2_3/exceptionHandler.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_1/exceptionHandler.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_3/exceptionHandler.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/exceptionHandler.scala
  community/values/src/main/java/org/neo4j/values/storable/DateValue.java
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalDateTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/LocalTimeValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  community/values/src/main/java/org/neo4j/values/utils/UnsupportedTemporalUnitException.java
  community/values/src/main/java/org/neo4j/values/utils/ValuesException.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CypherComparisonSupport.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher

#11437 Introduce zip utils with a helper method to zip file/folder.
  community/index/src/test/java/org/neo4j/index/internal/gbptree/FormatCompatibilityTest.java
  community/io/src/main/java/org/neo4j/io/compress/ZipUtils.java
  community/io/src/test/java/org/neo4j/io/compress/ZipUtilsTest.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexProvider.java
Labels: 3.4, team-kernel

#11426 Allow execution of snapshot queries over bolt endpoint
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/TransactionStateMachineSPI.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/javacompat/EagerResult.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/javacompat/ExecutionResult.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/javacompat/QueryResultProvider.java
  community/server/src/test/java/org/neo4j/server/rest/transactional/integration/SnapshotQueryExecutionIT.java
  integrationtests/src/test/java/org/neo4j/bolt/BoltSnapshotQueryExecutionIT.java
Labels: 3.3, bug, team-kernel

#11412 Change comparison of DateTimes
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/ZonedDateTimeSchemaKey.java
  community/values/src/main/java/org/neo4j/values/storable/DateTimeValue.java
  community/values/src/test/java/org/neo4j/values/storable/ValueComparisonTest.java
Labels: 3.4, cypher

#11399 Makes index value validation customizable per IndexAccessor
  community/index/src/main/java/org/neo4j/index/internal/gbptree/DynamicSizeUtil.java
  community/index/src/main/java/org/neo4j/index/internal/gbptree/TreeNodeDynamicSize.java
  community/kernel/src/main/java/org/neo4j/kernel/NeoStoreDataSource.java
  community/kernel/src/main/java/org/neo4j/kernel/api/index/IndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/ExplicitIndexValueValidator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/IndexTextValueLengthValidator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/IndexValueLengthValidator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementation.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactions.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/StateHandlingStatementOperations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/AbstractDelegatingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/FailedIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/FlippableIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexMapReference.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexingService.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/OnlineIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/PopulatingIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/RecoveringIndexProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/IndexTxStateUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/StringSchemaIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexBase.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/IndexTxStateUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/transaction/state/storeview/StoreViewNodeStoreScan.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/Validators.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/store/BatchingNeoStores.java
  community/kernel/src/test/java/org/neo4j/kernel/api/KernelTransactionFactory.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/ExplicitIndexValueValidatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/IndexTextValueLengthValidatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/IndexValueLengthValidatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/IndexValueValidatorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionTerminationTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionTestBase.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexProxyAdapter.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/IndexQueryTransactionStateTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/IndexTxStateUpdaterTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/LabelTransactionStateTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/SchemaTransactionStateTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/StateHandlingStatementOperationsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/StateOperationsAutoIndexingTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NativeStringIndexingIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/fusion/FusionIndexAccessorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/IndexTxStateUpdaterTest.java
  community/lucene-index/src/main/java/org/neo4j/index/impl/lucene/explicit/LuceneExplicitIndex.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/LuceneIndexAccessor.java
  community/lucene-index/src/main/java/org/neo4j/kernel/impl/api/ExplicitIndexValueValidator.java
  community/lucene-index/src/main/java/org/neo4j/kernel/impl/api/LuceneIndexValueValidator.java
  community/lucene-index/src/test/java/org/neo4j/kernel/impl/api/ExplicitIndexValueValidatorTest.java
  community/lucene-index/src/test/java/org/neo4j/kernel/impl/api/LuceneIndexValueValidatorTest.java
  community/neo4j/src/test/java/org/neo4j/kernel/impl/index/schema/NativeStringIndexingIT.java
  community/neo4j/src/test/java/schema/IndexValuesValidationTest.java
Labels: 3.4, team-kernel

#11440 Optimize slotted runtime result production
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/CypherAdapterStream.java
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/PipeExecutionResult.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/ResultIterator.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/executionplan/DefaultExecutionResultBuilderFactory.scala
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/result/QueryResult.java
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/internal/runtime/RuntimeJavaValueConverter.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/ArrayResultExecutionContext.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/SlottedExecutionResultBuilderFactory.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/ProduceResultSlottedPipe.scala
Labels: 3.4, cypher

#11392 Don't share state between parts
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexFiles.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexPopulatingUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexFiles.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexPopulatingUpdater.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexUpdater.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/SpatialIndexCacheTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/TemporalIndexCacheTest.java
Labels: 3.4, bug, cypher, team-kernel

#11450 Bump timeout in ManualAcquireLockTest
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/ManualAcquireLockTest.java
Labels: 3.4, team-kernel

#11421 Additional HTTP header validation in the CORS filter
  community/server/src/main/java/org/neo4j/server/modules/RESTApiModule.java
  community/server/src/main/java/org/neo4j/server/rest/web/CorsFilter.java
  community/server/src/main/java/org/neo4j/server/web/HttpHeaderUtils.java
  community/server/src/main/java/org/neo4j/server/web/HttpMethod.java
  community/server/src/test/java/org/neo4j/server/rest/security/AuthorizationCorsIT.java
  community/server/src/test/java/org/neo4j/server/rest/web/CorsFilterTest.java
  community/server/src/test/java/org/neo4j/server/web/HttpHeaderUtilsTest.java
  community/server/src/test/java/org/neo4j/server/web/HttpMethodTest.java
Labels: 3.4, bolt server, team-drivers

#11369 Make sure that handlers share state on test catchup server
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchupProtocolServerInstaller.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchupServerBuilder.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchupServerHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/RegularCatchupServerHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/server/CoreServerModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/FakeCatchupServer.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/FakeFile.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/TestCatchupServer.java
Labels: 3.4, causal clustering

#11441 Avoid unnecessary 3.3 -> 3.4 migration
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/NeoStores.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/format/BaseRecordFormats.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/format/Capability.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/format/RecordFormats.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/CountsMigrator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/ExplicitIndexMigrator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/SchemaIndexMigrator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/StoreMigrator.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/format/BaseRecordFormatsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/format/ForcedSecondaryUnitRecordFormats.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/format/RecordFormatPropertyConfiguratorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/storemigration/participant/CountsMigratorTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/state/PrepareTrackingRecordFormats.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/store/format/highlimit/HighLimitStoreMigrationTest.java
Labels: 3.4, performance, team-kernel

#11359 Limit number of retries when file channels closed by interruption
  community/io/src/main/java/org/neo4j/io/pagecache/impl/SingleFilePageSwapper.java
Labels: 3.4, team-kernel

#11451 Less key copy when iterating over results
  community/index/src/main/java/org/neo4j/index/internal/gbptree/SeekCursor.java
Labels: 3.4, performance, team-kernel

#11396 3.4 spatial index settings improvements
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndexHeaderReader.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/NativeSchemaIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexFiles.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/config/SpaceFillingCurveSettings.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/config/SpaceFillingCurveSettingsFactory.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/config/SpatialIndexSettings.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/config/SpaceFillingCurveSettingsFactoryTest.java
  community/spatial-index/src/main/java/org/neo4j/gis/spatial/index/Envelope.java
  community/values/src/main/java/org/neo4j/values/storable/CoordinateReferenceSystem.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/IndexPersistenceAcceptanceTest.scala
Labels: 3.4, cypher

#11460 Mistype in TransactionBatchCommitter log message
  enterprise/com/src/main/java/org/neo4j/com/storecopy/TransactionBatchCommitter.java
Labels: 3.4, team-kernel

#11430 Fix for BackupCoreIT from any instance
  enterprise/backup/src/test/java/org/neo4j/causalclustering/BackupCoreIT.java
Labels: 3.4, causal clustering, test-only

#11448 Add additional mock verification to prevent gc from collecting weak reference in RecordFormatSelectorTest
  enterprise/kernel/src/test/java/org/neo4j/kernel/impl/store/format/RecordFormatSelectorTest.java
Labels: 3.4, team-kernel

#11434 Disable execution of *IntegrationTest* in surefire and move that to failsafe
  pom.xml
Labels: 3.4, build, team-kernel

#11442 Move over more things to Kernel API
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/ExecutionEngine.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/QueryCachingTest.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundTokenContext.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContextTest.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/ExecutionStatistics.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/ExplicitIndexRead.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/ExplicitIndexWrite.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Transaction.java
  community/kernel/src/main/java/org/neo4j/kernel/api/ProcedureCallOperations.java
  community/kernel/src/main/java/org/neo4j/kernel/api/Statement.java
  community/kernel/src/main/java/org/neo4j/kernel/api/TokenWriteOperations.java
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/IndexProcedures.java
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/TokenProcedures.java
  community/kernel/src/main/java/org/neo4j/kernel/guard/Guard.java
  community/kernel/src/main/java/org/neo4j/kernel/guard/TerminationGuard.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelStatement.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementation.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/OperationsFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/GraphPropertiesProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/NodeProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/core/RelationshipProxy.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/IndexManagerImpl.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/PropertyContainerLocker.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/schema/PropertyNameUtils.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/schema/SchemaImpl.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/factory/GraphDatabaseFacade.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/ExplicitIndexStore.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/AllStoreHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Read.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContext.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContextFactory.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/query/TransactionalContext.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/IdPrettyPrinter.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/StubKernelTransaction.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/StubStatement.java
  community/kernel/src/test/java/org/neo4j/kernel/counts/CompositeCountsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/counts/LabelCountsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/counts/RelationshipCountsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/guard/TerminationGuardTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexPopulationJobTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexStatisticsTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/store/StorageLayerPropertyTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/MockStore.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/query/Neo4jTransactionalContextTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/SchemaStorageTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/transaction/state/storeview/NeoStoreIndexStoreViewTest.java
  community/lucene-index/src/test/java/org/neo4j/concurrencytest/ConstraintIndexConcurrencyTest.java
  community/neo4j-harness/src/test/java/org/neo4j/harness/MyCoreAPI.java
  community/neo4j/src/test/java/org/neo4j/locking/QueryExecutionLocksIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterDiscoveryIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterOverviewIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/InstalledProtocolsProcedureIT.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/EagerizationAcceptanceTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/CloseTransactionTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/ExecutionEngineIT.scala
  enterprise/kernel/src/test/java/org/neo4j/kernel/enterprise/builtinprocs/StubKernelTransaction.java
Labels: 3.4, cypher, team-kernel

#11464 Upgrade netty to 4.1.23.Final
  pom.xml
Labels: 3.4, causal clustering, enhancement

#11427 upgrade dependencies
  community/cypher/cypher-planner-3.4/pom.xml
  pom.xml
Labels: 3.4

#11456 Describes dbms.index.default_schema_provider setting
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
Labels: 3.4, docs, team-kernel

#11453 Stress test temporal and spatial index population
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/sampling/IndexSamplingConfig.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/IndexPopulationStressTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/SpatialIndexPopulationStressTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/TemporalIndexPopulationStressTest.java
Labels: 3.4, cypher, team-kernel

#11472 Avoid indirectory relying on commons-lang3.
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/ProfileRefCounts.java
Labels: 3.4, ha, team-kernel

#11400 Batching neostore fixes
  community/io/src/test/java/org/neo4j/graphdb/mockfs/EphemeralFileSystemAbstraction.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/store/BatchingNeoStores.java
Labels: 3.4, team-kernel

#11475 Fix race in netty protocol install
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/protocol/NettyPipelineBuilder.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/protocol/NettyPipelineBuilderTest.java
Labels: 3.4, bug, causal clustering

#11466 Using common code for creation of spatial index range settings
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/config/SpatialIndexSettings.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/IndexPersistenceAcceptanceTest.scala
Labels: 3.4, cypher

#11467 Seek tests for arrays of spatial and temporal
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialIndexResultsAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalIndexAcceptanceTest.scala
Labels: 3.4, cypher, test-only

#11477 Unflake AuthenticationIT.shouldFailDifferentlyIfTooManyFailedAuthAttempts
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/AuthenticationIT.java
Labels: 3.4, bolt server, team-drivers, test-only

#11474 Support composite indexing for spatial and temporal
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/schema/ValueEncoding.java
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CompositeIndexAcceptanceTest.scala
Labels: 3.4, PRIORITY, bug, cypher

#11465 Add assertion so we're not leaking references
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/valueHelper.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/DefaultValueMapper.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/PathWrappingPathValue.java
Labels: 3.4, cypher

#11483 Assert that node key and unique constraint works as expected
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CompositeNodeKeyConstraintAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/UniqueConstraintVerificationAcceptanceTest.scala
Labels: 3.4, cypher, test-only

#11459 Skip index verification for not completed constraints during the consistency check
  community/consistency-check/src/main/java/org/neo4j/consistency/checking/SchemaRecordCheck.java
  community/consistency-check/src/main/java/org/neo4j/consistency/checking/index/IndexAccessors.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/store/DefaultCapableIndexReference.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/record/IndexRule.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/store/record/IndexRuleTest.java
  integrationtests/src/test/java/org/neo4j/consistency/HalfCreatedConstraintIT.java
Labels: 3.4, team-kernel

#11491 Fix leaking resource in StoreResource
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/FileSender.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreResource.java
Labels: 3.3, causal clustering

#11378 Support Values in compiled runtime
  community/codegen/pom.xml
  community/codegen/src/main/java/org/neo4j/codegen/Expression.java
  community/codegen/src/main/java/org/neo4j/codegen/TypeReference.java
  community/codegen/src/main/java/org/neo4j/codegen/bytecode/ByteCodeExpressionVisitor.java
  community/cypher/cypher-planner-3.4/src/main/java/org/neo4j/cypher/internal/compiler/v3_4/common/CypherOrderability.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledConversionUtils.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledEquivalenceUtils.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledMaterializeValueMapper.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledMathHelper.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/NodeIdWrapperImpl.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/RelationshipIdWrapperImpl.java
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/ExecutionEngine.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/codegen/CompiledConversionUtilsTest.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/codegen/CompiledMathHelperTest.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/ListSupport.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/Divide.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/DivideTest.scala
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/exceptionHandler.scala
  community/kernel/src/main/java/org/neo4j/kernel/impl/util/ValueUtils.java
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/IndexNestedLoopJoinAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/IndexingTestSupport.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAggregationsBackedByCountStoreAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/NodeIndexSeekAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SemanticErrorAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialIndexResultsAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalIndexAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/UniqueIndexUsageAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/UsingAcceptanceTest.scala
  enterprise/cypher/compatibility-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/LogicalPlanConverter.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/AcceptVisitor.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/ApplyInstruction.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/Projection.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/UnwindCollection.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/aggregation/AggregateExpression.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/aggregation/Distinct.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/aggregation/DynamicCount.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/CodeGenExpression.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/CodeGenType.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/ExpressionConverter.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/ListLiteral.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/Modulo.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/MyMap.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/NodeProperty.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/Parameter.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/RepresentationType.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/spi/MethodStructure.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/helpers/LiteralTypeSupport.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/AuxGenerator.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/GeneratedMethodStructure.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/GeneratedQueryStructure.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/Methods.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/Templates.scala
Labels: 3.4, cypher

#11496 NPE in discovery service
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastClusterTopology.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/HazelcastClusterTopologyTest.java
Labels: 3.4, bug, causal clustering

#11500 Change nodeUniqueIndexSeek to use fresh index reader
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v2_3/TransactionBoundQueryContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_1/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/Read.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/StubRead.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/AllStoreHolder.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/DefaultNodeValueIndexCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Operations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/newapi/Read.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/NodeGetUniqueFromIndexSeekIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/UniquenessConstraintValidationIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/MockStore.java
Labels: 3.4, cypher, team-kernel

#11506 Fix test assertion on platform dependent message
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SemanticErrorAcceptanceTest.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/CypherReductionSupportTest.scala
Labels: 3.4, bug, cypher, test-only

#11504 Restore ability of BatchingNeoStores to create new store based on already existent
  community/kernel/src/main/java/org/neo4j/kernel/impl/storageengine/impl/recordstorage/RecordStorageEngine.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/NeoStores.java
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/store/BatchingNeoStores.java
  enterprise/neo4j-enterprise/src/test/java/org/neo4j/unsafe/impl/batchimport/store/BatchingNeoStoresIT.java
Labels: 3.4, bug, team-kernel

#11502 Do not scan node store for high id on each loop iteration in consistency checker.
  community/consistency-check/src/main/java/org/neo4j/consistency/checking/cache/CacheTask.java
  community/consistency-check/src/test/java/org/neo4j/consistency/checking/cache/CheckNextRelTaskTest.java
Labels: 3.4, bug, team-kernel

#11498 Report direct allocated bytes in transaction status report
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/TransactionExecutionStatistic.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/enterprise/builtinprocs/TransactionStatusResultTest.java
Labels: 3.4, bug, team-kernel

#11505 Do not hit node store on index scans and no unnecessary wrapping.
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v2_3/TransactionBoundQueryContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_1/TransactionBoundQueryContext.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/TransactionBoundQueryContext.scala
Labels: 3.4, cypher

#11493 Add missing tests for sparse nodes
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/helpers/NodesTest.java
Labels: 3.4, cypher, test-only

#11495 Fix flaky test in `ExecutorBoltSchedulerTest`
  community/bolt/src/test/java/org/neo4j/bolt/runtime/ExecutorBoltSchedulerTest.java
Labels: 3.4, bolt server

#11507 Do not share cursors between chunks on legacy store re-import
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/StoreMigrator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/StoreScanAsInputIterator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/StoreScanChunk.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/storemigration/participant/StoreScanChunkIT.java
Labels: 3.4, bug, team-kernel

#11454 Added some docs to config around backups
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/CausalClusteringSettings.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/enterprise/configuration/OnlineBackupSettings.java
Labels: 3.4, causal clustering, config, operability

#11510 Add tests for not writing when setting properties to the existing value.
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/GraphPropertiesTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeWriteTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/RelationshipWriteTestBase.java
Labels: 3.4, cypher, team-kernel, test-only

#11524 Fix bug with literal null in compiled runtime
  community/cypher/cypher-planner-3.4/src/main/java/org/neo4j/cypher/internal/compiler/v3_4/common/CypherOrderability.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledConversionUtils.java
  community/cypher/cypher/src/main/java/org/neo4j/cypher/internal/codegen/CompiledIndexUtils.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/ReturnAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/UnwindAcceptance.feature
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/Literal.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/codegen/ir/expressions/MyMap.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/GeneratedMethodStructure.scala
Labels: 3.4, bug, cypher

#11492 Dump internal and user logs on test failure to diagnose the problem
  community/neo4j-harness/src/main/java/org/neo4j/harness/ServerControls.java
  community/neo4j-harness/src/main/java/org/neo4j/harness/internal/AbstractInProcessServerBuilder.java
  community/neo4j-harness/src/main/java/org/neo4j/harness/internal/InProcessServerControls.java
  community/neo4j-harness/src/main/java/org/neo4j/harness/junit/Neo4jRule.java
  integrationtests/src/test/java/org/neo4j/bolt/SessionResetIT.java
Labels: 3.4, team-drivers, test-only

#11486 Better error handling on request handlers
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/RegularCatchupServerHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/GetIndexFilesRequest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/GetIndexSnapshotRequestHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/GetStoreFileRequest.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/GetStoreFileRequestHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyRequestHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/messaging/StoreCopyRequest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/PrepareStoreCopyRequestHandlerTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyRequestHandlerTest.java
Labels: 3.4, bug, causal clustering

#11525 Made backup names in OnlineBackupHaIT unique.
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandHaIT.java
Labels: 3.4, causal clustering, operability, test-only

#11522 Revert changes to MarshlandPool
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/id/IdContainer.java
  community/primitive-collections/src/main/java/org/neo4j/collection/pool/LinkedQueuePool.java
  community/primitive-collections/src/main/java/org/neo4j/collection/pool/MarshlandPool.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/id/HaIdGeneratorFactory.java
Labels: 3.4, team-kernel

#11528 Update count store migration message to be "Migrating Counts store"
  community/kernel/src/main/java/org/neo4j/kernel/impl/storemigration/participant/CountsMigrator.java
  community/neo4j/src/test/java/org/neo4j/kernel/impl/storemigration/StoreUpgraderTest.java
Labels: 3.4, team-kernel

#11526 Start count store during restartable import store initialization
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/store/BatchingNeoStores.java
Labels: 3.4, team-kernel

#11517 Breaks a deadlock in the test discovery service
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryService.java
Labels: 3.4, bug, causal clustering, test-only

#11489 Multiclustering static database name
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/CausalClusteringSettings.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/server/CoreServerModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/ClusteringModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/storage/SimpleStorage.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/identity/ClusterBinder.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/identity/DatabaseName.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/identity/MemberId.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/Cluster.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/ClusterMember.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/CoreClusterMember.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/identity/ClusterBinderTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/MultiClusteringIT.java
Labels: 3.4, causal clustering

#11521 Better error message when trying to store mixed type array
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/ErrorMessagesTest.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/CastSupport.scala
Labels: 3.4, cypher

#11519 Move timeout to after cluster has started.
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/CoreToCoreCopySnapshotIT.java
Labels: 3.4, causal clustering, test-only

#11513 Flip IndexProxy to failed if population fails while applying last batch
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexStoreView.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/MultipleIndexPopulator.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexPopulationTest.java
Labels: 3.4, team-kernel

#11518 Support an `offsetSeconds` accessor for Time and DateTime.
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/TemporalAccessorAcceptance.feature
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher

#11534 Use case insensitive zone id parser during LOAD CSV
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
Labels: 3.4, cypher

#11533 Remove confusing metrics warning messages
  enterprise/metrics/src/main/java/org/neo4j/metrics/source/Neo4jMetricsBuilder.java
Labels: 3.4, team-kernel

#11531 Do NOT close system channels as part of outside world close
  community/command-line/src/main/java/org/neo4j/commandline/admin/ParameterisedOutsideWorld.java
Labels: 3.4, build, team-kernel

#11539 3.4 clean up KernelIT
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeLabelIndexCursorTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeTransactionStateTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeWriteTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/TransactionTestBase.java
  community/kernel/src/test/java/org/neo4j/graphdb/CreateAndDeleteNodesIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/KernelIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/GraphPropertiesTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/NodeTransactionStateTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/RelationshipTransactionStateTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/TransactionTest.java
Labels: 3.4, cypher, team-kernel, test-only

#11452 Added other valid values for backup protocol flag
  enterprise/backup/src/main/java/org/neo4j/backup/impl/OnlineBackupContextBuilder.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/SelectedBackupProtocol.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/StrategyResolverService.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/BackupHelpOutput.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandCcIT.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandHaIT.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandTest.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupContextBuilderTest.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/StrategyResolverServiceTest.java
Labels: 3.4, causal clustering, operability

#11473 Log usage of dbms.clearQueryCaches() in debug.log
  community/kernel/src/main/java/org/neo4j/kernel/builtinprocs/BuiltInDbmsProcedures.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/BuiltInProceduresTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/QueryEngineProceduresAcceptanceTest.scala
Labels: 3.4, cypher

#11546 updated 2.x-config-migrator.jar to the latest version
  packaging/standalone/src/main/distribution/shell-scripts/bin/tools/2.x-config-migrator.jar
Labels: 3.4, operability

#11523 Add migration test 3.3 -> 3.4
  community/neo4j/src/test/java/migration/StartOldDbOn3_4AndCreateFusionIndexIT.java
  community/neo4j/src/test/resources/migration/3_3-db.zip
Labels: 3.4, team-kernel

#11514 Improve logging and exception handling
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/messaging/ReconnectingChannel.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/net/Server.java
Labels: 3.4, causal clustering

#11555 Fix issue with cost planning index seeks
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/ContextCreator.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/CypherCompiler.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/CachedMetricsFactory.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/CardinalityCostModel.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/Metrics.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/SimpleMetricsFactory.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/DbStructureLogicalPlanningConfiguration.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/LogicalPlanningTestSupport.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/LogicalPlanningTestSupport2.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/RealLogicalPlanningConfiguration.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/CardinalityCostModelTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/PickBestPlanUsingHintsAndCostTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/plans/AllNodesLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/plans/IdSeekLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/plans/LabelScanLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/LegacyHintLeafPlannerTest.scala
  community/cypher/cypher-compiler-3.2/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/OuterHashJoinTest.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/CompilerEngineDelegator.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/ExecutionEngine.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/CartesianProductNotificationAcceptanceTest.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/GraphDatabaseTestSupport.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compiler/v3_2/CypherCompilerAstCacheAcceptanceTest.scala
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CostPlannerAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/NodeIndexSeekAcceptanceTest.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/EnterpriseContextCreator.scala
Labels: 3.2, cypher

#11499 Provide backup client feedback via Monitors
  community/kernel/src/main/java/org/neo4j/kernel/monitoring/Monitors.java
  community/kernel/src/test/java/org/neo4j/kernel/monitoring/MonitorsTest.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/BackupOutputMonitor.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/BackupProtocolService.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/BackupStrategyCoordinatorFactory.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/BackupSupportingClassesFactory.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/CausalClusteringBackupStrategy.java
  enterprise/backup/src/main/java/org/neo4j/backup/impl/OnlineBackupCommandBuilder.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/BackupOutputMonitorTest.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/BackupStrategyWrapperTest.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandCcIT.java
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandHaIT.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/RemoteStore.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClient.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/server/CoreServerModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/RemoteStoreTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helpers/CausalClusteringTestHelpers.java
  enterprise/com/src/main/java/org/neo4j/com/storecopy/StoreCopyClient.java
  enterprise/com/src/main/java/org/neo4j/com/storecopy/StoreCopyClientMonitor.java
  enterprise/com/src/main/java/org/neo4j/com/storecopy/ToFileStoreWriter.java
  enterprise/com/src/test/java/org/neo4j/com/storecopy/StoreCopyClientTest.java
  enterprise/com/src/test/java/org/neo4j/com/storecopy/ToFileStoreWriterTest.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/cluster/SwitchToSlaveBranchThenCopy.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/cluster/SwitchToSlaveCopyThenBranch.java
  enterprise/ha/src/main/java/org/neo4j/kernel/ha/factory/HighlyAvailableEditionModule.java
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/cluster/HighAvailabilityMemberStateMachineTest.java
Labels: 3.4, causal clustering, operability

#11547 Fixing "binary operator expected" exception
  packaging/standalone/src/main/distribution/shell-scripts/bin/neo4j
  packaging/standalone/src/main/distribution/shell-scripts/bin/neo4j-admin
  packaging/standalone/src/main/distribution/shell-scripts/bin/neo4j-backup
  packaging/standalone/src/main/distribution/shell-scripts/bin/neo4j-import
  packaging/standalone/src/main/distribution/shell-scripts/bin/neo4j-shared.m4
  packaging/standalone/src/main/distribution/shell-scripts/bin/neo4j-shell
Labels: 3.4, build

#11480 Adds --db to neo4j-admin memrec
  community/command-line/src/main/java/org/neo4j/commandline/arguments/Arguments.java
  community/command-line/src/main/java/org/neo4j/commandline/arguments/common/Database.java
  community/consistency-check/src/main/java/org/neo4j/consistency/CheckConsistencyCommand.java
  community/dbms/src/main/java/org/neo4j/commandline/dbms/DumpCommand.java
  community/dbms/src/main/java/org/neo4j/commandline/dbms/ImportCommand.java
  community/dbms/src/main/java/org/neo4j/commandline/dbms/LoadCommand.java
  community/dbms/src/main/java/org/neo4j/commandline/dbms/MemoryRecommendationsCommand.java
  community/dbms/src/main/java/org/neo4j/commandline/dbms/MemoryRecommendationsCommandProvider.java
  community/dbms/src/test/java/org/neo4j/commandline/dbms/MemoryRecommendationsCommandTest.java
  community/kernel/src/main/java/org/neo4j/kernel/api/index/IndexDirectoryStructure.java
  community/lucene-index/src/main/java/org/neo4j/kernel/api/impl/index/storage/FailureStorage.java
  enterprise/backup/src/main/java/org/neo4j/restore/RestoreDatabaseCli.java
  enterprise/causal-clustering/src/main/java/org/neo4j/commandline/dbms/UnbindFromClusterCommand.java
Labels: 3.4, docs, operability, team-kernel

#11541 Uses normal conditional instead of bitwise OR
  community/csv/src/main/java/org/neo4j/csv/reader/BufferedCharSeeker.java
Labels: 3.2, performance, team-kernel

#11571 Allow dropping broken constraint indexes in more cases
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/DataIntegrityValidatingStatementOperations.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/store/SchemaCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/store/StorageLayer.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/schema/IndexDefinitionImpl.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/schema/SchemaImpl.java
  community/kernel/src/test/java/org/neo4j/graphdb/schema/DropBrokenUniquenessConstraintIT.java
Labels: 3.3, team-kernel

#11572 Coordinates instantiate/close in spatial/temporal indexes
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexPopulator.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexAccessor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexCache.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexPopulator.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/IndexProviderCompatibilityTestSuite.java
  community/kernel/src/test/java/org/neo4j/kernel/api/index/SimpleIndexPopulatorCompatibility.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/index/IndexPopulationTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/SpatialIndexCacheTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/TemporalIndexCacheTest.java
Labels: 3.4, team-cypher, team-kernel

#11548 Clean up more old kernel tests
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeWriteTestBase.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/LabelIT.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/PropertyIT.java
Labels: 3.4, cypher, team-kernel, test-only

#11570 Add USING INDEX SEEK hint to Neo4j Cypher
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/AbstractIndexSeekLeafPlanner.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/indexScanLeafPlanner.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/uniqueIndexSeekLeafPlanner.scala
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/planner/logical/steps/verifyBestPlan.scala
  community/cypher/frontend-3.2/src/main/scala/org/neo4j/cypher/internal/frontend/v3_2/ast/Clause.scala
  community/cypher/frontend-3.2/src/main/scala/org/neo4j/cypher/internal/frontend/v3_2/ast/Hint.scala
  community/cypher/frontend-3.2/src/main/scala/org/neo4j/cypher/internal/frontend/v3_2/parser/Clauses.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/HintAcceptanceTest.scala
Labels: 3.2, cypher

#11585 Make sure to produce reasonable plans for empty databases
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/CypherCompiler.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/CachedMetricsFactory.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/CardinalityCostModel.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/Metrics.scala
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/SimpleMetricsFactory.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/DbStructureLogicalPlanningConfiguration.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/LogicalPlanningTestSupport.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/LogicalPlanningTestSupport2.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/RealLogicalPlanningConfiguration.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/CardinalityCostModelTest.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/PickBestPlanUsingHintsAndCostTest.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/idp/IDPQueryGraphSolverTest.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/plans/AllNodesLeafPlannerTest.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/plans/IdSeekLeafPlannerTest.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/plans/LabelScanLeafPlannerTest.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/LeftOuterHashJoinTest.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/steps/RightOuterHashJoinTest.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/CompilerEngineDelegator.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/ExecutionEngine.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/CommunityRuntimeContext.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compatibility/v3_4/CypherCompilerAstCacheAcceptanceTest.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/MathFunction.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/IdSeekIterator.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/GraphDatabaseTestSupport.scala
  community/kernel/src/main/java/org/neo4j/graphdb/factory/GraphDatabaseSettings.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CartesianProductNotificationAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CompositeIndexAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/CostPlannerAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ExecutionEngineTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/NodeIndexSeekAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ShortestPathLongerAcceptanceTest.scala
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/compiled/EnterpriseRuntimeContext.scala
  enterprise/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/queryReduction/CypherReductionSupport.scala
Labels: 3.4, cypher

#11566 Properly shutdown test db
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/QueryEngineProceduresAcceptanceTest.scala
Labels: 3.4, cypher, test-only

#11562 Exclude guava from org.bitbucket.inkytonik.kiama dependency.
  enterprise/cypher/acceptance-spec-suite/LICENSES.txt
  enterprise/cypher/acceptance-spec-suite/NOTICE.txt
  enterprise/cypher/compatibility-spec-suite/LICENSES.txt
  enterprise/cypher/compatibility-spec-suite/NOTICE.txt
  enterprise/cypher/cypher/LICENSES.txt
  enterprise/cypher/cypher/NOTICE.txt
  enterprise/cypher/cypher/pom.xml
  enterprise/neo4j-harness-enterprise/LICENSES.txt
  enterprise/neo4j-harness-enterprise/NOTICE.txt
  enterprise/server-enterprise/LICENSES.txt
  enterprise/server-enterprise/NOTICE.txt
Labels: 3.4, cypher

#11587 Channel exception/close handling
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchUpResponseHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchupProtocolClientInstaller.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/TrackingResponseHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/protocol/NettyPipelineBuilder.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/protocol/NettyPipelineBuilderTest.java
Labels: 3.4, causal clustering, enhancement

#11552 Add tests for new types to the PropertyRecordCheckTest (ConsistencyChecker)
  community/consistency-check/src/test/java/org/neo4j/consistency/checking/PropertyRecordCheckTest.java
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/SemanticIndexAcceptanceTest.scala
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/TemporalType.java
  community/values/src/main/java/org/neo4j/values/storable/TimeValue.java
  community/values/src/main/java/org/neo4j/values/utils/TemporalUtil.java
Labels: 3.4, cypher, team-kernel

#11478 Migrate tests from old kernel API
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/security/SecurityContext.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/NodeLabelIndexCursorTestBase.java
  community/kernel-api/src/test/java/org/neo4j/internal/kernel/api/SchemaReadWriteTestBase.java
  community/kernel/src/main/java/org/neo4j/kernel/api/KernelTransaction.java
  community/kernel/src/main/java/org/neo4j/kernel/api/KernelTransactionHandle.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementation.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelTransactionImplementationHandle.java
  community/kernel/src/test/java/org/neo4j/kernel/builtinprocs/StubKernelTransaction.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/KernelTransactionAssertOpenTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/TestKernelTransactionHandle.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/newapi/NodeLabelIndexCursorTest.java
  community/neo4j/src/test/java/org/neo4j/locking/QueryExecutionLocksIT.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/enterprise/builtinprocs/EnterpriseBuiltInDbmsProcedures.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/enterprise/builtinprocs/TransactionStatusResult.java
  enterprise/kernel/src/test/java/org/neo4j/kernel/enterprise/builtinprocs/StubKernelTransaction.java
  enterprise/security/src/main/java/org/neo4j/server/security/enterprise/auth/AuthProceduresBase.java
  enterprise/security/src/test/java/org/neo4j/server/security/enterprise/auth/ProcedureInteractionTestBase.java
Labels: 3.4, cypher, team-kernel

#11588 Supplies MemoryRecommendationsCommandTest with memory arg
  community/dbms/src/test/java/org/neo4j/commandline/dbms/MemoryRecommendationsCommandTest.java
Labels: 3.4, team-kernel

#11559 Minor expand improvements
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelection.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelectionCursor.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelection.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelectionCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelStatement.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/CommonAbstractStore.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/StoreRecordCursor.java
Labels: 3.4, cypher, team-kernel

#11561 Extra cast to fix compilation error
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/GeneratedMethodStructure.scala
Labels: 3.4, bug, cypher

#11582 simplifySelection shouldn't redo work
  community/cypher/cypher-planner-3.4/src/main/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/plans/rewriter/simplifySelections.scala
  community/cypher/cypher-planner-3.4/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/planner/logical/plans/rewriter/SimplifySelectionsTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAcceptanceTest.scala
Labels: 3.4, cypher

#11563 Precompute inputs to map
  community/kernel/src/main/java/org/neo4j/kernel/api/proc/FieldSignature.java
  community/kernel/src/main/java/org/neo4j/kernel/api/proc/UserFunctionSignature.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/proc/ReflectiveProcedureCompiler.java
Labels: 3.3, cypher

#11550 Spatial and Temporal don't assume file existence
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/IndexingService.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/SpatialIndexProvider.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/index/schema/TemporalIndexProvider.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NativeIndexProviderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/NumberIndexProviderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/SpatialIndexProviderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/StringIndexProviderTest.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/TemporalIndexProviderTest.java
  community/neo4j/src/test/java/migration/StartOldDbOn3_4AndCreateFusionIndexIT.java
Labels: 3.4, team-kernel

#11581 Don't fail building semantic error message with invalid numeric literal
  community/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/HelpfulErrorMessagesTest.scala
  community/cypher/frontend-3.1/src/main/scala/org/neo4j/cypher/internal/frontend/v3_1/ast/ArithmeticFunctions.scala
Labels: 3.1, bug, cypher

#11553 Allow nodes with arbitrary properties when passing them to PointFunction
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/PointFunction.scala
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, bug, cypher

#11591 Fix bug when sending null to STARTS WITH on 2.3
  community/cypher/cypher-logical-plans-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/logical/plans/SeekRange.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v2_3/TransactionBoundQueryContext.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/scala/cypher/features/AcceptanceTests.scala
Labels: 3.4, bug, cypher

#11606 3.4 Renamed Multicluster routing procedures
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/EnterpriseCoreEditionModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/routing/multi_cluster/MultiClusterRoutingResult.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/routing/multi_cluster/procedure/GetRoutersForAllDatabasesProcedure.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/routing/multi_cluster/procedure/GetRoutersForDatabaseProcedure.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/routing/multi_cluster/procedure/MultiClusterRoutingResultFormat.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/routing/multi_cluster/procedure/ParameterNames.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/routing/multi_cluster/procedure/ProcedureNames.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/routing/multi_cluster/procedure/MultiClusterRoutingProcedureTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/MultiClusterRoutingIT.java
Labels: 3.4, causal clustering

#11575 3.4 Fix Cluster Overview edge-cases
  enterprise/backup/src/test/java/org/neo4j/backup/impl/OnlineBackupCommandCcIT.java
  enterprise/backup/src/test/java/org/neo4j/causalclustering/BackupCoreIT.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/LeaderInfo.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/LeaderListener.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/RaftMachine.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/CoreTopologyService.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastClusterTopology.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastCoreTopologyService.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/RaftCoreTopologyConnector.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/procedures/ClusterOverviewProcedure.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/Cluster.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryCoreClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryService.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterFormationIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterOverviewIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ConsensusGroupSettingsIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/CoreReplicationIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/MultiClusterRoutingIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/MultiClusteringIT.java
  integrationtests/src/test/java/org/neo4j/causalclustering/scenarios/BoltCausalClusteringIT.java
Labels: 3.4, bug, causal clustering

#11605 Bump java driver version to 1.5.2
  pom.xml
Labels: 3.4, test-only

#11613 Add update service command to PowerShell scripts
  packaging/standalone/src/main/distribution/shell-scripts/bin/Neo4j-Management/Get-Neo4jPrunsrv.ps1
  packaging/standalone/src/main/distribution/shell-scripts/bin/Neo4j-Management/Invoke-Neo4j.ps1
  packaging/standalone/src/main/distribution/shell-scripts/bin/Neo4j-Management/Update-Neo4jServer.ps1
  packaging/standalone/src/tests/Neo4j-Management/Run-Tests.ps1
  packaging/standalone/src/tests/Neo4j-Management/unit/Get-Neo4jPrunsrv.Tests.ps1
  packaging/standalone/src/tests/Neo4j-Management/unit/Update-Neo4jServer.Tests.ps1
Labels: 3.3, changelog, operability

#11590 Make test less prone to failing
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchLongPatternAcceptanceTest.scala
Labels: 3.4, cypher, test-only

#11618 Node/relationship by id seek should handle negative ids properly
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_3/DelegatingQueryContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_3/QueryContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_3/TransactionBoundQueryContext.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MatchAcceptanceTest.scala
Labels: 3.3, bug, cypher

#11604 Fix bug when sending null to STARTS WITH on 2.3
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/SeekRange.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v2_3/TransactionBoundQueryContext.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_1/TransactionBoundQueryContext.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-23.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/compatibility-31.txt
Labels: 3.2, bug, cypher

#11592 Fix test assertions
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ProfilerAcceptanceTest.scala
Labels: 3.3, cypher, test-only

#11610 Unflake AuthenticationIT
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/AuthenticationIT.java
Labels: 3.4, bolt server, team-drivers, test-only

#11619 Netty 4.1.24.Final
  pom.xml
Labels: 3.4, bolt server, bug, causal clustering

#11609 Removes unused bootstrapper class and related obsolete tests
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/integrationtest/BuiltInProceduresIT.java
  enterprise/server-enterprise/src/main/java/org/neo4j/server/enterprise/OpenEnterpriseBootstrapper.java
  enterprise/server-enterprise/src/main/java/org/neo4j/server/enterprise/OpenEnterpriseEntryPoint.java
  enterprise/server-enterprise/src/test/java/org/neo4j/server/enterprise/OpenEnterpriseBootstrapperTestIT.java
  enterprise/server-enterprise/src/test/java/org/neo4j/server/enterprise/OpenEnterpriseEntryPointTest.java
  packaging/standalone/src/main/distribution/shell-scripts/bin/Neo4j-Management/Get-Java.ps1
  packaging/standalone/src/main/distribution/shell-scripts/bin/Neo4j-Management/Get-Neo4jPrunsrv.ps1
  packaging/standalone/src/tests/Neo4j-Management/unit/Get-Java.Tests.ps1
  packaging/standalone/src/tests/Neo4j-Management/unit/Get-Neo4jPrunsrv.Tests.ps1
Labels: 3.4, operability, packaging

#11620 Revert to using IdentityHashMap for NodeStateImpl index diffs.
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/NodeStateImpl.java
Labels: 3.4, cypher, team-kernel

#11584 Fix bug in query cache key.
  community/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/StringMatchingAcceptanceTest.scala
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/CypherCompiler.scala
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/QueryCachingTest.scala
Labels: 3.1, bug, changelog, cypher

#11594 Corrects FailedIndexProxy behaviour for updates
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/index/FailedIndexProxy.java
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/PropertyConstraintsStressIT.java
Labels: 3.4, team-kernel

#11598 Small spatial bugfixes
  community/cypher/expressions-3.4/src/main/scala/org/neo4j/cypher/internal/v3_4/functions/ToString.scala
  community/cypher/frontend-3.4/src/test/scala/org/neo4j/cypher/internal/frontend/v3_4/semantics/functions/ToStringTest.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/StringFunctions.scala
  community/values/src/main/java/org/neo4j/values/storable/CSVHeaderInformation.java
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  community/values/src/main/java/org/neo4j/values/storable/TemporalValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SemanticErrorAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, bug, cypher

#11545 CC workload for different property types.
  community/common/src/test/java/org/neo4j/test/Randoms.java
  community/cypher/cypher/src/test/scala/org/neo4j/cypher/internal/compiler/v3_4/SemanticIndexAcceptanceTest.scala
  community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/ValueType.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/event/PropertyEntryImpl.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/DateLayoutTestUtil.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/DateTimeLayoutTestUtil.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/DurationLayoutTestUtil.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/LocalDateTimeLayoutTestUtil.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/LocalTimeLayoutTestUtil.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/TimeLayoutTestUtil.java
  community/neo4j/src/test/java/org/neo4j/unsafe/impl/batchimport/ParallelBatchImporterTest.java
  stresstests/src/test/java/org/neo4j/causalclustering/stresstests/CreateNodesWithProperties.java
Labels: 3.4, causal clustering, cypher

#11574 Unflake: Use separate test directories for different stress tests
  community/kernel/src/test/java/org/neo4j/kernel/impl/index/schema/IndexPopulationStressTest.java
Labels: 3.4, cypher, test-only

#11595 Reduce object allocation in Comparator
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/predicates/ComparablePredicate.scala
  community/values/src/main/java/org/neo4j/values/AnyValueComparator.java
  community/values/src/main/java/org/neo4j/values/AnyValues.java
  community/values/src/main/java/org/neo4j/values/Comparison.java
  community/values/src/main/java/org/neo4j/values/TernaryComparator.java
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  community/values/src/main/java/org/neo4j/values/storable/Value.java
  community/values/src/main/java/org/neo4j/values/storable/ValueComparator.java
  community/values/src/main/java/org/neo4j/values/storable/Values.java
  enterprise/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/spi/v3_4/codegen/Templates.scala
Labels: 3.4, cypher

#11611 Fix page cache warmer test flakiness, and other things.
  community/common/src/main/java/org/neo4j/scheduler/JobScheduler.java
  community/common/src/test/java/org/neo4j/scheduler/JobSchedulerAdapter.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/scheduler/CentralJobScheduler.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/scheduler/GroupedDaemonThreadFactory.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/util/CountingJobScheduler.java
  community/kernel/src/test/java/org/neo4j/test/FakeClockJobScheduler.java
  community/kernel/src/test/java/org/neo4j/test/OnDemandJobScheduler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/IdentityModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/upstream/strategies/LeaderOnlyStrategy.java
  enterprise/causal-clustering/src/main/resources/META-INF/services/org.neo4j.causalclustering.upstream.UpstreamDatabaseSelectionStrategy
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/CoreClusterMember.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/ReadReplica.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/PageCacheWarmerKernelExtension.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/PageCacheWarmerMonitor.java
  enterprise/kernel/src/main/java/org/neo4j/kernel/impl/pagecache/WarmupAvailabilityListener.java
  integrationtests/src/test/java/org/neo4j/auth/FlatFileStressBase.java
  integrationtests/src/test/java/org/neo4j/kernel/PageCacheWarmupCcIT.java
  integrationtests/src/test/java/org/neo4j/kernel/PageCacheWarmupTestSupport.java
  stresstests/src/test/java/org/neo4j/helper/DatabaseConfiguration.java
Labels: 3.4, team-cluster, team-kernel

#11607 Suspendable LifeCycle
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/tx/CatchupPollingProcess.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/CausalClusteringSettings.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/CoreGraphDatabase.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/EnterpriseCoreEditionModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/server/CoreServerModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/state/snapshot/CoreStateDownloader.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/helper/CompositeSuspendable.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/helper/ErrorHandler.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/helper/Suspendable.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/helper/SuspendableLifeCycle.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/net/Server.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/readreplica/EnterpriseReadReplicaEditionModule.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/CatchupServerIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/storecopy/StoreCopyClientIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/tx/CatchupPollingProcessTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/state/snapshot/CoreStateDownloaderTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/Cluster.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/CoreClusterMember.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helper/CompositeSuspendableTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helper/CountingThrowingSuspendableLifeCycle.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helper/ErrorHandlerTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helper/StateAwareSuspendableLifeCycle.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helper/SuspendableLifeCycleFailingTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helper/SuspendableLifeCycleLifeStateChangeTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helper/SuspendableLifeCycleSuspendedStateChangeTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/helper/SuspendableLifecycleStateTestHelpers.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/messaging/ReconnectingChannelIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/net/ServerStateTest.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ReadReplicaHierarchicalCatchupIT.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ReadReplicaToReadReplicaCatchupIT.java
Labels: 3.4, causal clustering

#11629 3.4 Preserve step down term when old leader steps down in new term
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/LeaderInfo.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/LeaderListener.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/RaftMachine.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/outcome/Outcome.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/consensus/roles/Leader.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/CoreTopologyService.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastClusterTopology.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/HazelcastCoreTopologyService.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/discovery/RaftCoreTopologyConnector.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryCoreClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/discovery/SharedDiscoveryService.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/scenarios/ClusterOverviewIT.java
Labels: 3.4, bug, causal clustering

#11637 Bump Neo4j Browser version to 3.1.8
  community/server/pom.xml
Labels: browser

#11636 Do not pass null to SyntaxException
  community/cypher/runtime-util/src/main/scala/org/neo4j/cypher/exceptionHandler.scala
Labels: 3.4, bug, cypher

#11612 Unflake BoltSchedulerShouldReportFailureWhenBusyIT
  community/bolt/src/test/java/org/neo4j/bolt/runtime/integration/BoltSchedulerShouldReportFailureWhenBusyIT.java
Labels: 3.4, bolt server, team-drivers, test-only

#11565 LIMIT support for long values
  community/cypher/cypher-compiler-3.2/src/main/scala/org/neo4j/cypher/internal/compiler/v3_2/pipes/LimitPipe.scala
  community/cypher/frontend-3.2/src/main/scala/org/neo4j/cypher/internal/frontend/v3_2/ast/ASTNode.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/MiscAcceptanceTest.scala
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SemanticErrorAcceptanceTest.scala
Labels: 3.2, cypher

#11640 Prevent PageCacheWarmupCcIT flakiness due to random leader switches.
  integrationtests/src/test/java/org/neo4j/kernel/PageCacheWarmupCcIT.java
Labels: 3.4, team-kernel

#11639 Added test that verifies correct behaviour after null syntax error bug
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/TemporalAcceptanceTest.scala
Labels: 3.4, cypher, test-only

#11641 Abort catchup request if channel is closed
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/CatchUpClient.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/catchup/CatchUpClientIT.java
Labels: 3.4, causal clustering

#11631 neo4j-admin memrec calculates lucene/native sizes for db
  community/dbms/src/main/java/org/neo4j/commandline/dbms/MemoryRecommendationsCommand.java
  community/dbms/src/test/java/org/neo4j/commandline/dbms/MemoryRecommendationsCommandTest.java
Labels: 3.4, docs, team-kernel

#11650 Revert record cursor change that caused performance regression
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelection.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipDenseSelectionCursor.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelection.java
  community/kernel-api/src/main/java/org/neo4j/internal/kernel/api/helpers/RelationshipSparseSelectionCursor.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/KernelStatement.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/CommonAbstractStore.java
  community/kernel/src/main/java/org/neo4j/kernel/impl/store/StoreRecordCursor.java
Labels: 3.4, bug, cypher, team-kernel

#11645 More thorough index startup testing
  community/neo4j/src/test/java/migration/StartOldDbOn3_4AndCreateFusionIndexIT.java
Labels: 3.4, team-kernel

#11589 Remove duplicate parameter in parameterized PropertyConstraintsStressIT
  enterprise/ha/src/test/java/org/neo4j/kernel/ha/PropertyConstraintsStressIT.java
Labels: 3.3, ha, team-kernel

#11654 Prevent the CheckPointer from blocking CausalCluster Catchup.
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPageCache.java
  community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnPagedFile.java
  community/io/src/test/java/org/neo4j/io/pagecache/PageCacheTest.java
  enterprise/neo4j-enterprise/src/test/java/org/neo4j/consistency/HighLimitFullCheckIT.java
Labels: 3.4, team-kernel

#11662 Change streamed tx message to debug level
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/catchup/tx/TxPullRequestHandler.java
Labels: 3.4, causal clustering, enhancement

#11667 Fix broken/flaky limit test
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/ProfilerAcceptanceTest.scala
Labels: 3.3, cypher, test-only

#11655 Unflake test
  community/procedure-compiler/integration-tests/src/test/java/org/neo4j/tooling/procedure/ProcedureTest.java
Labels: 3.4, cypher, team-drivers, test-only

#11673 Disable restriction on open maps as arguments to point function
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/expressions/PointFunction.scala
  community/values/src/main/java/org/neo4j/values/storable/PointValue.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/SpatialFunctionsAcceptanceTest.scala
Labels: 3.4, bug, cypher
