Repository neo4j/neo4j, pull requests merged in 2018-06, with the labels that each got.

#11808 Aggregation (SUM, AVG) for Durations
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/aggregation/AvgFunction.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/aggregation/NumericOrDurationAggregationExpression.scala
  community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/aggregation/SumFunction.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/aggregation/AvgFunctionTest.scala
  community/cypher/interpreted-runtime/src/test/scala/org/neo4j/cypher/internal/runtime/interpreted/pipes/aggregation/SumFunctionTest.scala
  community/values/src/main/java/org/neo4j/values/storable/DurationValue.java
  community/values/src/test/java/org/neo4j/values/storable/DurationValueTest.java
  enterprise/cypher/acceptance-spec-suite/src/test/scala/org/neo4j/internal/cypher/acceptance/AggregationAcceptanceTest.scala
Labels: 3.5, changelog, cypher

#11905 ShortestPlan predicate planning error
  community/cypher/cypher/src/main/scala/org/neo4j/cypher/internal/compatibility/v3_4/runtime/CommunityPipeBuilder.scala
  enterprise/cypher/acceptance-spec-suite/src/test/resources/blacklists/cost-compiled.txt
  enterprise/cypher/acceptance-spec-suite/src/test/resources/cypher/features/ShortestPathAcceptance.feature
Labels: 3.4, bug, cypher

#11884 Do not visit modified nodes that does not have property/label changes
  community/kernel/src/main/java/org/neo4j/kernel/impl/api/state/TxState.java
  community/kernel/src/test/java/org/neo4j/kernel/impl/api/state/TxStateTest.java
  integrationtests/src/test/java/org/neo4j/PropertyExistenceIT.java
Labels: 3.5, team-kernel

#11909 Improve the error reporting in the rare flaky RelationshipIdReuseStressIT failures.
  enterprise/kernel/src/test/java/org/neo4j/graphdb/store/id/RelationshipIdReuseStressIT.java
Labels: 3.5, team-kernel

#11866 Remove hand rolled hashing
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHash.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashMap.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashMultiMap.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashSet.java
  community/cypher/runtime-util/src/main/java/org/neo4j/cypher/internal/runtime/LongArrayHashTable.java
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArrayHashMapTest.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArrayHashMultiMapTest.scala
  community/cypher/runtime-util/src/test/scala/org/neo4j/cypher/internal/runtime/LongArrayHashSetTest.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/DistinctSlottedPrimitivePipe.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/DistinctSlottedSinglePrimitivePipe.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/EagerAggregationSlottedPrimitivePipe.scala
  enterprise/cypher/slotted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/slotted/pipes/NodeHashJoinSlottedPipe.scala
Labels: 3.5, cypher, enhancement

#11906 3.4 replication metrics
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/ReplicationModule.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/replication/RaftReplicator.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/replication/monitoring/LoggingReplicationMonitor.java
  enterprise/causal-clustering/src/main/java/org/neo4j/causalclustering/core/replication/monitoring/ReplicationMonitor.java
  enterprise/causal-clustering/src/test/java/org/neo4j/causalclustering/core/replication/RaftReplicatorTest.java
  enterprise/metrics/src/main/java/org/neo4j/metrics/source/causalclustering/CoreMetrics.java
  enterprise/metrics/src/main/java/org/neo4j/metrics/source/causalclustering/ReplicationMetric.java
Labels: 3.4, causal clustering

#11908 Log full message on protocol error in Bolt
  community/bolt/src/main/java/org/neo4j/bolt/transport/DefaultBoltProtocolPipelineInstaller.java
  community/bolt/src/main/java/org/neo4j/bolt/transport/pipeline/MessageDecoder.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/messaging/BoltRequestMessage.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/messaging/BoltRequestMessageReader.java
  community/bolt/src/test/java/org/neo4j/bolt/transport/pipeline/MessageDecoderTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/messaging/BoltRequestMessageTest.java
Labels: 3.4, bolt server

#11918 Consider length field when computing maximum frame length
  community/bolt/src/main/java/org/neo4j/bolt/transport/pipeline/ChunkDecoder.java
  community/bolt/src/test/java/org/neo4j/bolt/transport/pipeline/ChunkDecoderTest.java
Labels: 3.4, bolt server, team-drivers

#11916 Skip message processing when Bolt connection terminated
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/BoltStateMachine.java
  community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/ErrorReporter.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/BoltStateMachineTest.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/runtime/MachineRoom.java
  community/bolt/src/test/java/org/neo4j/bolt/v1/transport/integration/ConnectionTerminationIT.java
  integrationtests/src/test/java/org/neo4j/bolt/GraphDatabaseFactoryWithCustomBoltKernelExtension.java
Labels: 3.4, bolt server
